<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle" i18n:translate="">Login</tal:block>
</head>


<body>
<div metal:use-macro="../../${templates}/common.html/top" />
<div class="container">

	
	
	
		<div class="span-24 last top">
	
		<div class="span-24 last append-bottom" style="clear: both; background: rgb(255, 255, 255) url(//b.static.repix.no/cms/images/banner_ny.jpg) no-repeat scroll center top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; height: 288px; width: 950px;">
			<h2 class="hide">Reedfoto</h2>
		</div>



	
		<div class="span-24 last">
			<div class="box error">
				<h3>Hent bilder fra Norwaycup.</h3>
				<p>Skriv inn den unike koden på kortet du mottok fra vår fotograf:<br /></p>
				<!--<p>Skriv inn din kode og få bildene dine</p>-->
				
					<div class="error">
						<h5 class="prepend-top">Beklager. Koden du skrev inn var feil. Vennligst sjekk koden, og prøv igjen.</h5>
						<p>PS! Husk at 0 (null) og O (stor o) og I (stor i) og 1 kan være lett og forveksle.</p>
					</div>

				
				<form action="/fetchalbum/barcodenc/" method="post">
					<input name="identifier" type="text" class="title" value="${request/params/post/identifier}" style="border-color: #c00"/> &nbsp; <button class="large" type="submit">Hent bilder</button>
				</form>
			</div>
		</div>

		<tal:block tal:repeat="item items" tal:condition="exists:items">
			<tal:block class="top" tal:content="structure item/body|default" tal:condition="equal:item/type,article"></tal:block>
		</tal:block>
		
	</div>
	
	
	
	<div class="span-24 last">
		
		
	</div>
	

</div>

<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>

</body>
</html>