<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle">
		<tal:block i18n:translate="">Create gift</tal:block> - <tal:block tal:content="selected/product/title" />
	</tal:block>
	
	
	<link rel="stylesheet" href="${static:css/gift.css}?${version}" type="text/css" media="screen, projection" />

	
		<style type="text/css">

		.add_text {
			height: 250px;
		}
		.page-index{
			margin: 0;
			padding: 0;
			list-style-type: none;
			text-align: center;
			margin-bottom: 5px;
		}
		
		.page-index li { display: inline; }
		
		.page-index li a{
			text-decoration: none;
			padding: .2em 1em;
			color: #fff;
			background-color: #036;
		}
		
		.page-index li a:hover{
			color: #fff;
			background-color: #369;
		}
		
		.selected-pageselect{
			background-color: #33abff !important;
		}
		#font-list{
			position: relative;
		}
		
		#font-list span{
			display: block; 
			border: solid 1px #ccc;
			height: 20px;
			width: 200px;
			padding: 4px 1px 0px 10px;
		}
		
		#font-list span:after {
			content: ' ';
			height: 0;
			position: absolute;
			width: 0;
			border: 4px solid transparent;
			border-top-color: #333;
			top: 40%;
			left: 84%;
		}
		
		.fonter-container{
			position: absolute;
			height: 400px;
			border: solid 1px #ccc;
			overflow-y: auto;
			overflow-x: hidden;
			z-index: 99999;
		}
		
		#fonter{
			list-style-type: none;
			background: #fff;
			width: 213px;
			margin: 0px;
		}
		#fonter li{
			padding: 5px;
			font-size: 1.1em;
			cursor:  default;
		}
		li.active{
			background: lightblue;
		}
		
	  </style>
</head>

<body>
	
	<div metal:use-macro="../../common/loader.html/fullscreen" />
	
	<div class="container create-gift">

	<div metal:use-macro="../../${templates}/common.html/top" />
	
	<div class="span-24 last" id="gift-editor">
	
		<input type="hidden" value="${selected/product/id}" name="productid" id="productid"/>
		<input type="hidden" value="${selected/productoptionid}" name="productoptionid" id="productoptionid"/>
		
			<div class="span-24 last page" >
				
				<div class="span-16">
					
					<div class="functions span-10">
						<div class="span-10 last">
							<h2 class="bottom" tal:condition="exists:selected/product/title">
								<tal:block tal:content="selected/product/title" tal:condition="selected/product/title"/>
								<a href="${request/referer}" class="back normalize" i18n:translate="">Go back</a>
							</h2>
							<div id="ie6-loader-container"></div>
						</div>
					</div>
					<div class="span-6 last info right">
							<p style="margin: 0 0 0.5em; font-weight: bold;" class="top" i18n:translate="">Click and drag your image to move it around.</p>
							<p>
								<button id="zoom-out" i18n:translate="">Zoom out</button> <button id="zoom-in" i18n:translate="">Zoom in</button>
							</p>
					</div>
					
					
					<div class="span-16 last">
						
						<ul class="page-index">
							<li><a href="#" id="previndex" >forrige</a></li>
						<tal:block tal:repeat="page selected/template/pages">
							<li>
								<a href="#" index="" tal:attributes="index repeat/page/number" class="select-page" id="template-wrapper-${page/malpageid}" tal:content="repeat/page/number"></a>
							</li>
						</tal:block>
						<li><a href="#" id="nextindex" >neste</a></li>
						</ul>
					</div>
						
						<div class="span-16 last" id="gift-editor-wrapper">
							
							<tal:block tal:repeat="page selected/template/pages">
									<div class="template hide template-wrapper-${page/malpageid}" id="template-wrapper">
									<input type="hidden" id="initMalpageid" name="malpageid" value="${page/malpageid}" tal:condition="exists:page"/>
									<input type="hidden" id="initMalid" name="malid" value="${selected/template/id}" tal:condition="exists:page"/>
									<input type="hidden" id="websize_x" name="malid" value="${page/websize_x}" tal:condition="exists:page"/>
									<input type="hidden" id="websize_y" name="malid" value="${page/websize_y}" tal:condition="exists:page"/>
							
							<div class="helper">&nbsp;</div>
							
							<tal:block condition="page/fullsize_src">
								<img id="template" class="highrestemplate" 
									src="${static:}images/gifttemplates/thumbs/width/${page/websize_x}/${page/fullsize_src}" 
								/>
							</tal:block>
							
							<tal:block condition="not:page/fullsize_src">
								<img id="template" class="highrestemplate" 
									src="${static:}images/gifttemplatesweb/thumbs/blankbox/${page/websize_x}x${page/websize_y}/${selected/template/id}.png" 
								/>
							</tal:block>
							
	
							<!-- finds other template if not set -->
							<tal:block condition="not:page/fullsize_src">
								<tal:block tal:repeat="gifttemplate collections/gifttemplates">
									<tal:block tal:condition="equal:repeat/gifttemplate/number,1" tal:repeat="page gifttemplate/pages">
										<input type="hidden" id="initMalid" name="malid" value="${gifttemplate/id}" tal:condition="exists:gifttemplate"/>
										<tal:block tal:condition="equal:repeat/page/number,1">
											<tal:block tal:condition="page/fullsize_src">
												<img id="template" class="highrestemplate" 
													src="${static:}images/gifttemplates/thumbs/width/630/${page/fullsize_src}" alt="template"
												/>
												<input type="hidden" id="initMalid" name="malid" value="${page/websize_x}" />
												<input type="hidden" id="initMalid" name="malid" value="${page/websize_y}" />
												<input type="hidden" id="initMalid" name="malid" value="${gifttemplate/id}" />
												<input type="hidden" id="initMalpageid" name="malpageid" value="${page/malpageid}" />
											</tal:block>
											<tal:block tal:condition="not:page/fullsize_src">
												<img id="template" 
													class="highrestemplate" 
													src="${static:}gfx/404/no_template.png" alt="no template"
												/>
											</tal:block>
										</tal:block>
									</tal:block>
								</tal:block>
							</tal:block>
							<div id="image-wrapper">
								<tal:block tal:condition="equal:repeat/page/number,1">
									<tal:block tal:condition="selected/imageid">
										<img id="image"	src="/images/stream/image/${selected/image/id}/630/400" alt="?"/>
										<input type="hidden" id="selected-image" value="${selected/imageid}" />
									</tal:block>
									<tal:block tal:condition="not:selected/imageid">
										<img id="image" class="noimage" alt="no image" src="${static:}gfx/gui/pixblank.gif" />
										<input type="hidden" id="selected-image" value="0" />
									</tal:block>
								</tal:block>
								<tal:block tal:condition="not:equal:repeat/page/number,1">
									<img id="image" class="noimage" alt="no image" src="${static:}gfx/gui/pixblank.gif" />
									<input type="hidden" id="selected-image" value="0" />
								</tal:block>
							</div>
							
							
							<!-- store the values -->
							<input type="hidden" id="original-template-width" class="coordinate" value="${page/fullsize_x}"/>
							<input type="hidden" id="original-template-height" class="coordinate" value="${page/fullsize_y}"/>
							<input type="hidden" id="original-pos-x" class="coordinate" value="${page/fullsize_pos_x}"/>
							<input type="hidden" id="original-pos-y" class="coordinate" value="${page/fullsize_pos_y}"/>
							<input type="hidden" id="original-pos-dx" class="coordinate" value="${page/fullsize_pos_dx}"/>
							<input type="hidden" id="original-pos-dy" class="coordinate" value="${page/fullsize_pos_dy}"/>
							</div>
						</tal:block>
							
						</div>
						
						<div class="hide">
							<!-- Article about how to do this 04c79f9a-fc81-4276-994c-42328ece2208 -->
						</div>

				</div>
				
				

				
				<div class="span-8 last">
					
					<div id="accordion">
					
						<h3 id="accordion-photos"><a href="#" i18n:translate="">Choose photo</a></h3>
						<div class="functions">
						
							<form method="post" action="/flash_upload.php?noerror=1" id="transfer-manual" enctype="multipart/form-data">
								<input type="file" id="filedata" name="Filedata" onchange="$('#transfer-manual').submit();" />
								<input type="hidden" id="batchid" name="batchid" value="${batchid}" />
							</form>
							<tal:block tal:define="global strUpload" i18n:translate="">Get from PC</tal:block>
							<tal:block tal:define="global strJPEGImages" i18n:translate="">JPEG Images</tal:block>
							<script type="text/javascript">
							//<![CDATA[
							$(document).ready( function() {
								initUpload('${batchid}','${session/sessionid}','${strJPEGImages}','${strUpload}','#next-action' ,'#transfer-status, #total-loader-spinner','#show-on-finish');
							});
							//]]>
							</script>
							<h4 i18n:translate="">Click on the image you want to use.</h4>
							<div id="transfer-status" class="hide small quiet">
								<p class="right">
									<a href="#" class="abort negative hide" id="transfer-stop" i18n:translate="">Cancel upload</a> 
								</p>

								<span id="uplspeed" style="float: right;">0 KB/s</span>
								<div id="progressbar-total" style="height: 25px"></div>
								<div id="upload-queue">
									<div id="upload-master" style="display:none;">
										<img style="max-width: 96px;" src="${static:gfx/gui/ajax-loader-big.gif}" alt="" />
									</div>
								
									<div>
										<div class="progressbar" style="height: 10px"></div>
									</div>
								</div>
							</div>
							
							<div class="photos">
							
								<tal:block tal:condition="session/loggedin">
									<label for="select-album" i18n:translate="">Choose album</label>
									<select id="select-album">
								      <optgroup label="My albums" tal:condition="gt:albums/length,0" i18n:attributes="label">
							         <tal:block tal:repeat="album albums">
								         <option value="${album/id}" tal:condition="exists:album/title">
									        <tal:block tal:content="shorten:album/title;18" tal:condition="album/title" />
								         </option>
							         </tal:block>
						           </optgroup>
						           <optgroup label="My Friends Albums" tal:condition="gt:sharedAlbums/length,0" i18n:attributes="label">
							        <tal:block tal:repeat="sharedalbum sharedAlbums">
								        <option value="${sharedalbum/id}" tal:condition="exists:sharedalbum/title">
									       <tal:block tal:content="shorten:sharedalbum/title;18" tal:condition="sharedalbum/title" />
								        </option>
							        </tal:block>
						           </optgroup>
									</select>
									<div id="btnUpload"></div>
								</tal:block>
								
								<tal:block tal:condition="not:session/loggedin">

									<div class="prepend-top center append-bottom" style="margin-left: 50px">
										<div id="btnUpload"></div>
									</div>
									<h5 i18n:translate="">Sign in to get photos from your account</h5>
									<tal:block metal:use-macro="../common.html/quicklogin" />
								
								</tal:block>
								
								<div id="album-images">
									
								</div>
							</div>
						</div>

						<!--<h3 id="accordion-choose-template" ><a href="#choose-template" i18n:translate="">Choose template</a></h3>
						<div class="functions" id="choose-template">
							<div>
								<tal:block tal:repeat="gifttemplate collections/gifttemplates">
									<div class="template-thumb">
										
										<a tal:attributes="href string:/create/gift/${selected/productid}/${selected/productoptionid}/${gifttemplate/id}/${selected/image/id}">
											<tal:block tal:repeat="page gifttemplate/pages">
												<tal:block tal:condition="equal:repeat/page/number,1">
												
													<input 
														type="hidden" class="websize_x" name="malid" value="${page/websize_x}" 
														tal:condition="exists:page"/>
													<input 
			 											type="hidden" class="websize_y" name="malid" value="${page/websize_y}" 
														tal:condition="exists:page"
													/>
													
													<tal:block tal:condition="page/fullsize_src">
														<img 
															src="${static:}images/gifttemplates/thumbs/squareaspect/50/${page/fullsize_src}" 
															width="50" height="50"
															id="malid_${gifttemplate/id}" alt="eurofoto" class="mal"
														/>
														<script type="text/javascript">
															$('#malid_${gifttemplate/id}').data('websize_x', '${page/websize_x}');
															$('#malid_${gifttemplate/id}').data('websize_y', '${page/websize_y}');
															$('#malid_${gifttemplate/id}').data('fullsize_pos_x', '${page/fullsize_pos_x}');
															$('#malid_${gifttemplate/id}').data('fullsize_pos_y', '${page/fullsize_pos_y}');
															$('#malid_${gifttemplate/id}').data('fullsize_pos_dx', '${page/fullsize_pos_dx}');
															$('#malid_${gifttemplate/id}').data('fullsize_pos_dy', '${page/fullsize_pos_dy}');
															$('#malid_${gifttemplate/id}').data('fullsize_x', '${page/fullsize_x}');
															$('#malid_${gifttemplate/id}').data('fullsize_y', '${page/fullsize_y}');	
															
														</script>
														<input type="hidden" class="malid" name="malid" value="${gifttemplate/id}" />
														<input type="hidden" class="malpageid" name="malpageid" value="${page/malpageid}" />
													</tal:block>
													
													<tal:block tal:condition="not:page/fullsize_src">
														<div class="empty-template-thumb">
														<img 
															src="${static:}images/gifttemplatesweb/thumbs/blankbox/50x50/${selected/template/id}.png" 
															width="50" height="50"
															id="malid_${gifttemplate/id}"
														/>
														</div>
													</tal:block>
													
													<input type="hidden" class="malid" name="malid" value="${gifttemplate/id}" />
													<input type="hidden" class="malpageid" name="malpageid" value="${page/malpageid}" />
													
												</tal:block>
											</tal:block>
										</a>
										<a class="highres hide" href="${static:}images/gifttemplates/thumbs/width/630/${page/fullsize_src}"></a>
									</div>
								</tal:block>
							</div>
						</div>-->
						<h3><a href="#" i18n:translate="">Add text</a></h3>
						<div class="add_text">
						<div class="functions" >
							<div id="text-align">
								<input checked="checked" type="radio" id="text-align-left" class="text-align left" name="text-align" value="left"/>
								<label i18n:translate="">Left</label>
	
								<input type="radio" id="text-align-center" class="text-align center" name="text-align" value="center" />
								<label i18n:translate="">Center</label>
								
								<input type="radio" id="text-align-right" class="text-align right" name="text-align" value="right" />
								<label i18n:translate="">Right</label>
							</div>
							<div>
								
								<div id="font-list"/>
								
								<input type="hidden"  id="fontselect" name="fontselect" value="" />
								
								<br/>
								<label for="new-text" i18n:translate="">Write text here:</label><br/>
								<!---<input type="text" id="new-text" rows="3" cols="10" class="span-4"></input>-->
								<TEXTAREA id="new-text" style="height:100px;" class="span-6"></TEXTAREA>
								
								<input id="new-text-color" class="iColorPicker" value="#000000" type="text"/>
								<a class="button blue" id="add-text" i18n:translate="">Add text</a>
							</div>
						</div>
						</div>
						<h3><a href="#" i18n:translate="">Add clipart</a></h3>
						<div class="functions">
		
							<select id="clipartgroup-selector">
								<tal:block tal:repeat="clipartgroup collections/clipart">
									<option tal:condition="clipartgroup/name" tal:content="clipartgroup/name" tal:attributes="value clipartgroup/id"></option>
								</tal:block>
							</select>
							<div id="clipart-selector">
								<tal:block tal:repeat="clipartgroup collections/clipart">
									
									<div id="clipartcollection_id_${clipartgroup/id}" class="clipartcollection" 
										tal:condition="lte:repeat/clipartgroup/number,1">
										<h3 tal:content="clipartgroup/name" tal:condition="clipartgroup/name"></h3>
										<tal:block tal:repeat="item clipartgroup/items">
											<div class="clipartitem-container" id="clipartitem-container_${item/id}">
												<img class="clipartitem" alt="${item/id}" 
													src="${static:}images/clipart/thumbs/width/50/${item/id}.png" id="clipartitem_${item/id}"
												/>
												
											</div>
										</tal:block>
									</div>

									<div id="clipartcollection_id_${clipartgroup/id}" class="clipartcollection hide" 
										tal:condition="gt:repeat/clipartgroup/number,1">
										<h3 tal:content="clipartgroup/name"  tal:condition="clipartgroup/name"></h3>
										<tal:block tal:repeat="item clipartgroup/items">
											<div class="clipartitem-container" id="clipartitem-container_${item/id}">
												<img class="clipartitem" 
													src="" 
													title="${static:}images/clipart/thumbs/width/50/${item/id}.png" id="clipartitem_${item/id}"
												/>
											</div>
										</tal:block>
									</div>

								</tal:block>
							</div>
						</div>
					</div> <!-- end accordion -->
					<div class="span-8 last">
						<div class="box">
						
							<h4 i18n:translate="">Choose quantity</h4>
							
							<div class="prepend-top append-bottom">
								<input type="checkbox" name="red-eye" id="red-eye"/>
								<label for="red-eye">
									<tal:block i18n:translate="">Please remove red eyes for me.</tal:block>
									<span class="quiet small">(Kr <span id="redeye-price"></span>)</span>
								</label>
							</div>
							
							<div class="right">
								Kr <span class="price" id="gift-price"><tal:block tal:content="formatprice:selected/productoption/prices/0/price"/></span>
								<label for="gift-quantity"></label>
								<input type="text" class="quantity" id="gift-quantity" value="1"/>
								<button class="call-to-action" id="add-gift-to-cart" i18n:translate="">Add to cart</button>
							</div>
						</div>
					</div>
				</div> <!-- end left side -->
			</div>
		
	</div>
	<hr class="space clearfix clear"/>
</div>
		
<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>
<div class="hide" id="dialog-confirm" title="Det mangler bilder!">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Det mangler bilder på følgende sider (<span id="missing"></span>).<br/>
							<strong> Det må være bilde på alle sidene før du kan fortsette.</strong></p>
</div>
<script type="text/javascript">
var ajaxLoader = '<tal:block tal:content="static:gfx/gui/ajax-loader.gif" />';
var bigajaxLoader = '<tal:block tal:content="static:gfx/gui/ajax-loader-big.gif" />';
var bigajaxLoaderGray = '${static:gfx/gui/ajax-loader-gray.gif}';
var noImagesText = '<tal:block i18n:translate="">No images</tal:block>';
var deleteText = '<tal:block i18n:translate="">Delete</tal:block>';
var staticurl = '${static:}';
var maxHeight = 450;
var productoptionid = ${selected/productoptionid};
var websize_x = '${page/websize_x}';
var websize_y = '${page/websize_y}';
var zindex = 210;
</script>

<!--[if lt IE 7]>
<script type="text/javascript" src="http://static.eurofoto.no/js/jquery.pngFix.pack.js?1"></script>
<![endif]-->


<script src="${static:js/iColorPicker.js}?${version}" type="text/javascript"></script>
<script src="${static:js/fontloader.js}?${version}" type="text/javascript"></script>
<script src="${static:js/multipage-gift.min.js}?${version}" type="text/javascript"></script>
<script src="${static:}js/uploadhandlers.js?${version}" type="text/javascript"></script>
<script src="${static:js/jquery.uploadify.v2.0.3.min.js}" type="text/javascript"></script>
<!-- Google Code for Gavegenerator - steg 2 Conversion Page -->
<script type="text/javascript">
<!--
var google_conversion_id = 1070265469;
var google_conversion_language = "no";
var google_conversion_format = "2";
var google_conversion_color = "ffffff";
var google_conversion_label = "WBXuCKXBxAEQ_eir_gM";
var google_conversion_value = 0;
//-->
</script>
<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1070265469/?label=WBXuCKXBxAEQ_eir_gM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
</body>
</html>
