<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<tal:block tal:define="global dontShowCart" />
<head>
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle" i18n:translate="">Thank you!</tal:block>
 <meta http-equiv="refresh" content="3;url=/" /
	<style type="text/css">
      
   </style>
	
</head>


<body>
<div metal:use-macro="../../${templates}/common.html/top" />
<div class="container">

	
	
	<div class="content">
		<div class="row">
		<div class="text-center col-md-12">
			<h1 i18n:translate="">Thank you!</h1>
			<br />
			<h3 class="quiet" i18n:translate="">Someone is now working hard to get the products to you.</h3>
			<br />
			<!--<img src="/checkout/giftcard/7074-8be4-4797-baa0" /><br />-->
			<h4 tal:condition="orderid"><tal:block i18n:translate="">Order number:</tal:block> ${orderid}</h4>
			<h4 i18n:translate="">Remember the order number when collecting in store, or when you contact customer service.</h4>
			
		   

			<tal:block tal:condition="equal:session/loggedin,1">
			<div id="giftcard-loader" style="font-size:18px; padding: 3px; margin: auto; width:50%; border:1px solid black; background:beige;" tal:condition="exists:giftcard"><a href="/checkout/giftcard/${orderid}" i18n:translate="">Download your giftcard pdf by clicking here</a></div>
			</tal:block>
			<br />
			<p i18n:translate="">
				An order confirmation has been sent to your email address. If you have any questions or feedback, don't hesitate to contact us!
			</p>
			
			

			
		</div>
		
		 
		 </div>
		 
	</div>
</div>




<div class="container">
			<div metal:use-macro="../../${templates}/common.html/footer" />
		</div>




</body>
</html>