<!-- HEAD -->
<head metal:define-macro="head" tal:omit-tag="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<meta tal:condition="exists:google" name="google-site-verification" content="${google/google-site-verification}" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<link rel="shortcut icon" href="${static:}css/portals/eurofoto/favicon.ico"/>
	<meta name="msvalidate.01" content="F4FE8EE0C6A5F5AF802BFA2C54AB58E7" /> 
	<tal:block tal:condition="exists:canonical"> 
		<link tal:condition="canonical" rel="canonical" href="${canonical}" /> 
	</tal:block> 
	<tal:block metal:use-macro="blueprint" /> 
	<title> 
		<tal:block i18n:translate="" tal:condition="not:exists:pagetitle">Eurofoto.no - Memories for life</tal:block> 
		<tal:block tal:condition="exists:pagetitle" tal:content="pagetitle" /> 
	</title> 
	<tal:block tal:condition="exists:item/customjs"> 
		<tal:block tal:content="structure item/customjs" /> 
	</tal:block> 
	<tal:block tal:condition="exists:item/customcss"> 
		<tal:block tal:content="structure item/customcss" /> 
	</tal:block>
    <style type="text/css" media="screen">


         
      /*h1.site-logo {
         	display: block;
         	width: 90px;
         	height: 90px;
         	text-indent: -9999px;
         	background: transparent url(http://c.static.eurofoto.no/cms/images/julelogo.jpg) no-repeat 0 0;
         	margin-top: 2px;
         	margin-left: 12px;
         }*/
	         body {
         -webkit-background-size: 1912px 3000px;
        /* background-image: url(${static:}gfx/backgrounds/bakgrunn-vinter2014.jpg);*/
		  background-image: url(${static:}gfx/backgrounds/bakgrunn-vår2015.jpg);
         background-repeat: no-repeat;size: 
         background-position: top;
         background-attachment: scroll;
         }
         body {
		-webkit-background-size: 1912px 3000px;
	 } 
     </style>

    	
   <script language="JavaScript" src="/cewe/js/cewecommonlogin.js"></script>
<!--
   <script language="JavaScript" src="http://no.cewetest.novomind.com/wcsstore/CEWEStorefrontAssetStore/SharedHeader/ssodemo/jp1/js/cewecommonlogin.js"></script>
-->
   <script language="JavaScript" src="https://www.japanphoto.no/StatusJsView?storeId=10151&langId=124&catalogId=10051"></script>

</head>

<tal:block metal:define-macro="blueprint">
	<link rel="stylesheet" href="${static:css/portals/eurofoto/screen.css}?${version}" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="${static:css/portals/eurofoto/print.css}?${version}" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="${static:css/portals/eurofoto/ie.css}?${version}" type="text/css" media="screen, projection" />
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" href="${static:css/portals/eurofoto/ie8.css}?${version}" type="text/css" media="screen, projection" />
	<![endif]-->

	<tal:block metal:use-macro="javascript" />
</tal:block>

<tal:block metal:define-macro="javascript">
	<script type="text/javascript" src="${static:js/jquery-1.7.2.min.js}"></script>
	<script type="text/javascript" src="${static:js/jquery.eurofoto-1.0.js}"></script> <!-- Eurofoto API 1.0 -->
	<script type="text/javascript" src="${static:js/swfobject.js}"></script>
	<script type="text/javascript" src="${static:js/i18n/ui.datepicker-no.js}"></script>
	<script type="text/javascript" src="${static:js/flowplayer-3.1.1.min.js}"></script>
	<script type="text/javascript" src="${static:js/jquery.fancybox-1.3.0.pack.js}"></script>
	<script type="text/javascript" src="${static:js/eurofoto.min.js}?${version}"></script>
	<script type="text/javascript" src="${static:js/jquery.client.js}?${version}"></script>
	<script type="text/javascript" src="${static:js/jquery-ui-1.8.15.custom.min.js}?${version}"></script>
	<script type="text/javascript" src="${static:}js/jquery.validate.min.js"></script>
	
</tal:block>


<!-- top-header -->
<div metal:define-macro="top" tal:omit-tag="">	

	<tal metal:use-macro="message" />

	<div id="header" class="last">

	<!-- site-title -->
	<div class="span-3">
		<h1 class="site-logo"><a href="/" title="Go back to frontpage" i18n:attributes="title">Eurofoto.no - <tal:block i18n:translate="">Minner for livet</tal:block></a></h1>
	</div>
	<div class="span-21 last">
		<div metal:use-macro="top-small-navigation" />
		<div metal:use-macro="main-navigation" />
		<div metal:use-macro="shopping-cart" />
	</div>
	</div>
</div>

<!-- top-small-navigation -->
<div metal:define-macro="top-small-navigation" id="topsmallnavigation" class="span-21 last">
	<ul class="clear">
		<!--<li><a href="/myaccount/upload/?from=topsmall" i18n:translate="">Upload photos</a></li>-->
		
		
		<li><a href="${url:/weekly-offers/}" i18n:translate="">Weekly offers</a></li>
		<!--<li><a href="${url:/about/contact/}" i18n:translate="">Contact</a></li>-->
		<li><a href="${url:/support/}" i18n:translate="">Support</a></li>
		
		<li tal:condition="equal:i18n/country,no"><a href="/priser/" i18n:translate="">Prices</a></li>
		<li tal:condition="not:equal:i18n/country,no"><a href="/prices/" i18n:translate="">Prices</a></li>
		
		<li><a href="${url:/sitemap/}" i18n:translate="">Sitemap</a></li>
		
		<tal:block tal:condition="session/loggedin">
			<li><a class="last" href="http://minepreferanser.japanphoto.no" target="_blank">Mine preferanser</a></li>
			<!-- <li tal:content="session/username"></li> -->
			<!-- <li><a href="/logout/" class="last" i18n:translate="">Logout</a></li> -->
		</tal:block>
		
		<tal:block tal:condition="not:session/loggedin">
			<li><a class="last" href="http://minepreferanser.japanphoto.no" target="_blank">Mine preferanser</a></li>
			<!-- 
			<li><a href="/register/" i18n:translate="">Register</a></li>
			<li><a href="/login/" class="last" i18n:translate="">Log in</a></li>
			-->
		</tal:block>
	</ul>
</div>

<!-- main-navigation add class "active" to the active anchor-->
<div metal:define-macro="main-navigation" id="main-navigation">
	
	<ul class="clear clearfix">
		<li class="frontpage">
			<a href="/frontpage">
				<tal:block i18n:translate="">Frontpage</tal:block> 
				<span i18n:translate="">Go back to the front-page</span>
			</a>
		</li>
		<li class="products">
			<a href="${url:/products/}">
				<tal:block i18n:translate="">Products</tal:block> 
				<span i18n:translate="">View products and photo gifts</span>
			</a>
			<ul class="mainnavsub" tal:condition="not:exists:nosubmenurendering">
				<li tal:repeat="menuitem menu:/products/"><!-- 129cdf90-4212-45e4-b7c0-fb32a437b48f -->
					<a href="${menuitem/url}?from=mainsub">${menuitem/title}</a>
				</li>
			</ul>
		</li>
		<li class="my-account">
			<a href="/myaccount/">
			<tal:block i18n:translate="">My account</tal:block> 
			<span i18n:translate="">Your photos and settings</span></a>
			<ul class="mainnavsub" tal:condition="not:exists:nosubmenurendering">
				<li><a href="/myaccount/?from=mainsub" i18n:translate="">Dashboard</a></li>
				<li><a href="/myaccount/albums/?from=mainsub" i18n:translate="">My photos</a></li>
				<li><a href="/myaccount/search/?from=mainsub" i18n:translate="">Search photos</a></li>
				<li><a href="/myaccount/upload/?from=mainsub" i18n:translate="">Upload photos</a></li>
				<li><a href="/myaccount/projects/?from=mainsub" i18n:translate="">My projects</a></li>
				<li><a href="/myaccount/orders/?from=mainsub" i18n:translate="">My orders</a></li>
				<li><a href="/myaccount/friends/?from=mainsub" i18n:translate="">My friends</a></li>
				<li><a href="/myaccount/friendsphotos/?from=mainsub" i18n:translate="">My friends photos</a></li>
				<li><a href="/myaccount/settings/?from=mainsub" i18n:translate="">My settings</a></li>
			</ul>
		</li>
		<li class="order-prints last" tal:condition="equal:i18n/country,no">
			<a href="/fremkalle-bilder/">
				<tal:block i18n:translate="">Order prints</tal:block> 
				<span i18n:translate="">Order quick prints</span>
			</a>
		</li>
		<li class="order-prints last" tal:condition="not:equal:i18n/country,no">
			<a href="/order-prints/">
				<tal:block i18n:translate="">Order prints</tal:block> 
				<span i18n:translate="">Order quick prints</span>
			</a>
		</li>

		<li class="top-search">
			<tal:block metal:use-macro="top-search" />
		</li>
	</ul>
	
	<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function() {  
			// open submenus
			$("ul.mainnavsub").parent().append("<span class=\"arrow\">&nbsp;</span>"); 

			$("#main-navigation li span.arrow").click(function() { 

				$(this).parent().find("ul.mainnavsub").slideDown('fast').show(); 

				$(this).parent().hover(function() {  
					}, function(){  
						$(this).parent().find("ul.mainnavsub").slideUp('slow'); 
					}
				);  
			}).hover(function() {  
				$(this).addClass("subhover"); 
			}, function(){  
					$(this).removeClass("subhover"); 
				}
			);
		});
	//]]>
	</script>
</div>

<div metal:define-macro="shopping-cart">
	<tal:block tal:condition="exists: cart">
		<tal:block tal:condition="cart/totalitems">
		<tal:block tal:condition="not: exists: dontShowCart">
		<div id="shopping-cart">
			<p>
				<strong>
					<span id="cart-total-items" tal:content="cart/totalitems"></span> <tal:block i18n:translate="">products</tal:block>
				</strong>, 
				<strong>kr 
					<span id="cart-total-price" tal:content="formatprice:cart/totalprice"></span>
				</strong>
				<a href="/cart/clear/" id="emptycart">(<tal:block i18n:translate="" tal:omit-tag="">empty cart</tal:block>)</a>
			</p>
			<div id="cart-functions">
				<a href="/kasse/?from=main" id="go-to-checkout" class="button" i18n:translate="">Go to checkout</a>
				<a href="/cart/?from=main" id="cart-toggle" class="button call-to-action" i18n:translate="">Show cart</a>
			</div>
		</div>
		</tal:block>
		<div id="shopping-cart-pusher" />
		<script type="text/javascript">
		$('#emptycart').click( function() {
			 $.ajax({
				type: "post",
				dataType: "json",
				url: "/api/1.0/cart/clear",
				success: function(){
					$('#shopping-cart').slideUp('fast');
					$('#shopping-cart-pusher').slideUp('fast');
					return false;		
				},
				error: function(msg) {
					location.href = "/cart/clear/"
				}
				
			});
			return false;
		});
		</script>
		</tal:block>
	</tal:block>
</div>

<!-- top-search -->
<tal:block metal:define-macro="top-search">
	<form id="topsearch" action="/search/" method="get">
	
		<h5 class="hide searchtitle" i18n:translate="">Search</h5>
		<div>
			<input type="text" name="q" id="q" value="${searchstring}" tal:condition="exists: searchstring"/>
			<input type="text" name="q" id="q" tal:condition="not: exists: searchstring"/>
		
			<input type="submit" class="hide" value="Search" />
		</div>
	</form>
	<script type="text/javascript">
	//<![CDATA[
		
		$(document).ready( function() {

			if( $('#q', '#topsearch').attr('value') == '') {
					$('#q', '#topsearch').attr('value', $('#q', '#topsearch').parent().parent().find('h5.searchtitle').text() );
			}

			$('#q','#topsearch').click( function() {
				if( $(this).attr('value') == $(this).parent().parent().find('h5.searchtitle').text() ) {
					$(this).attr('value', '');
				} else {
					$(this).select();
				}
			});
		
			$('#q', '#topsearch').blur( function() {
				if( $(this).attr('value') == '') {
					$(this).attr('value', $(this).parent().parent().find('h5.searchtitle').text() );
				}
			});
		})
	//]]>
	</script>
</tal:block>

<!-- breadcrumbs -->
<div metal:define-macro="breadcrumbs" id="breadcrumbs">
	<ul>
		<li><a href="" i18n:translate=""></a></li>
		<li class="active" i18n:translate=""></li>
	</ul>
</div>

<!-- LEFT MENU (span-4) -->
<div metal:define-macro="left-menu" id="leftmenu">
	<p i18n:translate=""></p>
</div>

<!-- RIGHT MENU (span-4) -->
<div metal:define-macro="right-menu" id="rightmenu" class="last">
	<p i18n:translate=""></p>
</div>

<!-- RIGHT ALBUM MENU (span-4) -->
<div metal:define-macro="right-album-menu" id="rightalbummenu" class="last">
	<ul id="right-album-menu">
		<li>
		</li>
	</ul>
</div>

<!-- beta message -->
<tal:block metal:define-macro="message">
<script language="JavaScript">
	var loginCallback = false;
	CommonLogin.init(function(status){
   	setTimeout(function(){
	   	// optionally do a callback to the server with tokens to validate
	      <tal:block tal:condition="not:session/loggedin">
	   	if( status.loggedIn ) {
	   		// alert( 'We were previously logged OUT locally, but we are now logged in. Logging in with token '+status.token );
	   		var response = $.ef( 'auth.byxtcitoken',{
	   			'token':    status.token,
	   			'sign':     status.sign
	   		} );
	   		if( response.result ) {
	   			var response = $.ef( 'cart.stat' );
	   			if( response.result ) {
	   				CommonLogin.setCart({
						   'total': response.totalprice,
						   'items': response.totalitems,
						   'open': function(){
						   	window.location.href = '/cart/?from=cewecommonheader';
						   }
						}, true );
	   			}
	   		}
	   	}
   		if( loginCallback ) {
   			loginCallback( status );
   		}
	      </tal:block>
	      <tal:block tal:condition="session/loggedin">
	   	if( !status.loggedIn ) {
	   		// alert( 'We were previously logged in locally, but are no longer logged in. Logging out...' );
	   		$.ef( 'auth.logout' );
	   		window.location.href = '/';
	      // make sure we've not switched to a different account
      	} else if( status.userData.login != '${session/email}' ) {
	   		// alert( 'We were previously logged in locally, and still are, so switching to the new account' );
	      	$.ef( 'auth.logout' );
	      	var response = $.ef( 'auth.byxtcitoken',{
	   			'token':    status.token,
	   			'sign':     status.sign
	   		} );
	   		if( response.result ) {
	   			var response = $.ef( 'cart.stat' );
	   			if( response.result ) {
	   				CommonLogin.setCart({
						   'total': response.totalprice,
						   'items': response.totalitems,
						   'open': function(){
						   	window.location.href = '/cart/?from=cewecommonheader';
						   }
						}, true );
	   			}
	   		}
	      } else {
	      	$.ef( 'auth.updatetoken',{
	   			'token':    status.token,
	   			'sign':     status.sign
	   		} );
	      }
   		if( loginCallback ) {
   			loginCallback( status );
   		}
	      </tal:block>
   	},1);
	},{
	   'total': '${formatprice:cart/totalprice}',
	   'items': '${cart/totalitems}',
	   'open': function(){
	   	window.location.href = '/cart/?from=cewecommonheader';
	   }
	});
</script>
</tal:block>

<!-- FOOTER -->
<tal:block metal:define-macro="footer">
	<div id="footer" class="last">
		<div class="span-24 last">
			<div class="span-5">
				<h3><a href="${url:/products/}" i18n:translate="">Products</a></h3>
				<ul>
					<li>
						<a href="/order-prints/?from=footer" i18n:translate="">Order prints</a>
					</li>
					<li tal:repeat="menuitem menu:129cdf90-4212-45e4-b7c0-fb32a437b48f">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>			
			</div>
			<div class="span-5">
				<h3><a href="${url:/products/photo-gifts/}" i18n:translate="">Photo gifts</a></h3>
				<ul>
					<li tal:repeat="menuitem menu:f245eba1-bca9-48d0-a46f-4e80a89a6b62">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>
			</div>
			<div class="span-4">
				<h3><a href="${url:/occasions/}" i18n:translate="">Occasions</a></h3>
				<ul>
					<li tal:repeat="menuitem menu:0dc4b88b-f182-461f-884a-5140607e8600">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>
			</div>

			<div class="span-5">
				
				<h3><a href="${url:/about/services/}" i18n:translate="">Services</a></h3><!-- 39ff3f7e-a6d1-475c-b9a5-e580f411b9ee -->
				<ul>
					<li><a href="/gallery/" i18n:translate="">Public gallery</a></li>
					<li><a href="/todays-photo/" i18n:translate="">Todays photo</a></li>
					
					<li tal:repeat="menuitem menu:39ff3f7e-a6d1-475c-b9a5-e580f411b9ee">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
					
					<li>
						<a href="/order-prints/backup/minnepenn?from=footer" i18n:translate="">Backup</a>
					</li>
					<li>
						<a href="/myaccount/upload/?from=footer" i18n:translate="">Transfer photos</a>
					</li>
					<li>
						<a href="http://minepreferanser.japanphoto.no/?from=footer" target="_blank">Mine preferanser</a>
					</li>
				</ul>
			</div>
			<div class="span-5 last">
				<h3><a href="${url:/about/}" i18n:translate="">About us</a></h3>
				<ul>
					<li tal:repeat="menuitem menu:edd78b5e-fefc-47a2-8c0f-9bcb63f9ba36">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="span-24 last center append-bottom">
			<h3 i18n:translate="" class="hide">Change language</h3>
			<ul class="inline">
				<li><a href="/settings/language/en_US"><img src="${static:gfx/flags/us.png}" alt="EN" /> English</a> </li>
				<li><a href="/settings/language/sv_SE"><img src="${static:gfx/flags/se.png}" alt="SE" /> Svenska</a> </li>
				<li><a href="/settings/language/da_DK"><img src="${static:gfx/flags/dk.png}" alt="DK" /> Dansk</a> </li>
				<li><a href="/settings/language/fi_FI"><img src="${static:gfx/flags/fi.png}" alt="FI" /> Suomi</a> </li>
				<li><a href="/settings/language/nb_NO"><img src="${static:gfx/flags/no.png}" alt="NO" /> Norsk</a> </li>
				<!--<li><a href="/settings/language/fr_FR"><img src="http://static.eurofoto.no/gfx/flags/fr.png" alt="FR" /> Français</a> </li>
				<li><a href="/settings/language/it_IT"><img src="http://static.eurofoto.no/gfx/flags/it.png" alt="IT" /> Italiano</a> </li>
				<li><a href="/settings/language/es_ES"><img src="http://static.eurofoto.no/gfx/flags/es.png" alt="ES" /> Español</a> </li>
				<li><a href="/settings/language/de_DE"><img src="http://static.eurofoto.no/gfx/flags/de.png" alt="DE" /> Deutsch</a> </li>
				<li><a href="/settings/language/ja_JP"><img src="http://static.eurofoto.no/gfx/flags/jp.png" alt="JP" /> 日本語</a> </li>-->
			</ul>
		</div>
		
		<div class="append-bottom clearfix clear span-24 last center ">
			<a href="${url:/about/copyright/}">Copyright | © ${request/date/year} Eurofoto/Japan Photo Holding Norge </a>
		</div>
		
		<br />
		
	</div>
	<tal:block metal:use-macro="google-analytics" />
	
		<!-- SiteCatalyst code version: H.25.4.
		Copyright 1996-2013 Adobe, Inc. All Rights Reserved
		More info available at http://www.omniture.com -->
		<script language="JavaScript" type="text/javascript" src="${static:}js/s_code_ef.js"></script>
		<script language="JavaScript" type="text/javascript">
			var path = "${request/execpath}";
			
			var orderid, zip, price;
			<tal:block tal:condition="exists:purchasedcart">
				orderid = "${orderid}";
				zip = "${purchasedcart/deliveryinfo/zipcode}";
				price = "${purchasedcart/totalprice}";
			</tal:block>
			
			<!--
			/* You may give each page an identifying name, server, and channel on
			the next lines. */
			s.pageName="eurofoto.no:" + path
			s.server=""
			s.channel="eurofoto.no:" + path
			s.pageType=""
			s.prop1="eurofoto.no:" + path
			s.prop2="eurofoto.no:" + path
			s.prop3="eurofoto.no:" + path
			s.prop4="eurofoto.no:" + path
			s.prop5=""
			s.prop6="eurofoto.no"
			s.prop9="eurofoto.no"
		
			
			if( orderid > 0 ){
				s.products=";EF-products;1;" + price;
				s.events="purchase";
				s.purchaseID=orderid;
				s.eVar10=orderid;
				s.zip=zip;
			}
			
			/* Conversion Variables */
			/************* DO NOT ALTER ANYTHING BELOW THIS LINE ! **************/
			var s_code=s.t();if(s_code)document.write(s_code)
			//-->
		</script>
		<script language="JavaScript" type="text/javascript">
			<!--
			if(navigator.appVersion.indexOf('MSIE')>=0)document.write(unescape('%3C')+'\!-'+'-')
			//-->
		</script>
		<noscript>
			<img src="http://cewecolor.112.2o7.net/b/ss/cewe-eurofoto-no/1/H.25.4--NS/0" height="1" width="1" border="0" alt=""/>
		</noscript><!--/DO NOT REMOVE/-->
		<!-- End SiteCatalyst code version: H.25.4. -->

</tal:block>

<!-- quick login -->
<tal:block metal:define-macro="quicklogin">
	<tal:block condition="exists:jplogin">
		<a href="javascript:CommonLogin.login();" class="button" i18n:translate="">Login in</a>
		
		<script>
			$(function(){
			 loginCallback = function(ret){
				
				if( ret.loggedIn == true ){
					window.location.reload();
				}
			  
			 }
			});
		 </script>
		
		
		
	</tal:block>
	<tal:block condition="not:exists:jplogin">
		
		<form action="/login/" method="post"  id="quicklogin">
			<div>
				<label for="email" i18n:translate="">E-mail:</label><br/>
				<input type="text" class="text lowercase" name="email" value="" />
			</div>	
			<div>
				<label for="pasword" i18n:translate="">Password:</label><br/>
				<input type="password" class="text" name="password" value="" />
			</div>
			<div>
				<input type="checkbox" id="rememberme" /> 
				<label for="rememberme" i18n:translate="">Remember me next time.</label>
			</div>	
			<div class="right prepend-top">
				<a href="/register/" i18n:translate="">Register</a> &nbsp;
				<button class="" type="submit" i18n:translate="">Log in</button>
			</div>
			<input type="hidden" name="referer" value="/${request/execpath}"/>
		</form>
	</tal:block>
</tal:block>

<!-- get Satisfaction -->
<tal:block metal:define-macro="get-satisfaction">
	<!--
	<tal:block tal:replace="structure fastpass" tal:condition="exists:fastpass" />
	<script type="text/javascript" charset="utf-8">
		var is_ssl = ("https:" == document.location.protocol);
		var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
		document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript" charset="utf-8">
		var feedback_widget_options = {};
		feedback_widget_options.display = "overlay";  
		feedback_widget_options.company = "eurofoto";
		feedback_widget_options.placement = "right";
		feedback_widget_options.color = "#222";
		feedback_widget_options.style = "idea";
		var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
	-->
</tal:block>

<!-- Google Analytics gs.js www.eurofoto.no -->
<tal:block metal:define-macro="google-analytics">

   
   


   <tal:block tal:condition="exists:google">
	<script type="text/javascript">
	//<![CDATA[
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	//]]>
	</script>
	<script type="text/javascript">
		try{
		var pageTracker = _gat._getTracker("${google/analytics}");
			<tal:block tal:condition="not:session/loggedin">
				pageTracker._setVar('unregistered');
			</tal:block>
			<tal:block tal:condition="session/loggedin">
				pageTracker._setVar('member');
			</tal:block>
			pageTracker._setDomainName(".eurofoto.no");
			pageTracker._trackEvent('Performance', 'Execution time', 'xml', Math.round( ${statistics/exectime} * 10 )/10 );
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
	</tal:block>
</tal:block>

<!-- sharing button -->
<tal:block metal:define-macro="share-button">
<!-- ADDTHIS BUTTON BEGIN -->
<script type="text/javascript">
var addthis_config = {
	username: "eurofoto",
	services_compact: 'facebook, email, twitter, digg, delicious, favorites, friendfeed, google, linkedin, live,  more',
	services_exclude: 'print',
	ui_language: "${i18n/country}"
}
</script>

<a href="http://www.addthis.com/bookmark.php" 
    class="addthis_button"
    style="text-decoration:none;">
        <img src="http://s7.addthis.com/static/btn/sm-plus.gif" 
    width="16" height="16" border="0" alt="Share" /> <span i18n:translate="">Share</span></a>
    
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
<!-- ADDTHIS BUTTON END -->
</tal:block>

<tal:block metal:define-macro="pagination">
	
	<a class="button">First</a>
	<a class="button">Previous</a>
	
	<a href="">1</a><a href="">2</a><a href="">3</a>...<a href="">4</a><a href="" class="current">(5)</a><a href="">6</a><a href="">7</a><a href="">8</a><a href="">9</a><a href="">10</a><a href="">11</a><a href="">12</a>...<a href="">50</a><a href="">51</a><a href="">52</a>
	
	<a class="button">Last</a>
	
</tal:block>

<div metal:define-macro="associatedproducts">
	<tal:block tal:repeat="product associatedproducts">
		<div class="span-14">
			<div class="span-2 productimage">
				<tal:block tal:condition="product/images">
					<tal:block tal:repeat="image product/images">
						<tal:block tal:condition="equal:repeat/image/number,1">
							<tal:block tal:define="global staticurl" tal:content="static:" />
							<a href="${product/urlname}" title="${product/title}">
								<img src="${staticurl}images/products/thumbs/square/50/${image/url}" 
								widht="50" height="50" class="left" alt="${product/title}" tal:condition="image/url" />
							</a>
							<img src="${static:gfx/404/not_found_50px.jpg}" 
							class="left" alt="Product photo missing." tal:condition="not:image/url" 
							style="border: 10px solid #fff; "
							/> 
						</tal:block>
					</tal:block>
				</tal:block>
				<tal:block tal:condition="not:product/images"><span class="quiet small">No image</span></tal:block>
			</div>
			<div class="span-6">
				<h4 class="bottom" tal:content="product/title|default"></h4>
				<p tal:content="product/ingress|default"></p>
			</div>
			<div class="span-6 last" tal:condition="product/option/price">
				<div class="price" tal:content="formatprice:product/option/price"></div>
				<input class="quantity" value="1" type="text" />
				
				<tal:block tal:condition="gt:repeat/options/number,1">
					more than 1
				</tal:block>
				
				<a class="button add-to-cart" i18n:translate="" ref="${product/option/prodno}">Add to cart</a>
			</div>
		</div>
	</tal:block>
</div>
