<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
				<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  
			ga('create', 'UA-128574459-2', 'auto');
		   ga('require', 'displayfeatures');
			ga('send', 'pageview');
	</script>
        <div metal:use-macro="../common.html/head" />
	<div metal:use-macro="../common.html/javascript" />
	
				<script>(function() {
				var _fbq = window._fbq || (window._fbq = []);
				if (!_fbq.loaded) {
				var fbds = document.createElement('script');
				fbds.async = true;
				fbds.src = '//connect.facebook.net/en_US/fbds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(fbds, s);
				_fbq.loaded = true;
				}
				})();
				window._fbq = window._fbq || [];
				window._fbq.push(['track', '6030155177150', {'value':'0.00','currency':'NOK'}]);
				</script>
				<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030155177150&amp;cd[value]=0.00&amp;cd[currency]=NOK&amp;noscript=1" /></noscript>
		
		
	 <script>
        var timer = setTimeout(function() {
           window.location="http://www.stabburetleverpostei.no/takk-for-din-lokkbestilling";
        }, 9000);
    </script>
    </head>
    
    <body>




</body>
</html>







