<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle" i18n:translate="">Login</tal:block>
</head>


<body>
<div metal:use-macro="../../${templates}/common.html/top" />
<div class="container">

	<div class="col-md-12">
		<h3>Vi har funnet følgende bilder tilknyttet din bildekode: ${identifiervalue}</h3>
		<span tal:repeat="thumb thumbnails">
			
			<img src="${thumb}" />
		</span>
		
		
	</div>
	
	
	<div class="col-md-12">
		<tal:block tal:content="structure cms:body:aaf0e426-46f5-42eb-8af5-8094088f0084" />
	</div>

	<div class="col-md-6">

		<form action="/login/" method="post" id="login">
			<h2>Allerede bruker?</h2>
			<h3>Logg inn</h3>
			
			<p>For å kunne se bildene må du logge inn.</p>
			
			<div class="col-md-12">
				<div class="error" tal:condition="exists:error" i18n:translate="">Your email or password was incorrect!</div>
				<div class="">
					<label for="email" i18n:translate="">Email</label><br />
					<input type="text" class="form-control title lowercase span-8" name="email" value=""/>
				</div>
			</div>
			
			<div class="col-md-12">
				<div class="span-8">
					<label for="pasword" i18n:translate="">Password</label><br />
					<input type="password" class="title form-control" name="password" value="" style="margin-bottom:0"/>
					<p class="small right">
						<a href="/login/forgot-password/" i18n:translate="">Forgot password?</a>
					</p>
				</div>
			</div>
			
			<div class="span-6">
				<input type="checkbox" id="autologin" name="autologin" /> 
				<label for="autologin" i18n:translate="">Remember me next time</label>
			</div>

			<div class="span-4 last">
				<button type="submit" name="Login" class="btn btn-default">
					<tal:block i18n:translate="" >Log in</tal:block>
				</button>
			</div>
			
			<!--<input type="hidden" name="referer" tal:attributes="value request/referer" />-->

		</form>
	</div>
	
	<div class="col-md-6">
		<h2>
			<tal:block i18n:translate="">Not a user?</tal:block>
		</h2>
		<!-- register -->
		
		<form action="/register/check/" method="post" id="register">
			<h3 i18n:translate="">Register</h3>
			<p i18n:translate="">Complete the form, and get a free membership and your own photo account!</p>
				
			<div class="col-md-12">
				<div class="span-3">
					<label for="email" class="span-3 last" i18n:translate="">Email</label>
				</div>
				<div  class="span-7">
					<input type="text" class="title span-7 required email form-control" name="newEmail" tal:attributes="value email|default" value="" id="email"/>
				</div>
				<div class="span-2 last">
				
				</div>
			</div>			
			
			<div class="col-md-12 top-15">
				<div class="span-3">
					<label for="pasword" class="span-3 last" i18n:translate="">Password</label>
				</div>
				<div class="span-7">
					<input type="password" class="span-7 title required password form-control" name="password" tal:attributes="value password|default" value="" id="password"/>
				</div>
				<div class="span-2 last">
				
				</div>
			</div>
			<div class="col-md-12 top-15">
				<div class="span-3">
					<label for="pasword" class="span-3" i18n:translate="">Repeat password</label>
				</div>
				<div class="span-7">
					<input type="password" class="span-7 title required password form-control" name="password2" tal:attributes="value password|default" value="" />
				</div>
				<div class="span-2 last">
				
				</div>
			</div>

			<div class="span-12 last">
				<div class="span-7 prepend-top">
					<input type="checkbox" id="eula" class="required eula" name="eula"/> 
					<label for="eula">
						<tal:block i18n:translate="">Yes, I accept the</tal:block> <a href="${url:/about/terms-and-conditions/}" id="open-terms-and-conditions" i18n:translate="">Terms and conditions</a>
					</label>
				</div>
				<div class="span-5 last">
					
				</div>
			</div>
			
			<div class="span-12 last">
				<input type="checkbox" id="newsletter" class="newsletter ignore" name="newsletter" checked="checked"/> 
				<label for="newsletter" i18n:translate="">Yes, I want to receive newsletters</label>
			</div>				
			
			<div class="span-12 last">
				<p class="right">
					<button type="submit" class="button blue large submit" i18n:translate="">
						 Register
					</button>
				</p>
			</div>			
			
			<div id="terms-and-conditions">
				<tal:block tal:content="structure cms:body:80f507f6-69c5-4a4e-9714-b2656514cb31" />
			</div>
			
		</form>
	</div>

	
	<div class="span-24 last center">
		<h2><tal:block tal:content="cms:ingress:aaf0e426-46f5-42eb-8af5-8094088f0084" /></h2>
	</div>

</div>

<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>

<script type="text/javascript">
var pleaseProvideEmail = "<tal:block i18n:translate="">You need to provide your email address, so you can log in.</tal:block>";
var pleaseProvidePassword = "<tal:block i18n:translate="">Please enter password</tal:block>";
	$(document).ready(function(){
		
		$('form#login').validate({
			errorClass: "inputError",
			errorPlacement: function(error, element) {
			error.appendTo( element.parent("div").next("div") );
		},
		rules: {
			'email': {
				required: true,
				email: true
			},
			'password': {
				required: true
			}
		},
		messages: {
			'email': {
				required: "<tal:block i18n:translate="">Please enter an email address.</tal:block>",
				email: "<tal:block i18n:translate="">Please provide a valid email address.</tal:block>"
			},
			'newEmail': {
				required: pleaseProvideEmail,
				email: "<tal:block i18n:translate="">Please provide a valid email address.</tal:block>"
			},
			'password': {
				required: pleaseProvidePassword
			}
		}
	});

   });
</script>

<script type="text/javascript" tal:condition="not:exists:error">
   $('input:first', '#login').focus();
</script>
<script type="text/javascript" tal:condition="exists:error">
   $('input[name=password]', '#login').focus();
</script>
<script type="text/javascript">

$(document).ready(function() {  

	$('form#register').validate({
		errorClass: "inputError",
		errorPlacement: function(error, element) {
     		error.appendTo( element.parent("div").next("div") );
   		},
		rules: {
			newEmail:{
				required: true,
				email: true,
				remote: '/api/1.0/user/registered/'
			},
			password: {
				required: true,
				maxlength: '15',
				minlength: '5'
				
			},
			password2: {
				equalTo: '#password'
			}
		},
		messages: {
			newEmail: {
				required: '<tal:block i18n:translate="">You need to provide a valid e-mail address to log in.</tal:block>',
				email: '<tal:block i18n:translate="">Please provide a valid email address.</tal:block>',
				remote: jQuery.format('<tal:block i18n:translate="">{0} is already registered. Is this you? If so, try logging in.</tal:block><a href="/login/" i18n:translate="">Go to login</a>')
			},
			password: {
				required: "<tal:block i18n:translate="">Please enter password.</tal:block>",
				maxlength: jQuery.format('<tal:block i18n:translate="">Your password cannot be longer than {0} characters.</tal:block>'),
				minlength: jQuery.format('<tal:block i18n:translate="">Your password should be longer than {0} characters.</tal:block>')
			},
			password2: {
				required: "<tal:block i18n:translate="">Please enter password</tal:block>",
				equalTo: "<tal:block i18n:translate="">Oops, the passwords don't match.</tal:block>"
			},
			eula: {
				required: "<tal:block i18n:translate="">You have to read and accept the terms and conditions</tal:block>"
			}
		}
	});
	
	$('#terms-and-conditions').addClass('hide');
	
	$('#terms-and-conditions').css('background-color', '#fff');
	
	$( "#open-terms-and-conditions1, #open-terms-and-conditions" ).click( function() {
		$('#terms-and-conditions').removeClass('hide').dialog({
			width: 700,
			height: 500,
			buttons: {
				'Ok': function() {
					$(this).dialog('destroy')
				}
			},
			close: function() {
				$(this).dialog('destroy')
			}
		});
		return false;
	});
});
</script>
</body>
</html>