<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<tal:block tal:define="global dontShowCart" />

<head>
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle" i18n:translate="">Checkout</tal:block>

	<style type="text/css">
		h2{font-size: 2em; margin-bottom: 0em;}
      h3 { color:#000000; margin-top: 5px; margin-left: 3px; }
		h4{margin-top: 6px;margin-left: 4px;font-weight: bold;}
		textarea { width: 300px }
		#fancy_div {
			overflow-y: scroll;
		}
		form label.inputError {
			display: inline-block;
			background: none;
			margin: 0;
			padding: 0;
			margin-left: 1em;
		}
		.round-corners-heading { 
		   height:30px;
		   color:#000000;
		   background: #eeeeee;
		}
		p {
         margin: 0 0 0em;
         margin-top: 0px;
         margin-right: 0px;
         margin-bottom: 0em;
         margin-left: 0px;
      }
		.gradientdiv {
		   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ececec', endColorstr='#e1e1e1'); /* for IE */
         background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#e1e1e1));  /*for webkit browsers */
        background: -moz-linear-gradient(top,  #ececec,  #e1e1e1);   /*for firefox 3.6+ */ 
		}

		.large{
         font-size: 1em;
         font-weight: bold;
		}
		
		
	</style>
</head>

<body>
   <div metal:use-macro="../../${templates}/common.html/top" />
	<div class="container order-prints">
	
	<form method="post" action="/checkout/confirm/" id="contact-and-delivery-info">
	<div class="span-24 last">
		
      <div class="span-23 box last"> 
         <div class="span-13 last">
            <h2 i18n:translate="">Checkout</h2>
            <span i18n:translate="">Choose delivery and payment option below and press the "Next Step"</span>
         </div>
         <div class="span-10 right">
            <button class="call-to-action large submit last" type="submit" style="margin-right:0;" i18n:translate="">Next step</button>
         </div>
      </div>
		
		   <div class="span-26">
			   <div class="span-12">
				<div class="span-12 round-corners-heading gradientdiv" style="margin-bottom: 10px;">
					<h4 i18n:translate="">Your address:</h4>
				</div>
				
				<tal:block tal:condition="session/loggedin">
					<div>
						<label for="contact-email" i18n:translate="">E-mail</label> <br/>
						<input id="contact-email" name="cemail" type="text" class="text required email" value="${session/username}" 
						tal:attributes="disabled conditionalmatch:session/username,disabled,disabled,disabled"/>
					</div>
				</tal:block>
				
				<tal:block tal:condition="not:session/loggedin">
					<div>
						<label for="contact-email" i18n:translate="">E-mail</label> <br/>
						<input id="contact-email" name="cemail" type="text" class="text required email" value="${session/username}" />
					</div>
					
					<script type="text/javascript">
						$(document).ready( function() {
							$('#contact-email').bind('blur', function() {
								$.get('/api/1.0/user/registered', {newEmail: $(this).attr('value')}, function(response) {
									if (response == 'true') {
										// removes required from login
										$('#password-container').hide('fast');
										$('#password', '#password-container').removeClass('required')
										$('#checkout-login-button').remove();
										$('#password-new-user', '#new-user-container').addClass('required');
										$('#repeat-password', '#new-user-container').addClass('required');
										$('#eula', '#new-user-container').addClass('required');
										$('#new-user-container').show('fast', function() {
										   $( '#password-new-user' ).trigger( 'focus' );
										});
										$('#delivery-address').show('fast');
									}
                           else if(response == '"registered"' ){
										$('#delivery-address').hide('fast');
										$('#password', '#password-container').after('<button id="checkout-login-button">Login</button>');
										// removes required from the dom when user changes his mind
										$('#new-user-password', '#new-user-container').removeClass('required');
										$('#repeat-password', '#new-user-container').removeClass('required');
										$('#eula', '#new-user-container').removeClass('required');

										$('#new-user-container').hide('fast');
										$('#password', '#password-container').addClass('required')
										$('#password-container').show('fast', function() {
											$('#password').trigger('focus');
										});
									}
								});
							});
							$('a#open-terms-and-conditions').click( function(){
							   
							$('div#terms-and-conditions').dialog({
							   width: '780',
							   height: '600',
							   buttons: [{
							      text: "Ok", 
							      click: function(){ $(this).dialog("close"); }}],
                       modal: true
							   
							});
							
							
							   return false;
							   
							});
						});
					</script>
					
					<div class="hide" id="password-container">
						<p class="red" i18n:translate="">You are already registered, please provide password.</p>
						<label for="password" i18n:translate="">Password</label> <br/>
						<input id="password" name="password" type="password" class="password text"  /><br/>
						<div id="forgot-password" class="right span-8 last">
							<a href="/login/forgot-password" class="small">Forgot password?</a>
						</div>
						<hr class="space"/>
					</div>
					
					<div class="hide" id="new-user-container">
						<p class="red" i18n:translate="">This e-mail is not registered. Please choose a password so you can log in later.</p>
						<label for="password-new-user" i18n:translate="">Password</label> <br/>
						<input id="password-new-user" name="password-new-user" type="password" class="password text"  /><br/>
						<label for="repeat-password" i18n:translate="">Repeat password</label> <br/>
						<input id="repeat-password" name="repeat-password" type="password" class="password text" />
						<div>
							<input type="checkbox" id="newsletter" class="newsletter ignore" name="newsletter" checked="checked"/> 
							<label for="newsletter" i18n:translate="">Yes, I want to receive newsletters</label>
						</div>
						<div>
							<input type="checkbox" id="eula" class="required eula" name="eula"/> 
							<label for="eula">
								<tal:block i18n:translate="">Yes, I accept the</tal:block> 
								<a href="#terms-and-conditions" id="open-terms-and-conditions" i18n:translate="">terms and conditions</a>
							</label>
						</div>
					
						<div id="terms-and-conditions" class="hide">
							<h4 tal:content="cms:title:986de738-41ae-4586-a5e6-37aa19bcdb62"></h4>
							<p class="large" tal:content="cms:ingress:986de738-41ae-4586-a5e6-37aa19bcdb62"></p>
							<tal:block tal:content="structure cms:body:986de738-41ae-4586-a5e6-37aa19bcdb62" />
						</div>
					</div>
					
				</tal:block>


				<div id="delivery-address">
							   <!--3 -->
				  <div>
					<label for="phone" i18n:translate="">Mobile number:</label><br/>
					<input id="phone" name="phone" type="text" class="text required text-3" tal:attributes="value user/mobile|default" value=""/>
				  </div>
				<!--PHONE END -->

					<div>
						<label for="contact-name" i18n:translate="">Name:</label> <br/>
						<input id="contact-name" name="cname" type="text" class="text required name" value="${user/fullname}"/>
					</div>
	
					<div>
						<label for="contact-address" i18n:translate="">Address:</label><br/>
						<textarea id="contact-address" name="caddress" style="height: 50px;" tal:content="user/address" class="required" cols="30" rows="6"/>
					</div>
					<div>
						<div class="span-2">
							<label for="contact-zipcode" i18n:translate="">ZIP code:</label> <br/>
							<input id="contact-zipcode" name="czipcode" type="text" class="text required text-1" value="${user/zipcode}"/>
						</div>
						<div class="span-4">
							<label for="contact-city" i18n:translate="">City:</label> <br/>
							 <input id="contact-city" name="ccity" type="text" class="text required text-3" value="${user/city}"/>
						</div>
					
						<div class="span-6 last">
							<label for="contact-country" i18n:translate="">Country:</label> <br/>
							
							<select id="contact-country" name="ccountry" style="width: 120px">
								<option value="SE" i18n:translate="" selected="selected">Sweden</option>	
							</select>
						</div>
					</div>
				</div>
				
				<div class="span-12 last">
					<input id="enable-other-delivery-address" type="checkbox" name="other-delivery-address"/>
					<label for="enable-other-delivery-address" i18n:translate="">I want the order sent to another address.</label>
				</div>
				
				<div class="span-12 last prepend-top hide" id="other-delivery-address">
					<h4 i18n:translate="">Other delivery adress</h4>
					<div>
						<label for="delivery-name" i18n:translate="">Name</label> <br/>
						<input id="delivery-name" name="dname" type="text" class="text dname"/>
					</div>
					<div>
						<label for="delivery-address" i18n:translate="">Address</label><br/>
						<textarea id="delivery-address" name="daddress" style="height: 50px;" cols="30" rows="6" class="dadress"/>
					</div>

					<div class="span-12 last">
						<div class="span-2 last">
							<label for="delivery-zipcode" i18n:translate="">ZIP code</label> <br/>
							<input id="delivery-zipcode" name="dzipcode" type="text" class="text text-1 dzipcode" />
						</div>
						<div class="span-4">
							<label for="delivery-city" i18n:translate="">City:</label> <br/>
							<input id="delivery-city" name="dcity" type="text" class="text text-3 dcity"/>
						</div>

					
						<div class="span-6 last">
							<label for="delivery-country" i18n:translate="">Country</label> <br/>
							<select id="delivery-country" name="dcountry">
								<option value="SE" i18n:translate="" selected="selected">Sweden</option>	
							</select>
						</div>
					</div>
				</div>
				</div>
				
				
				<!-- NEW Delivery and payment methods -->
				
				<div id="delivery-and-payment-methods" class="span-12 last">
				<tal:block tal:condition="not:exists:serviceproduct">
				<tal:block tal:condition="exists:deliveryoptions">
			      <div class="span-12 round-corners-heading last gradientdiv"><h4 i18n:translate="">Delivery method</h4></div>
			      <div class="span-12" id="delivery-methods-wrapper" style="margin-bottom: 30px;">
			         <tal:block tal:repeat="deliverymethod deliveryoptions">
   				  <div class="span-12 " style="border-bottom: 1px dotted grey; padding: 3px;">
   				     <div class="span-5">
   					 <tal:block tal:condition="exists:storedeliveryrefid">
   					   <tal:block tal:condition="equal:deliverymethod/artnr,storedeliveryrefid,1">
                        <input id="storeon" tal:condition="exists:deliverymethod/isPreset" type="radio" name="delivery-method" value="${deliverymethod/refid}" checked="1" /> 
                        <input id="storeon" tal:condition="not:exists:deliverymethod/isPreset" type="radio" name="delivery-method" value="${deliverymethod/refid}" /> 
                     </tal:block>
                     <tal:block tal:condition="not:equal:deliverymethod/artnr,storedeliveryrefid,1">
                        <input class="storeoff" tal:condition="exists:deliverymethod/isPreset" type="radio" name="delivery-method" value="${deliverymethod/refid}" checked="1" /> 
                        <input class="storeoff" tal:condition="not:exists:deliverymethod/isPreset" type="radio" name="delivery-method" value="${deliverymethod/refid}" /> 
                     </tal:block>
                     </tal:block>
                     <tal:block tal:condition="not:exists:storedeliveryrefid">
                        <input class="storeoff" tal:condition="exists:deliverymethod/isPreset" type="radio" name="delivery-method" value="${deliverymethod/refid}" checked="1" /> 
                        <input class="storeoff" tal:condition="not:exists:deliverymethod/isPreset" type="radio" name="delivery-method" value="${deliverymethod/refid}" /> 
                     </tal:block>
		<label class="large">
			<tal:block tal:content="deliverymethod/title"></tal:block> 
			<tal:block tal:condition="conditionalmatch:deliverymethod/title,A-post,1">
				 <span class="quiet small" tal:content="cms:ingress:c06236e7-c496-49a9-9324-b29ecf06c48a"></span>
			</tal:block>
			
			<tal:block tal:condition="conditionalmatch:deliverymethod/title,Servicepakke,1">
				 <span class="quiet small" tal:content="cms:ingress:3e6c5e80-dac2-4346-9039-bd20944ba366"></span>
			</tal:block>
			<tal:block tal:condition="conditionalmatch:deliverymethod/title,Dør til dør,1">
				 <span class="quiet small" tal:content="cms:ingress:f515d742-143f-4556-8bcb-b4bbd8f30aa1"></span>
			</tal:block>
		</label>
   						
   						
   				  </div>
   					    
   				  <div class="span-3">
      			     <span class="large">
      							kr 
      							<span class="price hide" id="deliveryprice_${deliverymethod/refid}" tal:content="deliverymethod/price"></span>
      							<span tal:content="formatprice:deliverymethod/price"></span>
      						</span>
   				  </div>
   					    
   				  <div class="span-4 last" style="display: block; margin-top:8px;">
   						<tal:block tal:condition="conditionalmatch:deliverymethod/title,A-post,1">
   							<tal:block class="quiet"  i18n:translate="">approx. 3 week delivery time.</tal:block>
   						</tal:block>
   						<tal:block tal:condition="conditionalmatch:deliverymethod/title,Servicepakke,1">
   							<tal:block class="quiet" i18n:translate="">approx. 3 week delivery time.</tal:block>
   						</tal:block>
   						<tal:block tal:condition="conditionalmatch:deliverymethod/title,Dør til dør,1">
   							<tal:block class="quiet" i18n:translate="">approx. 3 week delivery time.</tal:block>
   						</tal:block>
   				      <tal:block tal:condition="conditionalmatch:deliverymethod/title,Hente i butikk,1">
   							<tal:block class="quiet" i18n:translate="">approx. 3 week delivery time.</tal:block>
   						</tal:block>
   				      <tal:block tal:condition="conditionalmatch:deliverymethod/title,Hente hos Japan Photo,1">
   							<tal:block class="quiet" i18n:translate="">approx. 3 week delivery time.</tal:block>
   						</tal:block>
   				  </div>
   					
   					<div class="span-7 last">  
   					<tal:block tal:condition="exists:storedeliveryrefid">
   					<div id="stores" tal:condition="equal:deliverymethod/artnr,storedeliveryrefid,1" style="display:none;">
                             <!--<label>Velg butikk: </label>-->
                              <select id="storedelivery" name="delivertostore" class="select">
                              <option disabled="disabled" value="" selected="selected">Velg Fotobutikk</option>
                                 <tal:block tal:repeat="chain storechains">
                                    <optgroup label="${chain/chain}">
                                    <tal:block tal:repeat="store chain/stores">
                                       <option value="${store/store/id}">${store/store/name}:
                                       ${store/store/address}</option>
                                    </tal:block>
                                    </optgroup>
                                 </tal:block>
                              </select>
                              </div>
                  </tal:block>
                  </div>  
   				</div>
   
   					
   					
   					
   			</tal:block>
   			
   			</div>
   			</tal:block>
   			</tal:block>
   			<!-- NEW payment methods -->
   			<div class="span-12 round-corners-heading gradientdiv"><h4 i18n:translate="">Payment method</h4></div>
			   <div class="span-12 last" id="payment-methods-wrapper">
			      <tal:block tal:repeat="paymentoption paymentoptions">
			         <div class="span-12 last">
			            <!--<div class="span-12" style="border-bottom: 1px dotted #000;">
			               <tal:block tal:condition="exists:paymentoption/isPreset">
			                  <input type="radio" name="payment-method" value="${paymentoption/refid}" id="${paymentoption/id}" checked="true" />
			                  <label class="large" for="payment_${paymentoption/id}">${paymentoption/title}<span class="quiet"> kr <span class="price hide" id="paymentprice_${paymentoption/refid}">${paymentoption/price}</span><span>${paymentoption/price}</span></span></label>
			               </tal:block>
			               <tal:block tal:condition="not:exists:paymentoption/isPreset">
			                  <tal:block tal:condition="not:conditionalmatch:paymentoption/refid,358,1">
			                     <input type="radio" name="payment-method" value="${paymentoption/refid}" id="${paymentoption/id}" />
			                     <label class="large" for="payment_${paymentoption/id}">${paymentoption/title}<span class="quiet"> kr <span class="price hide" id="paymentprice_${paymentoption/refid}">${paymentoption/price}</span><span>${paymentoption/price}</span></span></label>
			                  </tal:block>
			               </tal:block>
				     </div>-->
			         </div>
			      </tal:block>
			   </div>
   			</div>
			   </div>
		<!--</form>-->
	</div>
	 <!-- order summary -->
    <div class="span-24 last">
   				<tal:block metal:use-macro="common.html/order-summary" />
   				<div class="right">
   					<button class="call-to-action large submit last" i18n:translate="" type="submit" style="margin-right:0;">
   						Next step
   					</button>
   				</div>
			   </div>
			   
    </form>	
    </div>
	

   <div metal:use-macro="../../${templates}/common.html/footer" />

<script type="text/javascript" src="${static:js/checkout.js}?${version}"></script>
<script type="text/javascript">

	$( document ).ready( function(){
		
		$( '#delivery-methods-wrapper :radio' ).first().click();
		
		});

	
	
	//console.log( $('.input[name="delivery-method"').val() );
   
	$('form#contact-and-delivery-info').validate({
		rules: {
			cname: {
				required: true,
				fullname: true
			},
			cemail: {
				required: true,
				email: true
			},
			czipcode: {
				required: true,
				minlength: 4
			},
			ccity: {
				required: true
			},
			caddress: {
				required: true
			},
			'repeat-password': {
				equalTo: '#password-new-user'
			},
			delivertostore:{
            required: "#storeon:checked"
			},
			phone:{
            required : true,
            digits : true,
            minlength : 8
			}
		},
		messages: {
			cname: {
				required: "<tal:block i18n:translate="">Required</tal:block>",
				fullname: "<tal:block i18n:translate="">Please enter your first name and surname.</tal:block>"
			},
			cemail: {
				required: "<tal:block i18n:translate="">Required</tal:block>",
				email: "<tal:block i18n:translate="">Your email address must be in the format of name@domain.com</tal:block>"
			},
			czipcode: {
				required: "<tal:block i18n:translate="">Required</tal:block>",	
				minlength: "<tal:block i18n:translate="">Please enter at least 4 digits</tal:block>"	
			},
			ccity: {
				required: "<tal:block i18n:translate="">Required</tal:block>"	
			},
			caddress: {
				required: "<tal:block i18n:translate="">Required</tal:block>"	
			},
			'repeat-password': {
				equalTo: "<tal:block i18n:translate="">Oops, your passwords don't match. </tal:block>"
			},
			eula: {
				required: "<tal:block i18n:translate="">You have to read and accept the terms and conditions</tal:block>"
			},
			delivertostore:{
			   required: "Du må velge en butikk!"
			},
			phone:{
			   required: "Du må oppgi et telefonummer",
			   number: "Du må oppgi et gyldig mobilnummer"
			}
		}
	});
</script>


</body>
</html>