<!-- HEAD -->
<head metal:define-macro="head" tal:omit-tag="">
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<!--<title>repix</title>-->
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description" content="repix repix navnelapper klemerking" />
<meta name="keywords" content="repix repix navnelapper klemerking" />
<meta name="author" content="adelesstoroy" />
<meta property="og:title" content="repix.no"/>
<meta property="og:image" content=""/>
<meta property="og:url" content="www.repix.no"/>
<meta property="og:site_name" content="repix"/>
<meta property="og:description" content=""/>
<link rel="shortcut icon" type="image/jpg"  href="/repixsite/gfx/repix.png"/>

<title> 
<tal:block tal:condition="not:exists:pagetitle">Repix</tal:block> 
<tal:block tal:condition="exists:pagetitle" tal:content="pagetitle" /> 
</title>
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="favicon.ico"/>
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet"/>

<!-- Animate.css -->
<link rel="stylesheet" href="/repixsite/css/animate.css"/>
<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="/repixsite/css/icomoon.css"/>
<!-- Bootstrap  -->
<link rel="stylesheet" href="/repixsite/css/bootstrap.css"/>
<!-- Flexslider  -->
<link rel="stylesheet" href="/repixsite/css/flexslider.css"/>
<!-- Theme style  -->

<!--Denne tek vekk fagekartet til lappane-->
<link rel="stylesheet" href="/repixsite/css/style.css"/>

<!-- Modernizr JS -->
<script src="/repixsite/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="/repixsite/js/respond.min.js"></script>
<![endif]-->
 
<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css' />
<link href='https://fonts.googleapis.com/css?family=Kalam:300,400' rel='stylesheet' type='text/css' />
<!-- Bootstrap core CSS -->
<!-- <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" media="screen, projection" />-->
<link rel="stylesheet" href="/repixsite/css/font-awesome.min.css" type="text/css" media="screen, projection" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


<!--hente priser-->
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/jquery-1.10.2.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<meta tal:condition="exists:google" name="google-site-verification" content="${google/google-site-verification}" /> 


	
	 <tal:block metal:use-macro="javascript" />
</head>


<tal:block metal:define-macro="javascript">
	
	 <script type="text/javascript" src="/js/jquery-1.10.2.js"></script>
   <script type="text/javascript" src="/js/jquery.validate.min.js"></script>
   <script type="text/javascript" src="/js/bootstrap.min.js"></script>
   <!--<script type="text/javascript" src="/js/common.js"></script>-->
	
</tal:block>

<!-- top-header -->

<div metal:define-macro="top" tal:omit-tag="">
	 <div id="repixpage-page">
		<a href="#" class="js-repixpage-nav-toggle repixpage-nav-toggle"><i></i></a>
		<aside id="repixpage-aside" role="complementary" class="border js-fullheight">
 <a href="/"><img  class="repixlogo" width="250" height="59" src="https://static.repix.no/cms/images/logorepix2020blaa.png"  /></a>
			
			<nav id="repixpage-main-menu" role="navigation">		  
				<ul>
				
						<br/>
			<!--	<li><a href="/kort">FOTOKORT</a></li>
				<li><a href="/kalendar/">KALENDER</a></li>
			<li><a href="/fotobutikk/produkter/veggbilder/delte-lerretsbilder/">LERRETSBILDE</a></li>
				<li><a href="/cewe-fotobok/">CEWE FOTOBOK</a></li>-->
			
					
					
					<li><a href="/sognogfjordane-kopp/">SOGN OG FJORDANE KOPPER</a></li>
					<li><a href="/sognogfjordane-tshirt/">SOGN OG FJORDANE T-SKJORTER</a></li>
		
					<div class="text-center">
				<button id="buttonface"  onclick="window.location.href = 'https://www.facebook.com/repix.no/';"></button>
						</div>
				<!-- 
			NYHETSBREV REPIX: VENT MED Å PUSHE UT				
<button type="button responsive"  class="btn btn-success" data-toggle="modal" data-target="#myModal">NYHETSBREV REPIX</button>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog" style="width:80%; ">


    <div class="modal-content" style="height:90% !important;">
      <div class="modal-header">
        <button type="button btn success" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Repix Nyhetsbrev</h4>
      </div>
      <div class="modal-body">
      
	<iframe src="https://nfoto.us4.list-manage.com/subscribe?u=9d33c2f56b22decb9fa96c903&id=4df7a5c6d1"  style="zoom:0.80" width="99.6%" height="500px" frameborder="0"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">LUKK</button>
      </div>
    </div>

  </div>
</div>-->
				
				 <br/>	 <br/>	
			<!--
			utkommentert enda	-->
			<tal:block tal:condition="session/loggedin">
			<li>	<a href="/myaccount/" title="MIN KONTO">Min Konto</a></li>
			
					</tal:block>
						<li><a href="/om-oss/">Om oss</a></li>
							<li><a href="/kontakt-oss/">Kontakt oss</a></li>
							<!--			<li><a href="/repixlapp/informasjonsmateriell/">Informasjonsmatriell</a></li>
				<li><a href="/repixlapp/navnegaver">Navnegaver</a></li>
					<li><a href="/produkter/tilbehor/merkelapp">Tilbehør</a></li>-->
			<li>
				<hr/>
				<a href="/cart" class="">
				<strong>Din handlevogn</strong><br/>
				<span  id="cart-total-items" class="varer" tal:content="cart/totalitems"></span>
				<tal:block i18n:translate="">varer</tal:block>|
			kr <span id="cart-total-price" tal:content="formatprice:cart/totalprice"></span>
				</a>
				
				</li>
						
				</ul>
				
				
				
				
						<div class="actions" id="shMenu">
					<ul>
						<tal:block tal:condition="session/loggedin">
					
						<li role="presentation">
							
							<a href="/cart">Handlekurv
							
								<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
								<span  id="cart-total-items" tal:content="cart/totalitems"></span>
								<tal:block i18n:translate="">products</tal:block>, kr.
									<span id="cart-total-price" tal:content="formatprice:cart/totalprice"></span>
									
									
								</a>
						</li>
							
							
					<!--			utkommentert-->	<li>
								<a class="register" href="/logout">Logg ut
								<span class="glyphicon glyphicon-user"></span></a>
							</li>
						</tal:block>
						
						<tal:block tal:condition="not:session/loggedin">
					<!--		Utkommentert --><li>
								<a class="login" href="/login"><span class="glyphicon glyphicon-user"></span>Logg inn</a>
							</li>
						</tal:block>
					</ul>
					
							
							
				</div>
						
						
						
			</nav>
			 <img  class="img-responsive" style="margin: 0 auto;" src="https://cdn.klarna.com/1.0/shared/image/generic/badge/nb_no/checkout/short-white.png?width=312" />
			 
			 <br/>
			 
			 <div class="col-md-12 text-center">
					<p class="copywright" style="color: #ffffff; ">
				   Copyright | © ${request/date/year} Repix AS
				   </p>
				</div>
		</aside>
	</div>

<!--MARBLE-->
<!-- jQuery -->
	<script src="/repixsite/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/repixsite/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/repixsite/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/repixsite/js/jquery.waypoints.min.js"></script>
	<!-- Flexslider -->
	<script src="/repixsite/js/jquery.flexslider-min.js"></script>
	
	
	<!-- MAIN JS -->
	<script src="/repixsite/js/main.js"></script>
	
	
		<!-- LAGT INN FOR Å FÅ SLETTA BILDE JS -->

<link href="${static:}css/jqueryui/jquery-ui.min.css" rel="stylesheet" />
<script src="/js/eurofoto2.js"></script>
<script src="/repixsite/css/jqueryui/jquery-ui.min.js"></script>
<!--MARBLE END-->

<!--For å endre underscore i menyen-->

	
	
<!--For å få inn tshirts-->

		<script type="text/javascript" src="${static:js/jquery.fancybox-1.3.0.pack.js}"></script>

	


<script>
  [].forEach.call(document.querySelectorAll('a'), function(elem) {
    if (elem.pathname === window.location.pathname)
      elem.classList.add('is-active')
    else
      elem.classList.remove('is-active')
  })
		
		
		

</script>




<script>
var frameSrc = "/login";

$('#openBtn').click(function(){
    $('#myModal').on('show', function () {

        $('iframe').attr("src",frameSrc);
      
	});
    $('#myModal').modal({show:true})
});</script>


<!--FROM OLD FOOTER-->

<tal:block metal:use-macro="get-satisfaction" />
	<tal:block metal:use-macro="google-analytics" />
	<tal:block tal:condition="exists:lyrishq">
	   
		<script type="text/javascript" src="https://stats.clicktracks.com/cgi-bin/ctasp-server.cgi?i=${lyrishq}"></script>
		
   </tal:block>


	<script type="text/javascript">
		var ttConversionOptions = ttConversionOptions || [];
		ttConversionOptions.push({
		 type: 'lead',
		 campaignID: '22709',
		 productID: '33257',
		 transactionID: '{transactionID}',
		 email: '',
		 descrMerchant: '',
		 descrAffiliate: ''
		});
	   </script>
	   <noscript>
		<img src="//tl.tradetracker.net/?cid=CAMPAIGN_ID&amp;pid=33257&amp;tid={transactionID}&amp;data=&amp;eml=&amp;descrMerchant=&amp;descrAffiliate=&amp;event=lead" alt="" />
	   </noscript>
	   <script type="text/javascript">
		(function(ttConversionOptions) {
		 var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
		 var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
		 var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
		})(ttConversionOptions);
	</script>
	   
	   
	   

	
</div>

<!-- top-small-navigation -->
<div metal:define-macro="top-small-navigation" id="topsmallnavigation" class="span-19 last">

</div>

<!-- main-navigation add class "active" to the active anchor-->
<div metal:define-macro="main-navigation" id="main-navigation">
	

</div>



<!-- breadcrumbs -->
<div metal:define-macro="breadcrumbs" id="breadcrumbs">
	<ul>
		<li><a href="" i18n:translate=""></a></li>
		<li class="active" i18n:translate=""></li>
	</ul>
</div>





<!-- beta message -->
<tal:block metal:define-macro="message">
</tal:block>







	
	
<!-- FOOTER -->
<tal:block metal:define-macro="footer">

	<tal:block metal:use-macro="get-satisfaction" />
	<tal:block metal:use-macro="google-analytics" />
	<tal:block tal:condition="exists:lyrishq">
	   
		<script type="text/javascript" src="https://stats.clicktracks.com/cgi-bin/ctasp-server.cgi?i=${lyrishq}"></script>
		
   </tal:block>


	<script type="text/javascript">
		var ttConversionOptions = ttConversionOptions || [];
		ttConversionOptions.push({
		 type: 'lead',
		 campaignID: '22709',
		 productID: '33257',
		 transactionID: '{transactionID}',
		 email: '',
		 descrMerchant: '',
		 descrAffiliate: ''
		});
	   </script>
	   <noscript>
		<img src="//tl.tradetracker.net/?cid=CAMPAIGN_ID&amp;pid=33257&amp;tid={transactionID}&amp;data=&amp;eml=&amp;descrMerchant=&amp;descrAffiliate=&amp;event=lead" alt="" />
	   </noscript>
	   <script type="text/javascript">
		(function(ttConversionOptions) {
		 var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
		 var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
		 var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
		})(ttConversionOptions);
	</script>
	   
	   
	   
	   <script>
</script>	   
</tal:block>



<!-- get Satisfaction -->
<tal:block metal:define-macro="get-satisfaction">
	
</tal:block>

<!-- Google Analytics gs.js www.eurofoto.no -->
<tal:block metal:define-macro="google-analytics">

   
 
   <tal:block tal:condition="exists:google">
	<script type="text/javascript">
	//<![CDATA[
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	//]]>
	</script>
	<script type="text/javascript">
		try{
		var pageTracker = _gat._getTracker("${google/analytics}");
			<tal:block tal:condition="not:session/loggedin">
				pageTracker._setVar('unregistered');
			</tal:block>
			<tal:block tal:condition="session/loggedin">
				pageTracker._setVar('member');
			</tal:block>
			pageTracker._setDomainName(".repix.no");
			pageTracker._trackEvent('Performance', 'Execution time', 'xml', Math.round( ${statistics/exectime} * 10 )/10 );
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
	</tal:block>
</tal:block>