<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${i18n/country}" lang="${i18n/country}">

<head>
	  <title>Velkommen</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<tal metal:use-macro="../../${templates}/common.html/head" />

	
	<style>
		


	</style>
	
</head>

<body>
	<div metal:use-macro="../../${templates}/common.html/top" />
  
		<div class="container">

			<div class="row">
				<section class="col-10">
					<h2 class="h1-responsive font-weight-bold text-center my-4">Gratulerer!</h2>

					<div class="row">

						<p class="text-center">Det er nå sendt en e-post til deg hvor du kan benytte deg av tilbudet med gratis navnelapper.</p>
						<p class="text-center"> Om du ikke har mottatt e-post sjekk søppelkurv for sikkerhets skyld, eller ta kontakt med oss.</p>
					</div>

				</section>


			</div>

			<div metal:use-macro="../../${templates}/common.html/footer" />
		</div>



</body>
</html>