<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<div metal:use-macro="../common.html/head" />
	

    </head>
    
    <body>
        <div class="row text-center hidden-phone header">
	    <img  src="/web/images/preheader.png" alt="LAG LOKK MED DITT BILDE"/>
        </div>
        <div class="container left">
			<!-- artikkel 2875 -->
            <div style="background:  #fff; padding: 100px;" tal:content="structure cms:body:bdfae130-4c73-4c7c-98eb-c0a769bddec2" />

        </div>

        <div metal:use-macro="../common.html/footer" />

</body>
</html>
