<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<div metal:use-macro="../common.html/head" />
	<div metal:use-macro="../common.html/stylesheet" />
        
        <meta name="descritption" content="Se så kult lokk jeg har laget! Kjøp tre bokser Stabburet
Leverpostei, og lag lokk med ditt navn og bilde du også."/>
        
        <meta property="og:title" content="Lag ditt eget lokk!" />
        <meta property="og:description" content="Se så kult lokk jeg har laget! Kjøp tre bokser Stabburet
Leverpostei, og lag lokk med ditt navn og bilde du også." />
        <meta property="og:image" content="http://stabburetbeta.eurofoto.no/bestill/ThumbShare/${id}/${id}.jpg" />

		
		
		<style>
			body {
				margin: 0;
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 14px;
				line-height: 20px;
				color: #333;
			}
			.headerfacebook {
				background-image: url('/web/images/editortop.png');
				position: relative;
				top: 0px;
				margin: 0px;
				padding: 15px;
			}
		</style>
    </head>
    
    <body>
        <div class="container center">
			<div class="text-center headerfacebook" style="padding-right: 10px">
				<div>
					<img src="http://www.stabburetleverpostei.no/extension/orkla/design/ofn_product_stabburetleverpostei_no/images/logo.png" />
				</div>
			</div>

            <h3>Se så kult lokk jeg har laget!<br/> Kjøp tre bokser Stabburet<br/>
Leverpostei, og lag lokk med ditt navn og bilde på <a href="http://www.stabburetleverpostei.no" style="text-decoration: underline; color:#EB2C22;">stabburetleverpostei.no</a> du også. </h3>
            
            <img src="/bestill/ThumbShare/${id}/${id}.jpg"/>

            
            <div>

            </div>

        </div>
	<div metal:use-macro="../common.html/javascript" />
        <div metal:use-macro="../common.html/footer" />

</body>
</html>
