<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head metal:use-macro="../common.html/head" />

<body>

<div class="container">

	<div metal:use-macro="../common.html/top" />

	<div metal:use-macro="../common.html/left-menu" />
	
	<div id="content">
		<h2><span class="alt">404</span> - Kan ikke finne</h2>
		<p>Vi kan desverre ikke finne det du lete etter. Vi anbefaler deg å prøve å søke etter hva du vil ha.</p>
	</div>
		
	<div metal:use-macro="../common.html/right-menu" />

	<div metal:use-macro="../common.html/footer" />
	
</div>

</body>
</html>