<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle" i18n:translate="">Register</tal:block>

	<style media="screen" type="text/css">
	  div#fancy_div {
	     overflow: scroll;
	     overflow-x: hidden;
	     background-color: #fff;
	     color: #111;
	  }
	  
	  
	  h2{
		
		color: #ee740b;
	  }
	</style>
	
	<script src="/js/fancybox.min.js" type="text/javascript"></script>
	
</head>


<body>
<div metal:use-macro="../../${templates}/common.html/top" />
<div class="container">


	
	<div id="content">
		
		<form action="/register/check/" method="post" id="register">
		
			<div class="span-18 prepend-4 append-2 last">
			<h2 i18n:translate="">Registering av  kunde Fotopix</h2>
			<!--<p i18n:translate="">Complete the form, and get a free membership and your own photo account!</p>-->
				<hr/>
				<div class="span-18 last">
					<div class="span-3">
						<label for="email" class="span-3 last" i18n:translate="">Email</label>
					</div>
					<div  class="span-7">
						<input type="text" class="title span-7 required email" name="newEmail" tal:attributes="value email|default" value="" id="email"/>
						<hr/>
					</div>
					<div class="span-8 last">
					
					</div>
				</div>			
				
				<div class="span-18 last">
					<div class="span-3">
						<label for="pasword" class="span-3 last">Passord</label>
					</div>
					<div class="span-7">
						<input type="password" class="span-7 title required password" name="password" tal:attributes="value password|default" value="" id="password"/>
					<hr/>
					</div>
					<div class="span-8 last">
					
					</div>
				</div>
				<div class="span-18 last">
					<div class="span-3">
						<label for="pasword" class="span-3" i18n:translate="">Repeat password</label>
					</div>
					<div class="span-7">
						<input type="password" class="span-7 title required password" name="password2" tal:attributes="value password|default" value="" />
					</div>
					<div class="span-8 last">
					
					</div>
				</div>
	
				<div class="span-18 last">
					<div class="prepend-3 span-12 prepend-top">
						<input type="checkbox" id="eula" class="required eula"  name="eula" /> 
						<label for="eula">
							<tal:block i18n:translate="">Opprett ny kunde</tal:block><!-- <a href="${url:/om/terms-and-conditions}" id="open-terms-and-conditions"  style= "color: #ee740b; !important;"i18n:translate="">Terms and conditions</a>-->
						</label>
					</div>
					<div class="span-8 last">
						
					</div>
				</div>
				<!--<div class="prepend-3 span-15 last">
					<input type="checkbox" id="newsletter" class="newsletter ignore" name="newsletter"/> 
					<label for="newsletter" i18n:translate="">Yes, I want to receive newsletters</label>
				</div>	-->			
				<div class="span-18 last">
					<p class="right">
						<button type="submit" class="button blue large submit" i18n:translate="">
							 Register
						</button>
					</p>
				</div>			
			</div>
			
			<div id="terms-and-conditions">
				<tal:block tal:content="structure cms:body:986de738-41ae-4586-a5e6-37aa19bcdb62" />
			</div>
			
		</form>
	</div>
</div>


<div metal:use-macro="../../${templates}/common.html/footer" />

<script type="text/javascript">

$(document).ready(function() {  

	$('form#register').validate({
		errorClass: "inputError",
		errorPlacement: function(error, element) {
     		error.appendTo( element.parent("div").next("div") );
   		},
		rules: {
			newEmail:{
				required: true,
				email: true,
				remote: '/api/1.0/user/registered/'
			},
			password: {
				required: true,
				maxlength: '15',
				minlength: '5'
				
			},
			password2: {
				equalTo: '#password'
			}
		},
		messages: {
			newEmail: {
				required: '<tal:block i18n:translate="">You need to provide a valid e-mail address to log in.</tal:block>',
				email: '<tal:block i18n:translate="">Please provide a valid email address.</tal:block>',
				remote: jQuery.format('<tal:block i18n:translate="">{0} is already registered. Is this you? If so, try logging in.</tal:block><a href="/login/" i18n:translate="">Go to login</a>')
			},
			password: {
				required: "<tal:block i18n:translate="">Please enter password.</tal:block>",
				maxlength: jQuery.format('<tal:block i18n:translate="">Your password cannot be longer than {0} characters.</tal:block>'),
				minlength: jQuery.format('<tal:block i18n:translate="">Your password should be longer than {0} characters.</tal:block>')
			},
			password2: {
				required: "<tal:block i18n:translate="">Please enter password</tal:block>",
				equalTo: "<tal:block i18n:translate="">Oops, the passwords don't match.</tal:block>"
			},
			eula: {
				required: "<tal:block i18n:translate="">Obligatorisk felt for å opprette kunde</tal:block>"
			}
		}
	});
	
	$('#terms-and-conditions').addClass('hide');
	
	$('#terms-and-conditions').css('background-color', '#fff');
	
	$('#open-terms-and-conditions').click( function() {
		$('#terms-and-conditions').removeClass('hide').dialog({
			width: 700,
			height: 500,
			buttons: {
				'Ok': function() {
					$(this).dialog('destroy')
				}
			},
			close: function() {
				$(this).dialog('destroy')
			}
		});
		return false;
	});
});
</script>
</body>
</html>