<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle" i18n:translate="">Feedback</tal:block>
</head>

<body>

<div class="container">
   
	<div metal:use-macro="../../${templates}/common.html/top" />
   
	<div class="prepend-4 append-4 last pagedialog" tal:condition="not:exists:sentToEmail">
		<div clas="clear clearfix"></div>
			<h2 i18n:translate="">Feedback</h2>
			<p i18n:translate="">Provide us with feedback on this service privately</p>
			
			<form action="/contact/feedback" method="post">
				
				<div class="append-bottom">
					<label for="name" i18n:translate="">Name</label><br/>
					<tal:block tal:condition="not:session/loggedin">
						<input type="text" class="text" name="name" id="name"/>
					</tal:block>
					<tal:block tal:condition="session/loggedin">
						<input type="text" class="text" name="name" id="name" tal:attributes="value session/fullname" disabled="disabled" />
					</tal:block>
				</div>
				
				<div class="append-bottom">
					<label for="email" i18n:translate="">E-mail</label><br/>
					<tal:block tal:condition="not:session/loggedin">
						<input type="text" class="text" name="email" id="email"/>
					</tal:block>
					<tal:block tal:condition="session/loggedin">
						<input type="text" class="text" name="email" id="email" tal:attributes="value session/username" disabled="disabled"/>
					</tal:block>
				</div>

				<div>
					<label for="reason" i18n:translate="">Reason for contacting us</label><br/>
					<select name="reason" id="reason">
						<option value="help" selected="selected" i18n:translate="">Help me!</option>
						<option value="error" i18n:translate="">Error</option>
						<option value="suggestion" i18n:translate="">Suggestion</option>
						<option value="orders" i18n:translate="">Orders</option>
						<option value="products" i18n:translate="">Products</option>
					</select>
				</div>
				
				<div>
					<label for="message" i18n:translate="">Message to us</label><br/>
					<textarea name="message" id="message"></textarea>
				</div>
				
				<button type="submit" i18n:translate="">Submit</button>
				
			</form>
		</div>
	</div>
<script language="JavaScript">
$(document).ready( function() {
   $('#name').focus();
});
</script>

<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>

</body>
</html>