<!-- HEAD -->
<head metal:define-macro="head" tal:omit-tag="">
 <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                        ga('create', 'UA-128574459-1', 'auto');
                   ga('require', 'displayfeatures');
                        ga('send', 'pageview');
        </script>
 
   <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
     <link rel="shortcut icon" type="image/jpg"  href="/fav.png"/>
    
    <title> 
      <tal:block tal:condition="not:exists:pagetitle">Gratis Navnelapp DinMerkelapp</tal:block> 
      <tal:block tal:condition="exists:pagetitle" tal:content="pagetitle" /> 
    </title>
    
    <link href="/css/main.css" rel="stylesheet" />
   
    <script src="/js/bundle.js"></script>

</head>

<!-- Navigation -->
<header metal:define-macro="top" tal:omit-tag="">
  
	<nav class="navbar navbar-expand-md navbar-light flex-column">
		<div class="container menuborder">
			    
        <h1 class=""><a href="/">  <img class="" src="/gfx/logo/logo2020.png?text=Logo" style="width: 240px; height: 73px;" alt=""/></a></h1>
			<div class="collapse navbar-collapse togg flex-column align-items-start ml-lg-2 ml-0" id="navbarCollapse">

				<div class="mx-auto order-0 mt-2">
					<!--tekst  bare skjult på xs device-->
					<h5 class="d-none d-sm-block text-success">Gratis frakt – Norsk produksjon – 100% fornøyd</h5>
				</div>

			</div>
		</div>

	</nav>
    
</header>




	<tal:block metal:define-macro="footer">
  
<footer class="footer" style="background-color: #3a5563; color: #ffffff;">

			<div class="row">
				<div class="col-md-10 mt-2">
					<div class="footer_logo text-center"><a href="#"><img src="images/logo_3.png" alt="" /></a></div>
				</div>
			</div>
			<div class="row footer_row">
				<div class="col-lg-4 footer_col">
					<div class="footer_item text-center">
						<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
							<div><img src="images/phone.png" alt="" /></div>
						</div>
						<div class="footer_title">KONTAKT OSS</div>
						<div class="footer_list">
							<ul class="list-unstyled">
								<br/>
								<li>57 88 35 00</li>
									<li>Åpningstider: 09:00-16:00</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 footer_col">
					<div class="footer_item text-center">
						<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
							<div><img src="images/mail.png" alt="" /></div>
						</div>
						<div class="footer_title" style="font-style: !important">E-POST</div>
						<div class="footer_list">
							<ul class="list-unstyled">
								<br/>
								<li>post@dinmerkelapp.no</li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 footer_col">
					<div class="footer_item text-center">
						<div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
							<div><img src="images/contact.png" alt="" /></div>
						</div>
						<div class="footer_title">ADRESSE</div>
						<div class="footer_list">
							<ul class="list-unstyled">
								<br/>
								<li>Reed senter</li>
								<li>6827 BREIM</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<br/>
   
   
   
        	<div class="row col-md-8  offset-md-2 mt-3">
					<img class="mx-auto" src="/gfx/frontpage/vipps_logo_rgb2.png" alt="" />
					<a class="mx-auto mt-2" href="https://www.facebook.com/Dinmerkelapp" type="button" role="button" style="color: #ffffff;" >Facebook <i class="fab fa-facebook-f"></i></a>
					<a class="mx-auto mt-2" href="https://www.instagram.com/dinmerkelapp.no/" type="button" role="button" style="color: #ffffff;">Instagram <i class="fab fa-instagram"></i></a>
				</div>
        
        
        
        
        
        
	       <div class="row col-md-2 offset-md-5 mt-3 mb-3">
				<div class="mx-auto">
					<a style="color:#ffffff;" href="/vilkar">Vilkår</a></div>
				<div class=" mx-auto">
					<a  style="color:#ffffff;" href="/personvern">Personvern</a></div>
			</div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
			
				<!--<div class="col-12">
				   
				   <img  class="img-fluid " src="https://cdn.klarna.com/1.0/shared/image/generic/badge/nb_no/checkout/long-white.png?width=400" />
				  
				   	<br/>
				</div>-->
			
				

	<div class="footer_bar d-flex flex-row align-items-center justify-content-center">
		<div class="copyright text-center">
			Copyright ©<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
			<script type="text/javascript">
				document.write(new Date().getFullYear());
			</script> Repix AS
		</div>
	</div>
</footer>

  
</tal:block>
