<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gratis Merkelapp</title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <br /><br />
                <td align="center" width="400"valign="middle" ><a href= "https://gratis.dinmerkelapp.no/gfx/logo/logo2020.png?text=Logo" target="_blank"><img src="https://gratis.dinmerkelapp.no/gfx/logo/logo2020.png?text=Logo" width="400" height="116" border="0" alt=""/></a></td>
                <td width="393"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="46" align="right" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        
                        </table></td>
                    </tr>
                    <tr>
               
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10%">&nbsp;</td>
                <td width="80%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:24px"><strong><em>Kjære ***NAVN*** 
,</em></strong></font><br /><br />
                  <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px">Sendingsbekreftelse. 
<br align="center" /><br />
Pakken er sendt til adressen du registrerte hos oss. 

Vi leverer post til Posten hver dag (mand-fred) kl. 14.30 og varene skal
normalt være hos deg innen 3 dager(Noen områder i Norge og utlandet kan
ta noe lenger tid.)

Har du spørsmål eller kommentarer til ordren din? Ta kontakt med oss på
<a href="mailto:post@dinmerkelapp.com?Subject=Levering%20dinmerkelapp" target="_top">post@dinmerkelapp.no</a> eller (+47) 5788 3500
<br /><br />
Vennlig hilsen<br />
Dinmerkelapp
</font></td>
                
                
                
                <td width="10%">&nbsp;</td>
              </tr>
            
            </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#8dc63f" width="598" height="7" style="display:block" border="0"/td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
         
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
           <td align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:8px"><strong><a href= "http://www.utestemme.no/" style="color:#010203; text-decoration:none">UTESTEMME FOTO  |</a> Dælenenggata 38d |
0567 Oslo  | org.nr 996532119</strong></font></td>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>