<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<div metal:use-macro="../common.html/head" />
	<div metal:use-macro="../common.html/stylesheet" />
        
        <meta name="descritption" content="Kjøp 3 bokser Stabburet leverpostei, og få ditt eget lokk med bilde."/>
        
        <meta property="og:title" content="Stabburetleverpostei" />
        <meta property="og:description" content="Kjøp 3 bokser Stabburet leverpostei, og få ditt eget lokk med bilde." />
        <meta property="og:image" content="http://stabburetbeta.eurofoto.no/bestill/thumb/${id}/${id}.jpg" />

    </head>
    
    <body>
        <div class="row text-center hidden-phone header">
	    <img  src="${static:css/portals/stabburet/web/images/preheader.png}" alt="LAG LOKK MED DITT BILDE"/>
        </div>
        <div class="container center">
            <!-- Main hero unit for a primary marketing message or call to action -->
            
            <img src="${static:css/portals/stabburet/web/images/pretext.png}" alt="Kjøp 3 bokser Stabburet leverpostei"/>
            
            
            <img src="/bestill/thumb/${id}/${id}.jpg"/>

            <!-- Example row of columns -->
            <div>

            </div>

        </div>
	<div metal:use-macro="../common.html/javascript" />
        <div metal:use-macro="../common.html/footer" />

</body>
</html>
