<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <div metal:use-macro="../common.html/head" />
        <div metal:use-macro="../common.html/stylesheet" />
	<div metal:use-macro="../common.html/javascript" />
	<style type="text/css">
	    .pil{
		display: block;
		position: absolute;
		top: -70px;
		left: 360px;
	    }
	    .container{
		position: relative;
		height: 100%;
		background-color: #ffffff;
	    }
	    
	</style>
    </head>
    
    <body>
		
		<div class="container">
			<div class="content">
        
        <div class="container">
            <!-- Main hero unit for a primary marketing message or call to action -->
	  
	    
	   
		
		<div class="col-md-6 text-center">
	    <div>
		<a href="/skanskaengelsk" class="btn btn-skanska">Engelsk</a>
	    </div>
		    </div>
		
		
				<div class="col-md-6 text-center">
		<div>
			
		<a href="/stickers" class="btn btn-skanska">Norsk</a>
	    </div>
    </div>
</div>
		</div>
        </div>
	
        <div metal:use-macro="../common.html/footer" />
        <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

</body>
</html>
