




<tal:block metal:define-macro="productinfo">
	<!-- The Modal -->
<div id="produktinfomodal" class="modal">

  <!-- Modal content -->
  <div class="modal-content2">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2 class="text-center">VÅRE PRODUKTER </h2>
    </div>
    <div class="modal-body">
    <div class="defProdDescrSection">
			<div id="defProductDescr">
				
	<h2 class="liten_overskrift text-center">MERKELAPP MED FARGE / KUTOPPEN MERKELAPP</h2>			

<p class="tekst"><br/>Vår merkelapp med farge sitter godt på det aller meste og kan benyttes til merking av både klær og ting. Vi anbefaler å feste lappen på klærnes vaskeanvisning.</p>
<p class="tekst"><br/>For klær uten vaskeanvisning/klesmerke anbefaler vi strykelapp som festes direkte på plagget.</p>
<p class="tekst"><br/>Merkelapp med farge brukes også merking av eiendeler med harde overflater, alt fra matbokser og drikkeflasker, til leker, bøker og blyanter.</p>
<p class="tekst">&nbsp;</p>
<p class="tekst"><img class="formattingLeft" src="/gfx/60grader.jpg" alt="Strykefrie navnelapper. Vaskeanvisning klistrelapper" />Vaskemasin</p>
<p class="tekst"><img class="formattingLeft" src="/gfx/oppvask.jpg" alt="Tåler oppvaskmaskin"/>&nbsp; &nbsp; Oppvaskmaskin</p>

<hr/>
<p class="tekst">&nbsp;</p>

<h2 class="liten_overskrift text-center">STRYKELAPPER</h2>
<p class="tekst">Strykelapp er perfekt til merking av tøy uten vaskeanvisning/klesmerke, eller til tøy som vaskes på høye temperaturer. Monteres enkelt ved å stryke på plagget.</p>
<p class="tekst">&nbsp;</p>
<p class="tekst"><img class="formattingLeft" src="/gfx/90grader.jpg" alt="Strykelapper fargelapper. Vaskeanvisning." />Vaskemaskin</p>

<hr/>

<h2 class="liten_overskrift text-center">TEKSTILSTEMPEL</h2>
<p class="tekst">Tekstilstempel brukes for rask merking av lyse tekstiler. Stemples rett på plagget eller vaskelappen. Kan vaskes på 90 grader, tåler ca 30 vask på 60 grader.</p>
<p class="tekst">Blekkpute til bruk på tekstil følger med. Flere/nye blekkputer kan etterbestilles.</p>
<p class="tekst">For mørke klær og klær uten vaskelapp anbefaler vi å bruke merkelapp med farge, eller strykelapp</p>
<p class="tekst"><img class="formattingLeft" src="/gfx/60grader.jpg" alt="Strykelapper fargelapper. Vaskeanvisning." />Vaskemaskin</p>

			</div>
		</div>     
    </div>
  </div>
</div>
	<!--MODAL SLUTT-->
	</tal:block>

