<!DOCTYPE html>
<html lang="no">
<head>


		  <title>Navnelapper i til klær og ting. Design selv </title>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<tal metal:use-macro="../../${templates}/common.html/head" />
<!-- 	<link rel="stylesheet" href="/css/bestilling.css" type="text/css" media="screen, projection" />-->
<style>
.nav-link {
	padding: 0.5rem 0.5rem;
}

.clip,
.backgroundfile {
	cursor: pointer;
}

.color {

	border: 1px solid #3a5563 !important;
}

.simplecolorpicker.icon,
.simplecolorpicker span.color {
	display: inline-block;
	cursor: pointer;
	border-radius: 40px;
	width: 40px;
	height: 40px;
}

.backgroundfile {

	border-radius: 12px;
}


.backgroundfile {

	margin: 15px 15px 15px 15px;

}

.tab-content {
	text-align: center;
}



a.kategorier.active {
	background-color: #3a5563 !important;
	border-radius: 15px;
	color: #ffffff !important;

}


@media only screen and (max-width: 700px) {
	.previewcontainer {
		background: #fff;
		z-index: 100;
		position: sticky;
		top: 5px;
	}

	.cartinfo {
		background: #fff;
		z-index: 100;
		position: sticky;
		top: 132px;
	}
}


.font-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.font-container input:parent {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

:checked+img {
    background-color: #dbe0e2;
    border-radius: 15px;
    /* border: 2px solid #73AD21; */
    padding: 6px;
    max-width: 100%;
    height: auto;

}


.bg-repix{
	background-color:#dbe0e2  !important;
	color: #3c5765;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #ffffff;
    background-color: #3a5563;
    border-color: #dee2e6 #dee2e6 #fff;
}

a:hover {
    color: #cc3817;
    text-decoration: underline;
}


 .repixtoggler {
    /* color: rgb(58, 85, 99); */
    color: #ffffff !important;
    border: 1px solid #red;
    background-color: #3a5563;
    /* border-color: rgba(0, 0, 0, 0.1); */
}



img[src*="2_13.jpg"] {
   border: 2px solid black !important
}

#preview {
   border: 0px solid black !important;
}



.icon {
	border: 1px solid black !important;
	
	
}
</style>

<link href="/simple-colorpicker/jquery.simplecolorpicker.css" rel="stylesheet"></link>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet" />
</head>
<body>
	<div metal:use-macro="../../${templates}/common.html/top" />
<div class="container">

<form id="edit">
	<div class="row">
		<div class="col-12">
			<h5>140 Fargelapper</h5>
			<h6></h6>
		</div>


		<!--Synlig på pc-->
		<div class="col-md-8 text-center order-md-2 previewcontainer">
			<div class="row">
				<div class="col-md-6">
						<img class="img-fluid" id="preview" src="/gfx/merkelapp_308.png" />
				</div>
							
					<div class="col-md-6 text-left mb-2">
						<div class="mt-2">
							<span class="ml-4" tal:content="selected/0/productoption/prices/0/price"></span> kr pr sett
							<input type="hidden" id="productquantity" class="form-control input-number productquantity" value="1" />
							<input type="hidden" id="productoptionid" value="${selected/0/productoptionid}" />
							<button id="addtocart" class="btn btn-success float-center">Legg i handlekurv</button>
						</div>
					</div>
				
			</div>

		</div>
		<!--Synlig på pc-->
		<!--Synlig på mobile
			<div class="d-block d-sm-none col-md-4 text-center order-md-2 div-only-mobile previewcontainer">
				<img class="img-fluid" id="preview" src="/gfx/merkelapp_308.png" />
				<div class="col-md-4 text-left order-md-3 mb-2 mt-2">
					<div class="mt-2">
						<span class="ml-4" tal:content="selected/0/productoption/prices/0/price"></span> kr pr sett
						<input type="hidden" id="productquantity" class="form-control input-number productquantity" value="1" />
						<input type="hidden" id="productoptionid" value="${selected/0/productoptionid}" />
						<button id="addtocart" class="btn btn-success float-center">Legg i handlekurv</button>
					</div>

				</div>
			</div>-->
		
		
		

		<!--textinput-->
		<div class="col-md-4 text-center order-sm-1 mt-2">
			<div class="form-group ">
				<div class="col-xs-12">
					<input type="text" class="form-control lines" name="line1" id="line1" maxlength="17" placeholder="Linje 1" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<input type="text" class="form-control lines" name="line2" maxlength="17" placeholder="Linje 2" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-12">
					<input type="text" class="form-control lines" name="line3" maxlength="17" placeholder="Linje 3" />
				</div>
			</div>
		</div>
		<div class="col-md-12 p-0 p-sm-2 order-sm-4">
			<!--<ul class="nav nav-tabs navbar-light bg-light nav-fill justify-content-center" id="editorMainTabs" role="tablist">
					<li class="nav-item">
						
				
						
						<a class="nav-link active" id="motiv-tab" data-toggle="tab" href="#motiv-tab-content" role="tab" aria-controls="motiv-tab-conten" aria-selected="true">
							<i class="fas fa-cat"></i> Motiv
						</a>
					</li>
				
				<li class="nav-item">
						<a class="nav-link" id="background-tab" data-toggle="tab" href="#background-tab-content" role="tab" aria-controls="background-tab-content" aria-selected="false">
							<i class="fas fa-palette"></i> Bakgrunn
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="text-tab" data-toggle="tab" href="#text-tab-content" role="tab" aria-controls="text-tab-content" aria-selected="false">
							<i class="fas fa-font"></i> Tekst
						</a>
					</li>
				</ul>-->
			<div class="col-md-12">
				<ul class="nav nav-tabs navbar-dark bg-repix nav-fill " id="editorMainTabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active font-weight-bold" id="motiv-tab" data-toggle="tab" href="#motiv-tab-content" role="tab" aria-controls="motiv-tab-conten" aria-selected="true">
							<i class="fas fa-cat"></i> Motiv
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-bold" id="background-tab" data-toggle="tab" href="#background-tab-content" role="tab" aria-controls="background-tab-content" aria-selected="false">
							<i class="fas fa-palette"></i> Bakgrunn
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link font-weight-bold" id="text-tab" data-toggle="tab" href="#text-tab-content" role="tab" aria-controls="text-tab-content" aria-selected="false">
							<i class="fas fa-font"></i> Tekst
						</a>
					</li>
				</ul>
			</div>
			
			<div class="tab-content mb-4" id="myTabContent">
				<!--MOTIV-->
				<div class="tab-pane fade show active" id="motiv-tab-content" role="tabpanel" aria-labelledby="motiv-tab">
					<div>
						<!-- CLIPARTS MERKELAPP -->
						<nav class="navbar navbar-expand-lg navbar-light bg-default text-center">
							<!--<div class="form-group form-inline mt-3">
								<label class="mr-2">clipart: </label>
								<input id="toggle-clipart" type="checkbox" checked data-toggle="toggle" data-width="90" />
							</div>-->
							<button class="navbar-toggler repixtoggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarCatergoryContent" aria-controls="navbarSupportedContent" aria-expanded="false">
								<i class="fas fa-angle-double-down"></i> Kategori
							</button>
							<div class="collapse navbar-collapse" id="navbarCatergoryContent">
							<ul class="nav cattabs" role="tablist">
								<li class="nav-item col-12 col-md-auto p-1" role="presentation"><a class="nav-link kategorier" href="#Alle" aria-controls="alle" role="tab" data-toggle="tab">Alle</a></li>
								<li class="nav-item col-4  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Dyr" aria-controls="dyr" role="tab" data-toggle="tab">Dyr</a></li>
								<li class="nav-item col-4  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Monster" aria-controls="Monster" role="tab" data-toggle="tab">Monster</a></li>
								<li class="nav-item col-4  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Blomster" aria-controls="blomster" role="tab" data-toggle="tab">Blomster</a></li>
								<li class="nav-item col-4  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Transport" aria-controls="Transport" role="tab" data-toggle="tab">Transport</a></li>
								<li class="nav-item col-4  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Symboler" aria-controls="Symboler" role="tab" data-toggle="tab">Symboler</a></li>
								<li class="nav-item col-4  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Leker" aria-controls="Leker" role="tab" data-toggle="tab">Leker</a></li>
								<li class="nav-item col-12  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Smileys" aria-controls="Smileys" role="tab" data-toggle="tab">Smileys</a></li>
								<li class="nav-item col-12  col-md auto p-1" role="presentation"><a class="nav-link kategorier" href="#Bw" aria-controls="Bw" role="tab" data-toggle="tab">Sort/Hvitt</a></li>
							</ul>
							</div>
						</nav>
						<!-- KATEGORIER CLIPARTS -->
				<div class="tab-content text-center">
					<div role="tabpanel" class="clips tab-pane active" id="Alle"></div>
					<div role="tabpanel" class="clips tab-pane" id="Dyr"></div>
					<div role="tabpanel" class="clips tab-pane" id="Monster"></div>
					<div role="tabpanel" class="clips tab-pane" id="Blomster"></div>
					<div role="tabpanel" class="clips tab-pane" id="Transport"></div>
					<div role="tabpanel" class="clips tab-pane" id="Symboler"></div>
					<div role="tabpanel" class="clips tab-pane" id="Leker"></div>
					<div role="tabpanel" class="clips tab-pane" id="Smileys"></div>
								<div role="tabpanel" class="clips tab-pane" id="Bw"></div>
				</div>
					</div>
				</div>

				<!--BAKGRUNN-->
				<div class="tab-pane fade" id="background-tab-content" role="tabpanel" aria-labelledby="background-tab">
					<div>
						<nav class="navbar navbar-expand-lg navbar-light bg-default text-center">

							<button class="navbar-toggler repixtoggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarCatergoryContent" aria-controls="navbarSupportedContent" aria-expanded="false">
								<i class="fas fa-angle-double-down"></i> Kategori
							</button>
							<div class="collapse navbar-collapse" id="navbarCatergoryContent">
								<ul class="nav cattabs" role="tablist">
									<li class="nav-item col-12 col-md-auto p-1" role="presentation"><a class="nav-link kategorier" href="#BGalle" aria-controls="alle" role="tab" data-toggle="tab">Alle</a></li>
									<li class="nav-item col-4 col-md-auto p-1" role="presentation"><a class="nav-link kategorier" href="#BGOverganger" aria-controls="BGOverganger" role="tab" data-toggle="tab">Overganger</a></li>
									<li class="nav-item col-4 col-md-auto p-1" role="presentation"><a class="nav-link kategorier" href="#BGEnsfarget" aria-controls="BGEnsfarget" role="tab" data-toggle="tab">Ensfarget</a></li>
									<li class="nav-item col-4 col-md-auto p-1" role="presentation"><a class="nav-link kategorier" href="#BGmonster" aria-controls="monster" role="tab" data-toggle="tab">Mønster</a></li>
									<li class="nav-item col-4 col-md-auto p-1" role="presentation"><a class="nav-link kategorier" href="#BGdyr" aria-controls="dyr" role="tab" data-toggle="tab">Dyr</a></li>
									<li class="nav-item col-4 col-md-auto p-1" role="presentation"><a class="nav-link kategorier" href="#BGTransport" aria-controls="Transport" role="tab" data-toggle="tab">Transport</a></li>
								</ul>
								</div>
								</nav>
								<div class="tab-content">
									<div role="tabpanel" class="backgrounds tab-pane active" id="BGalle" data-cat="alle"></div>
									<div role="tabpanel" class="backgrounds tab-pane" id="BGOverganger" data-cat="Overganger"></div>
									<div role="tabpanel" class="backgrounds tab-pane" id="BGEnsfarget" data-cat="Ensfarget"></div>
									<div role="tabpanel" class="backgrounds tab-pane" id="BGmonster" data-cat="monster"></div>
									<div role="tabpanel" class="backgrounds tab-pane" id="BGdyr" data-cat="dyr"></div>
									<div role="tabpanel" class="backgrounds tab-pane" id="BGTransport" data-cat="Transport"></div>
								</div>
					</div>
				</div>
				
				<!--TEKST-->
		<div class="tab-pane fade" id="text-tab-content" role="tabpanel" aria-labelledby="text-tab">
			<div class="row">
				<div class="col-12 text-center">
					<div class="form-group">
						<label class="col-12 col-sm-auto font-weight-bold">Farge:</label>
						<select id="font-color" name="font-color">
							<option value="#000000">Black</option>
							<option value="#ffffff">White</option>
							<option value="#8e8e93">Grå</option>
							<option value="#ff2851">Rosa</option>
							<option value="#fd0000">Orange</option>
							<option value="#ff9600">Orange2</option>
							<option value="#ffcd00">Gul</option>
							<option value="#44db5e">Grønn</option>
							<option value="#19a423">Grønn</option>
							<option value="#3aa99f">Blå iGrønn</option>
							<option value="#54c7fc">Lys blå</option>
							<option value="#2aa9de">Blå</option>
							<option value="#0076ff">Mørk blå</option>
							<option value="#5751d9">Lilla</option>
							<option value="#945bf8">Lilla2</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group form-inline font-container">
						<label class="col-12 font-weight-bold" i18n:translate="">Skrift-type:</label>
						<label class="col-md-1 col-sm-3 col-xs-2 p-1 mx-auto fonts" style="width: 35%; height:auto" for="font-Verdena">
							<input type="radio" name="font-type" value="verdanab" id="font-Verdena" checked="checked" />
							<img class="img-fluid" src="/gfx/merkelapp/fonter/test/verdana.png" />
						</label>
						<label class="col-md-1 col-sm-3 col-xs-2 p-1 mx-auto fonts" style="width: 35%; height:auto" for="font-Arial">
							<input type="radio" name="font-type" value="arial" id="font-Arial" />
							<img class="img-fluid" src="/gfx/merkelapp/fonter/test/arial.png" />
						</label>
						<label class="col-md-1 col-sm-3 col-xs-2 p-1 mx-auto fonts" style="width: 35%; height:auto" for="font-Comic">
							<input type="radio" name="font-type" value="comicbd" id="font-Comic" />
							<img class="img-fluid" src="/gfx/merkelapp/fonter/test/comic.png" />
						</label>
					</div>
				</div>
			</div>
			<div id="text"></div>
		</div>
			</div>
		</div>
	</div>
	</form>

		<div class="col-12">
			<div class="card-deck mb-3 text-center">
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Fleksible navnelapper</h4>
					</div>
					<div class="card-body">
						<p>Klistremerke navnelapper som kan brukes til både klær, sko og utstyr. Fest lappene godt til vaskelappen i tøyet, vent minst 24 timer til første vask. Kan også festes direkte på tøy som har lav vasketemperatur (ull), men det anbefales strykemerker for permanent merking.</p>
					
          </div>
				</div>
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Vasketemperatur</h4>
					</div>
					<div class="card-body">
						<p>Disse navnelappene kan vaskes i oppvaskmaskin og vaskemaskin på 60 grader. De tåler også tørking i tørketrommel. Ved merking av tøy som vaskes på høyere temperatur anbefales strykemerker for sikker merking.</p>
		
					</div>
				</div>
				<div class="card mb-4 box-shadow">
					<div class="card-header">
						<h4 class="my-0 font-weight-normal">Norsk produksjon</h4>
					</div>
					<div class="card-body">
						<p>Vi produserer alle navnelapper i Norge og er opptatt av rask levering rett hjem i din postkasse. Normalt er det 1 dags produksjonstid og 2-3 dagers leveringstid. Det er alltid gratis frakt på navnelapper.</p>
					</div>
				</div>
			</div>
		</div>
				
				
			<div class="container">
			<div metal:use-macro="../../${templates}/common.html/footer" />
		</div>
      
	</div>
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
			  <div class="modal-content">
				<div class="modal-body">
				  <div class="row">
					 <div class="col-md-12 text-center">
						<h3>Dine varer er lagt i handlekurven.</h3>
					 </div>
					 
					 <div class="col-md-12 text-center">
							<a href="/" class="reload btn btn-success">Fortsett å handle</a>
						<a href="/cart" class="btn btn-success">Til handlevogn</a>
					 </div>
				  </div>
				</div>
			  </div>
			</div>
		</div>
		<script type="text/javascript" src="/js/merkelapp_new.js"></script>
		<script type="text/javascript" src="/js/imgareaselect.js"></script>
		<script src="/simple-colorpicker/jquery.simplecolorpicker.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
		
		<script type="text/javascript">
			var clipart = '';
			var ownimage = '';
			var treshhold = 60;
			var imageselection = Object();
			var projectid = ${projectid};
			var gravity = 'center'; 
			var category = 'Dyr';
			var backgroundcat = '';
			var backgroundfile = '';
			var totalprice = ${cart/totalprice};
			var staticroot = "/";
			var type = 'fargelapp';
			var disabled = true;
			var alertmessage = 'false';
			var colormode = 'color';
			var ownimageratio = '1:1';
			var msie = null;
			
			/*<![CDATA[*/
			$(function(){
				$('.nav-link kategorier').on('click', function(){
					$('.navbar-collapse').collapse('hide');
				});
				
				$('select[name="font-color"]').simplecolorpicker({
					picker: true
				  }).on('change', function() {
					update();
					//$(document.body).css('background-color', $('select[name="colorpicker"]').val());
				  });
				
				  $('#toggle-clipart').bootstrapToggle({
					on: 'På',
					off: 'Av'
				  });
				  
				  
				  $('#toggle-background').bootstrapToggle({
					on: 'På',
					off: 'Av'
				  });
				  
			});
			
			
			
			/*]]>*/	
		</script>
	</body>
</html>
