<!-- HEAD -->
<head metal:define-macro="head" tal:omit-tag="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<meta tal:condition="exists:google" name="google-site-verification" content="${google/google-site-verification}" /> 
	<meta name="msvalidate.01" content="F4FE8EE0C6A5F5AF802BFA2C54AB58E7" /> 
	<tal:block tal:condition="exists:canonical"> 
		<link tal:condition="canonical" rel="canonical" href="${canonical}" /> 
	</tal:block> 
	<tal:block metal:use-macro="blueprint" /> 
	<title> 
		<tal:block tal:condition="not:exists:pagetitle">Din Merkelapp</tal:block> 
		<tal:block tal:condition="exists:pagetitle" tal:content="pagetitle" /> 
	</title>
	<meta name="description" tal:attributes="content cms:ingress:468cb517-14df-4d55-9108-826fd151607c" />
	<tal:block tal:condition="exists:item/customjs"> 
		<tal:block tal:content="structure item/customjs" /> 
	</tal:block> 
	<tal:block tal:condition="exists:item/customcss"> 
		<tal:block tal:content="structure item/customcss" /> 
	</tal:block>
</head>

<tal:block metal:define-macro="blueprint">
	<link rel="stylesheet" href="${static:css/portals/merkelapp/screen.css}?${version}" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="${static:css/portals/merkelapp/print.css}?${version}" type="text/css" media="print" /> 
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="http://static.eurofotoeurofoto.no/css/portals/eurofoto/ie.css?3.05" type="text/css" media="screen, projection" />
	<![endif]-->
	<!--[if IE 8]>
		<link rel="stylesheet" href="http://static.eurofoto.no/css/portals/eurofoto/ie8.css?3.05" type="text/css" media="screen, projection" />
	<![endif]-->

	<tal:block metal:use-macro="javascript" />
</tal:block>

<tal:block metal:define-macro="javascript">
   <script type="text/javascript" src="${static:js/jquery-1.7.2.min.js}?${version}"></script>
	<script type="text/javascript" src="${static:js/jquery.eurofoto-1.0.js}"></script> <!-- Eurofoto API 1.0 -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script type="text/javascript" src="${static:js/i18n/ui.datepicker-no.js}"></script>
	<script type="text/javascript" src="${static:js/flowplayer-3.1.1.min.js}"></script>
	<script type="text/javascript" src="${static:js/jquery.fancybox-1.3.0.pack.js}"></script>
	<script type="text/javascript" src="${static:js/eurofoto.min.js}?${version}"></script>
	<script type="text/javascript" src="${static:js/jquery.client.js}?${version}"></script>
	<script type="text/javascript" src="${static:js/jquery-ui-1.8.15.custom.min.js}?${version}"></script>
	<script type="text/javascript" src="${static:js/jquery.imgareaselect.min.js}?${version}"></script>
	<script type="text/javascript" src="${static:js/jquery.upload-1.0.2.js}?${version}"></script>
	
	
	
</tal:block>


<!-- top-header -->
<div metal:define-macro="top" tal:omit-tag="">

   <style type="text/css">
	#chat{
	z-index: 1000;
        background:transparent url(${static:gfx/merkelapp/chat_offline.png}) no-repeat scroll -2px 0px;
	     width: 35px;
	     height: 150px;
        right:110px;
        position:fixed;
        right: 0px;
        top: 200px;

	}
   </style>
   <a id="islpronto_link1" href="/om/tips/">
      <div id="chat" class="">
      </div>
    </a>  
	<div class="header-background">
      <div class="header-container">
         <div class="span-24 last">
         
         
         
         
   	  <div class="span-5" >
   	     <h1 class="site-logo"><a href="/bestilling/index" title="Go back to frontpage" i18n:attributes="title"><div style="height:73px;">dinmerkelapp.no - <tal:block i18n:translate="">En del av Japan Photo</tal:block></div></a></h1>
   	  </div>
   	  <div class="span-10 bottom">
   	  <div id="topsmallnavigation" style="color: white; padding: 65px 10px 10px 10px;">
   	     <ul class="">
               <li><a href="/bestilling/index">Forsiden</a></li>
               <li><a href="/om/" >Om Oss</a></li> 
               <li><a href="/om/kontakt-oss/">Kontakt</a></li>
               <li><a href="/om/tips/">Tips</a></li>
               <li><a style="border-right: 0px" href="/produkter/tilbehor/merkelapp/">Tilbehør</a></li>
   	     </ul>
   	  </div>
   	  </div>
   	  
   	  <div class="span-9 last right bottom">
   	     <div style="color: white; padding: 65px 10px 10px 10px;">
   	     		
		       <tal:block tal:condition="session/loggedin">
			      <span tal:content="session/fullname"></span> <span><a href="/myaccount/" style="color: white">Min konto</a></span><span> | </span><span><a style="color: white;"  href="/logout/" class="last" i18n:translate="">Logout</a></span>
		       </tal:block>
		       <tal:block tal:condition="not:session/loggedin">
			      Kunde fra før? <a style="color: white;" href="/login">Logg inn</a> Ikke kunde? <a style="color: white;"  href="/register">Registrer deg</a>
		       </tal:block>
   	     </div>
            
   	  </div>
   	</div>
   	<div  class="span-24 right" style="position: relative; top: -10px;"><div metal:use-macro="shopping-cart" /></div>
   	</div>
   	
	</div>
	
   <script type="text/javascript" src="http://islpronto.islonline.net/live/islpronto/public/chat_info.js?d=japanphoto&filter=Bilder&lang=no&chat_height=500&chat_width=700"></script>
   <script type="text/javascript">
   
   $(document).ready( function(){
        $('#chat').mouseover(function () {
            $(this).css( 'background-position' , '-37px 0px')
        });
        $('#chat').mouseout(function () {
            $(this).css( 'background-position' , '-2px 0px')
        });
        $('#chat').mousedown(function () {
            $(this).css( 'background-position' , '-74px 0px')
        });
        
        if(ISLProntoInfo.supporters != 0) {
          var link1 = document.getElementById('islpronto_link1');
          link1.href = 'javascript:void(0)';
          link1.onclick = ISLProntoInfo.onchat;
          /*var image1 = document.getElementById('islpronto_image1');
          image1.src = '${static:gfx/merkelapp/chat.png}';*/
          $('div#chat').css( 'background-image' , ' url("${static:gfx/merkelapp/chat_online.png}")' );
        }
      
   });
   </script>
</div>

<!-- top-small-navigation -->
<div metal:define-macro="top-small-navigation" id="topsmallnavigation" class="span-19 last">

</div>

<!-- main-navigation add class "active" to the active anchor-->
<div metal:define-macro="main-navigation" id="main-navigation">
	

</div>

<div metal:define-macro="shopping-cart">
	<tal:block tal:condition="exists: cart">
		<tal:block tal:condition="cart/totalitems">
		<tal:block tal:condition="not: exists: dontShowCart">
		<div id="shopping-cart">
			<span>
				<strong>
					<span id="cart-total-items" tal:content="cart/totalitems"></span> <tal:block i18n:translate="">products</tal:block>
				</strong>, 
				<strong>kr 
					<span id="cart-total-price" tal:content="formatprice:cart/totalprice"></span>
				</strong>
				<a href="/cart/clear/" class="hide" id="emptycart">(<tal:block i18n:translate="" tal:omit-tag="">empty cart</tal:block>)</a>
			</span>
			<span id="cart-functions">
				<a href="/checkout/?from=main" id="go-to-checkout" class="hide" i18n:translate="">Go to checkout</a>
				<a href="/cart/?from=main" id="cart-toggle" class="" i18n:translate="">Show cart</a>
			</span>
		</div>
		</tal:block>
		<div id="shopping-cart-pusher" />
		<script type="text/javascript">
		$('#emptycart').click( function() {
			 $.ajax({
				type: "post",
				dataType: "json",
				url: "/api/1.0/cart/clear",
				success: function(){
					$('#shopping-cart').slideUp('fast');
					$('#shopping-cart-pusher').slideUp('fast');
					return false;		
				},
				error: function(msg) {
					location.href = "/cart/clear/"
				}
				
			});
			return false;
		});
		</script>
		</tal:block>
	</tal:block>
</div>

<!-- breadcrumbs -->
<div metal:define-macro="breadcrumbs" id="breadcrumbs">
	<ul>
		<li><a href="" i18n:translate=""></a></li>
		<li class="active" i18n:translate=""></li>
	</ul>
</div>

<!-- LEFT MENU (span-4) -->
<div metal:define-macro="left-menu" id="leftmenu">
	<p i18n:translate=""></p>
</div>

<!-- RIGHT MENU (span-4) -->
<div metal:define-macro="right-menu" id="rightmenu" class="last">
	<p i18n:translate=""></p>
</div>

<!-- RIGHT ALBUM MENU (span-4) -->
<div metal:define-macro="right-album-menu" id="rightalbummenu" class="last">
	<ul id="right-album-menu">
		<li>
		</li>
	</ul>
</div>

<!-- beta message -->
<tal:block metal:define-macro="message">
</tal:block>

<!-- FOOTER -->
<tal:block metal:define-macro="footer">
	<div id="footer" class="last">		
		<div class="append-bottom clearfix clear span-24 last ">
			<div class="span-24 center">
			   <p>
			      <a href="http://www.japanphoto.no">Japan Photo</a> | 
			      <a href="http://www.japanphotoxxl.no">Japan Photo XXL</a> | 
			      <a href="http://www.takkekort.no">Takkekort.no</a> | 
			      <a href="http://www.dinkikkert.no">Dinkikkert.no</a> | 
			      <a href="http://www.spillsjappa.no">Spillsjappa.no</a> | 
			      <a href="http://www.ukeplan.no">Ukeplan.no</a> |
			      <a href="http://www.eurofoto.no">Eurofoto</a>
			   
			   </p>
			   <p>
			   Copyright | © ${request/date/year} Japan Photo Holding Norge
			   </p>

			   
			</div>
		    
		</div>
		
		<br />
		
	</div>
	<tal:block metal:use-macro="get-satisfaction" />
	<tal:block metal:use-macro="google-analytics" />
	<tal:block tal:condition="exists:lyrishq">
	   	<!--
	   	<script type="text/javascript">
		document.write('<'
			+ 'script type="text/javascript" src="'
			+ document.location.protocol
			+ '//stats.clicktracks.com/cgi-bin/ctasp-server.cgi?i=${lyrishq}'
			+ '"><'
			+ '/script>');
		</script>-->
		<script type="text/javascript" src="http://stats.clicktracks.com/cgi-bin/ctasp-server.cgi?i=${lyrishq}"></script>
		
   </tal:block>

</tal:block>

<!-- quick login -->
<tal:block metal:define-macro="quicklogin">
<form action="/login/" method="post"  id="quicklogin">
	<div>
		<label for="email" i18n:translate="">E-mail:</label><br/>
		<input type="text" class="text lowercase" name="email" value="" />
	</div>	
	<div>
		<label for="pasword" i18n:translate="">Password:</label><br/>
		<input type="password" class="text" name="password" value="" />
	</div>
	<div>
		<input type="checkbox" id="rememberme" /> 
		<label for="rememberme" i18n:translate="">Remember me next time.</label>
	</div>	
	<div class="right prepend-top">
		<a href="/register/" i18n:translate="">Register</a> &nbsp;
 		<button class="" type="submit" i18n:translate="">Log in</button>
	</div>
	<input type="hidden" name="referer" value="/${request/execpath}"/>
</form>
</tal:block>

<!-- get Satisfaction -->
<tal:block metal:define-macro="get-satisfaction">
	<!--
	<tal:block tal:replace="structure fastpass" tal:condition="exists:fastpass" />
	<script type="text/javascript" charset="utf-8">
		var is_ssl = ("https:" == document.location.protocol);
		var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
		document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript" charset="utf-8">
		var feedback_widget_options = {};
		feedback_widget_options.display = "overlay";  
		feedback_widget_options.company = "eurofoto";
		feedback_widget_options.placement = "right";
		feedback_widget_options.color = "#222";
		feedback_widget_options.style = "idea";
		var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
	-->
</tal:block>

<!-- Google Analytics gs.js www.eurofoto.no -->
<tal:block metal:define-macro="google-analytics">

   
   


   <tal:block tal:condition="exists:google">
	<script type="text/javascript">
	//<![CDATA[
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	//]]>
	</script>
	<script type="text/javascript">
		try{
		var pageTracker = _gat._getTracker("${google/analytics}");
			<tal:block tal:condition="not:session/loggedin">
				pageTracker._setVar('unregistered');
			</tal:block>
			<tal:block tal:condition="session/loggedin">
				pageTracker._setVar('member');
			</tal:block>
			pageTracker._setDomainName(".dinmerkelapp.no");
			pageTracker._trackEvent('Performance', 'Execution time', 'xml', Math.round( ${statistics/exectime} * 10 )/10 );
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
	</tal:block>
</tal:block>

<!-- sharing button -->
<tal:block metal:define-macro="share-button">
<!-- ADDTHIS BUTTON BEGIN -->
<script type="text/javascript">
var addthis_config = {
	username: "eurofoto",
	services_compact: 'facebook, email, twitter, digg, delicious, favorites, friendfeed, google, linkedin, live,  more',
	services_exclude: 'print',
	ui_language: "${i18n/country}"
}
</script>

<a href="http://www.addthis.com/bookmark.php" 
    class="addthis_button"
    style="text-decoration:none;">
        <img src="http://s7.addthis.com/static/btn/sm-plus.gif" 
    width="16" height="16" border="0" alt="Share" /> <span i18n:translate="">Share</span></a>
    
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>
<!-- ADDTHIS BUTTON END -->
</tal:block>

<tal:block metal:define-macro="pagination">
	
	<a class="button">First</a>
	<a class="button">Previous</a>
	
	<a href="">1</a><a href="">2</a><a href="">3</a>...<a href="">4</a><a href="" class="current">(5)</a><a href="">6</a><a href="">7</a><a href="">8</a><a href="">9</a><a href="">10</a><a href="">11</a><a href="">12</a>...<a href="">50</a><a href="">51</a><a href="">52</a>
	
	<a class="button">Last</a>
	
</tal:block>

<div metal:define-macro="associatedproducts">
	<tal:block tal:repeat="product associatedproducts">
		<div class="span-14">
			<div class="span-2 productimage">
				<tal:block tal:condition="product/images">
					<tal:block tal:repeat="image product/images">
						<tal:block tal:condition="equal:repeat/image/number,1">
							<tal:block tal:define="global staticurl" tal:content="static:" />
							<a href="${product/urlname}" title="${product/title}">
								<img src="${staticurl}images/products/thumbs/square/50/${image/url}" 
								widht="50" height="50" class="left" alt="${product/title}" tal:condition="image/url" />
							</a>
							<img src="${static:gfx/404/not_found_50px.jpg}" 
							class="left" alt="Product photo missing." tal:condition="not:image/url" 
							style="border: 10px solid #fff; "
							/> 
						</tal:block>
					</tal:block>
				</tal:block>
				<tal:block tal:condition="not:product/images"><span class="quiet small">No image</span></tal:block>
			</div>
			<div class="span-6">
				<h4 class="bottom" tal:content="product/title|default"></h4>
				<p tal:content="product/ingress|default"></p>
			</div>
			<div class="span-6 last" tal:condition="product/option/price">
				<div class="price" tal:content="formatprice:product/option/price"></div>
				<input class="quantity" value="1" type="text" />
				
				<tal:block tal:condition="gt:repeat/options/number,1">
					more than 1
				</tal:block>
				
				<a class="button add-to-cart" i18n:translate="" ref="${product/option/prodno}">Add to cart</a>
			</div>
		</div>
	</tal:block>
</div>
