<!DOCTYPE html>
<html lang="no">
  <head>
		<tal metal:use-macro="../../${templates}/common.html/head" />
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Seniorlappen</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />


  

	

	</head>
<style>
	
	
	
	
</style>
<body>
	<div metal:use-macro="../../${templates}/common.html/top" />

		<div id="seniorpage-main">
			<aside id="seniorpage-hero" class="js-fullheight">
		
			<img  src="seniorlappen/images/20190225_miljobilde.png" class="img-responsive" style="width=100%;" />	
		
		
			<div class="seniorpage-narrow-content">
			
				<h2 class="seniorpage-heading animate-box" data-animate-effect="fadeInLeft"></h2>
				<div class="row row-bottom-padded-md">
					<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="/bestilling/senior_fargelapp" style="color: #66323e; text-align: center; font-size: 1em;" class="blog-img"><img src="seniorlappen/images/fargelapper.png" class="img-responsive" alt="Fargelapp"/>Fargelapp</a><p class="text-center">Til ting og klær</p>
						<button class="btn btn-info center-block"  onclick="window.location.href='/bestilling/senior_fargelapp'">BESTILL</button>
						</div>
					</div>
					
					
					<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="/bestilling/senior_strykelapp" style="color: #66323e; text-align: center; font-size: 1em;" class="blog-img"><img src="seniorlappen/images/strykelapper.png" class="img-responsive" alt="Strykelapp"/>Strykelapp</a><p class="text-center">Til klær og tekstiler</p>
							<button class="btn btn-info center-block"  onclick="window.location.href='/bestilling/senior_strykelapp'">BESTILL</button>
						</div>
					</div>
					
					
					<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="/bestilling/senior_stempel" style="color: #66323e; text-align: center; font-size: 1em;" class="blog-img"><img src="seniorlappen/images/stempel.png" class="img-responsive" alt="Stempel"/>Stempel</a><p class="text-center">Til lyse klær og tekstiler</p>
						<button class="btn btn-info center-block" onclick="window.location.href='/bestilling/senior_stempel'">BESTILL</button>
						</div>
					</div>
					
						<div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="/seniorlapp/tilbehor/" style="color: #66323e; text-align: center; font-size: 1em;" class="blog-img"><img src="seniorlappen/images/tilbehor.png" class="img-responsive" alt="Tilbehør"/>Tilbehør</a><p class="text-center">Til tekstiler</p>
						<button class="btn btn-info center-block"  onclick="window.location.href='/seniorlapp/tilbehor/'">BESTILL</button>
						</div>
					</div>
					
					
					
		
				</div>
			</div>

			</aside>
		</div>




	</body>
</html>
