<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title i18n:translate="">Dashboard - Admin Manual orders</title>
<tal:block metal:use-macro="../common.html/css" />

</head>

<body>
	<div id="container" class="container">
		<div id="header" class="span-24 last">
			<h2>Eurofoto Orders Admin</h2>
			<tal:block metal:use-macro="../common.html/topmenu" />
		</div>
		
		
		<div class="span-24 last"><h3>Registrering av manuelle ordrer</h3></div>
		
		<h4><a href="/order/manual">Registrer ny ordre</a></h4>
		 <div id="content" class="span-20" style="border: 1px solid #ccc; padding: 20px;">

		 <h3>Ordren er bekrefta med ordrenr ${orderid}</h3>
		 
		 <IFRAME src="http://www.eurofoto.no/adm_view_orderform_new.php?ordrenr=${orderid}" width="600px" height="800px"></IFRAME>
		 
		 
		
		</div>
   </div>
</body>
</html>