<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title i18n:translate="">Dashboard - Admin Manual orders</title>
<tal:block metal:use-macro="../common.html/css" />

</head>

<body>
    <h3>
        test
    </h3>
	<div id="container" class="container">
		<div id="header" class="span-24 last">
			<h2>Ordreinfo Orders Admin</h2>
			<tal:block metal:use-macro="../common.html/topmenu" />
		</div>
                <div>
                     <tal:block tal:condition="exists:orders">
                        <table>
                        <tr>
                           
                            <td>&nbsp;</td>
                              <td>ordrenr</td>
                               <td>artikkelnr</td>
                                <td>antall</td>
                                 <td>malid</td>
                                  <td>attributes</td>
                                   <td>product_id</td>
                                    <td>ordreskjemaid</td>
                                     <td>tekst</td>
                              
                            
           
                 
    
                        </tr>
                        <tr tal:repeat="order orders">
                            <td tal:content="order/ordrenr">
                                ....
                            </td>
							<td tal:content="order/artikkelnr">
								....
							</td>
                            	<td tal:content="order/artikkelnr">
								....
							</td>
                                	<td tal:content="order/antall">
								....
							</td>
                                    	<td tal:content="order/malid">
								....
							</td>
                                        	<td tal:content="order/attributes">
								....
							</td>
                                                         	<td tal:content="order/product_id">
								....
							</td>
                                                                         	<td tal:content="order/ordreskjemaid">
								....
							</td>
                            <td tal:content="order/tekst">
                                
                            </td>
                            <td>
                               <a class="button" href="/order/utestemme/send/${order/id}">SEND</a>
                            </td>
                        </tr>
                        </table>
                    </tal:block>
                </div>
		

   </div>
</body>
</html>