<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title i18n:translate="">Dashboard - Admin statistikk</title>
<tal:block metal:use-macro="../common.html/css" />


<style>
    
    button{
        
        background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
        
    }
    
    
    
    {
    background: #fff url(backgrounds/eurofoto-top.jpg) scroll repeat-x top;
    padding-top: 40px !important;
</style>
</head>

<body>
  
    
    <div class="container">
  <h2>Smilfoto</h2>
 <br/>
 <h2>Statistikk</h2>
     <!-- <button style="background-color: #ff3939;"  onclick="location.href='/order/smilomsetning';" value="Go to Google" >Smil Portal Omsetning</button>-->
        <button  style="background-color: #ff3939;" onclick="location.href='/order/smil_sendt';" value="Go to Google" >Order Pris og Sending</button>
        <button  style="background-color: #ff3939;" onclick="location.href='/order/smilstats';" value="Go to Google" >Totalt bestilt innafor datoramme</button>
 <button style="background-color: #ff3939;" onclick="location.href='/order/smilsendt_2';" value="Go to Google" >Sendt innafor datoramme</button>
</div>
    
      



</body>
</html>