<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Stabburet Sending</title>
</head>

<body bgcolor="#8d8e90">
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <br /><br />
                <td align="center" width="682"valign="middle" ><a href= "http://static.repix.no/cms/images/staburet_epost.jpg" target="_blank"><img src="http://static.repix.no/cms/images/staburet_epost.jpg" width="682" height="160" border="0" alt=""/></a></td>
                <td width="393"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td height="46" align="right" valign="middle"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        
                        </table></td>
                    </tr>
                    <tr>
               
              </tr>
            </table></td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="10%">&nbsp;</td>
                <td width="80%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#010101; font-size:24px"><strong><em>Kjære ***NAVN*** 
,</em></strong></font><br /><br />
                  <font style="font-family: Verdana, Geneva, sans-serif; color:#666766; font-size:13px; line-height:21px"> 
<br align="center" /><br />
Din bestilling av stabburet leverpostilokk er kommet i retur til oss på grunn av feil eller mangelfull adresse.<br />
Nytt lokk kan bestilles herfra: https://stabburet.repix.no/lag-lokk<br />

Dette gjelder ordre ***ORDRENR***<br />
Om du har spørsmål ta kontakt med oss på post@dinmerkelapp.no eller (+47) 57 88 35 00<br />


<a href="mailto:post@dinmerkelapp.no?Subject=Levering%20Stabburetlokk" target="_top">post@dinmerkelapp.no</a> eller (+47) 57 88 35 00
<br />
Med Vennlig hilsen<br />
Dinmerkelapp / Stabburet<br />

</font></td>
                
                
                
                <td width="10%">&nbsp;</td>
              </tr>
            
            </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td bgcolor="#0073a1" width="680" height="7" style="display:block" border="0"/td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
         
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
           <td align="center"><font style="font-family:'Myriad Pro', Helvetica, Arial, sans-serif; color:#231f20; font-size:8px"><strong><a href= "http://www.dinmerkelapp.no/" style="color:#010203; text-decoration:none">DINMERKELAPP  |</a> Reed Senter|
6827 Breim   </strong></font></td>
        <tr>
          <td>&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
