<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
		
        <div metal:use-macro="../common.html/head" />
	<div metal:use-macro="../common.html/javascript" />
	
				<script>(function() {
				var _fbq = window._fbq || (window._fbq = []);
				if (!_fbq.loaded) {
				var fbds = document.createElement('script');
				fbds.async = true;
				fbds.src = '//connect.facebook.net/en_US/fbds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(fbds, s);
				_fbq.loaded = true;
				}
				})();
				window._fbq = window._fbq || [];
				window._fbq.push(['track', '6030155177150', {'value':'0.00','currency':'NOK'}]);
				</script>
				<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030155177150&amp;cd[value]=0.00&amp;cd[currency]=NOK&amp;noscript=1" /></noscript>
		
		
		<script type="text/javascript">
			$(window ).load( function(){
					//window.location="http://www.stabburetleverpostei.no/takk-for-din-lokkbestilling?lokkid=${orderid}";
					window.location="https://www.skanska.no/takk-for-din-lokkbestilling";
				});
		</script>
    </head>
    
    <body>




</body>
</html>
