<!DOCTYPE html>
<html lang="no">
  <head>
		<tal metal:use-macro="../../${templates}/common.html/head" />
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<title>Repix</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />


  

	

	</head>
<style>
	



.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.jumbotron{
  background-color: #fff;
}
	
</style>
<body>
	<div metal:use-macro="../../${templates}/common.html/top" />

		<div id="repixpage-main">
			<aside id="repixpage-hero" class="js-fullheight">
		
    
		<div class="repixpage-narrow-content">
			<h2 class="repixpage-heading animate-box" data-animate-effect=""></h2>
		

                             
                    
                    

	
		</div>
    
     <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">Kjøp Sogn og Fjordane T-skjorte her</h3>
    <a href="sognogfjordane-tshirt/" style="color: #66323e; text-align: left; font-size: 1em;" class="blog-img">
    	<img src="/repixsite/images/sogfj_tskjorter.jpg" class="img-responsive text-right" alt="tskjorte"/>
    </a>
  <!--<button type="button" class="btn btn-success  btn-block">Kjøp Sogn og Fjordane koppen her</button>-->
  </div>
</div>
    
    
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">Kjøp Sogn og Fjordane koppen her</h3>
    <a href="sognogfjordane-kopp/" style="color: #66323e; text-align: left; font-size: 1em;" class="blog-img">
    	<img src="/repixsite/images/sogfj_koppar.jpg" class="img-responsive text-right" alt="sogfkopp"/>
    </a>
  <!--<button type="button" class="btn btn-success  btn-block">Kjøp Sogn og Fjordane koppen her</button>-->
  </div>
</div>
        
    
    
    
    <div class="row">
          	<div class="col-md-8 col-md-push-2 col-xs-12">
             <h2 class="repixpage-heading animate-box" data-animate-effect="fadeInLeft">Besøk gjerne ein av våre nettbutikkar</h2> 
      
          
          
          
					<div class="col-md-3 col-xs-10 animate-box" data-animate-effect="fadeInRight">
						<div class="blog-entry">
							<a href="https://nfoto.no/" style="color: #66323e; text-align: left; font-size: 1em; max-width: 100% !important; " class="blog-img"><img src="/repixsite/images/nfoto.png" class="img-responsive" alt="Fargelapp"/></a><p class="text-center"></p>
						
						</div>
					</div>
					
					
					<div class="col-md-3 col-xs-10 animate-box" data-animate-effect="fadeInRight">
						<div class="blog-entry">
							<a href="https://dinmerkelapp.no/" style="color: #66323e; text-align: center; font-size: 1em; max-width: 100% !important;" class="blog-img"><img src="https://static.repix.no/cms/images/dinmerkelapp_repix2020.png?text=Logo?text=Logo" class="img-responsive" alt="Fargelapp"/></a><p class="text-center"></p>
						
						</div>
					</div>
					
					
					<div class="col-md-3 col-xs-10 animate-box" data-animate-effect="fadeInRight">
						<div class="blog-entry">
							<a href="https://ukeplan.no/" style="color: #66323e; text-align: center; font-size: 1em; max-width: 100% !important;" class="blog-img"><img src="/repixsite/images/ukeplan.png" class="img-responsive" alt="Strykelapp"/></a><p class="text-center"></p>
						
						</div>
					</div>
					
				
					
					<div class="col-md-3 col-xs-10 animate-box" data-animate-effect="fadeInRight">
						<div class="blog-entry">
							<a href="https://seniorlappen.no/" style="color: #66323e; text-align: center; font-size: 1em; max-width: 100% !important;" class="blog-img"><img src="/repixsite/images/seniorlappen.png" class="img-responsive" alt="Stempel"/></a><p class="text-center"></p>
						
						</div>
					</div>
					
                </div>

      </div>
    
    
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-4">Skule og barnehagefotografi?</h3>
    	<img src="/repixsite/gfx/minebilder.png" class="img-responsive text-right" alt="Stempel"/>
    
    <p class="lead">Vi leverer komplett løysing med nettbutikk, produksjon og kundeservice for deg som driv skule og barnehagefotografering</p>
  </div>
</div>

			</aside>

		</div>


<script>
var frameSrc = "/login";

$('#openBtn').click(function(){
    $('#myModal').on('show', function () {

        $('iframe').attr("src",frameSrc);
      
	});
    $('#myModal').modal({show:true})
});</script>

	</body>
</html>
