<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
			<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  
			ga('create', 'UA-128574459-2', 'auto');
		   ga('require', 'displayfeatures');
			ga('send', 'pageview');
	</script>
        <div metal:use-macro="../common.html/head" />
        <div metal:use-macro="../common.html/javascript" />

    </head>
    
    <body>
        <div class="row text-center hidden-phone header">
	    <img  src="/web/images/preheader.png" alt="LAG LOKK MED DITT BILDE"/>
        </div>
		
	<div class="container order-prints" style="height: 200px">	
		<div class="">
			<div class="span-6">
				<h3 class="negative" i18n:translate="">Something went wrong</h3>
				
				<div tal:content="error|default">
					No error message
				</div>
				<br />
				<a href="/lag-lokk/checkout/bestilling" i18n:translate="">Back to cart</a>
				
			</div>
		</div>
	</div>
	
<div metal:use-macro="../common.html/footer" />

</body>
</html>