<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
		<div metal:use-macro="../common.html/head" />
        <div metal:use-macro="../common.html/javascript" />
		<!-- Facebook Conversion Code for Registreringer - Stabburet Leverpostei 1 -->
			
        <style>
			
			
			.footer2{
   /* background-image: url('../images/footerbackground2.png');*/
   background-color: #0078c9;
   height: 60px;
    margin-top: 30px;
}

.header{
        
       font-family: skanska;
    font-size: 30px;
    padding-top: 43px;
    background-color: #0078c9;
    padding-bottom: 20px;
    }
    .headerfont{
        color: #ffffff;
    }
	
	
		</style>
    </head>
    <body>
		
		<div class="row text-center">
		
			
			<div class="header"><h3 class="text-center headerfont"></h3></div>
			
		
	</div>
<div class="container text-center" >
	<div class="content">
			<div class="row">
<h3>Takk for din bestilling</h3>
<h3>Du skal nå ha fått en epost som bekrefter din bestilling</h3> 
<h3>Leveringstid er 3-5 dager</h3>

</div>
</div>
</div>


<div class="footer2 text-center">
			<a href="https://skanska.no" style="color: #ffffff; text-align: center; text-decoration: underline;">Tilbake til skanska.no</a>
	</div>
</body>
</html>
