<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title i18n:translate="">Dashboard - Admin Payed Storage</title>
<tal:block metal:use-macro="../common.html/css" />
<script type="text/javascript" src="/js/admin.js"></script>
</head>

<body>
	<div id="container" class="container">
		<div id="header" class="span-24 last">
			<h2>Eurofoto Admin</h2>
			<tal:block metal:use-macro="../common.html/topmenu" />
		</div>

		<tal:block metal:use-macro="../common.html/languages" />
			
		<div id="content" class="span-20">
				<div class="span-10">
				<h3>
					<tal:block i18n:translate="">Mail</tal:block>
				</h3>
				<form name="mailform" action="/payed-storage/mail/save" method="POST">
				   
				   <input type="hidden" name="id" value="${mail/id}"/>
				   <label i18n:translate="">Subject</label><br/>
				   <input type="text" class="text" name="subject" value="${mail/subject}" style="width:800px;" /><br/>
				   
				   <label i18n:translate="">Sender</label><br/> 
				   <input type="text" class="text" name="sender" value="${mail/sender}"/><br/>
				   
				   <label i18n:translate="">Promotion text</label><br/> 
				   <input type="text" class="text" name="promotion_text" value="${mail/promotion_text}" style="width:800px;" /><br/>
				   
				   <label i18n:translate="" valign="top">Notice type</label><br />
					<select type="text" name="notice_type" class="short-text">
					<tal:block tal:repeat="notice notice_types">
					   <option tal:condition="notice/selected" selected="1" value="${notice/id}" tal:content="notice/name">test</option>
					   <option tal:condition="not:notice/selected" value="${notice/id}" tal:content="notice/name">test</option>
					  </tal:block>
					</select><br />
					
					<label i18n:translate="" valign="top">Template</label><br />
					<select type="text" name="template" class="short-text">
					<tal:block tal:repeat="template templates">
					   <option tal:condition="template/selected" selected="1" value="${template/id}" tal:content="template/name">test</option>
					   <option tal:condition="not:template/selected" value="${template/id}" tal:content="template/name">test</option>
					  </tal:block>
					</select><br />
					<br />
					
					<button type="submit" id="saveAll" class="call-to-action" i18n:translate="">Save all changes</button>
				</form>
				<br />
				<a href="/payed-storage/mails">Back</a>
			</div>
		</div>
	</div>
</body>
</html>