<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

	<meta name="description" tal:attributes="content cms:ingress:8dff9664-717e-4d83-a907-5a1cc2118951" />

	<tal metal:use-macro="../../${templates}/common.html/head" />
	
	<style type="text/css">
	
	
		a.mega.button {
			font-size: 24px;
			padding: 1em;
			margin-top: 50px;
			margin-right: 40px;
		
		}
		
		.calendar-features h3 {
			margin-top: 1em;
			font-size: 18px;
			font-weight: bold;
		}
		
		.calendar-features p {
			font-size: 12px;
			padding-top: 1em;
		}
		
		div.calendar-features {
			clear: both;
			float: none;
		}
		
		div.calendar-features img {
			float: right;
			margin: 15px;
		}
		
		div.calendar-features img.border {
				border: 1px solid #ccc;
		}
		
		ul.calendar-types {
			font-size: 16px;
			font-weight: bold;
		}
		table, td, th {
			vertical-align: top;
		}
		
	</style>

</head>


<body>

	<div metal:use-macro="../../${templates}/common.html/top" />

	<div class="container">

		<div id="widecontent" class="frontpage">
		
			<div class="jp-box" style="padding-left: 40px; height: 1500px">
			
			<div class="content">
			
				<!-- <h1>Student 2013</h1>
				<p style="MARGIN-BOTTOM: 15px; FONT-SIZE: 49px">Studentplakat för alla!</p>-->
				<img src="http://d.static.eurofoto.no/cms/images/banner_studentplakat.jpg" alt="Studentplakat för alla!" title="Student 2013" style="margin-left: 10px"/>
				<!--<p>Vi har även tackkort och du kan också göra en <a href="http://www.japanphoto.se/cewe-fotobok">CEWE FOTOBOK</a> med dina egna bilder. 	</p>-->
				
				<div class="span-22" style="padding-left: 15px">
					<div class="span-10 jp-box">
						<h1>Økonomi</h1>
						<img src="http://ourproductimages.com/scale/x/x/p/japan/student/studentplakat1.jpg"/>
						<img src="http://ourproductimages.com/scale/x/x/p/japan/student/studentplakat2.jpg"/>
						<img src="http://ourproductimages.com/scale/x/x/p/japan/student/studentplakat2.jpg"/>
						
						<div class="span-11 last">Storlek: 50x70 cm<br/>
							Paket ned plakat og bild,<br/> 
							pinne, monteringstillbehör og.<br/>
							regnskydd. </div>
							<br/><span style="COLOR: red">Pris: 299 kr </span>
							
							<div class="right bottom" style="padding-right: 10px">
								<a href="/create/gifting/create/7275" class="button large">Köp</a>
							</div>
							
						
						
					</div>
					<div class="span-10 jp-box" >
						<h1>Premium</h1>
						<img src="http://ourproductimages.com/scale/x/x/p/japan/student/studentplakat3.jpg"/>
						<img src="http://ourproductimages.com/scale/x/x/p/japan/student/studentplakat4.jpg"/>
						<img src="http://ourproductimages.com/scale/x/x/p/japan/student/studentplakat4.jpg"/>
						<div class="span-11 last">
							<strong>Storlek: 50x70 cm</strong><br/>Monterad och klar med pinne och regnskydd.
							<br/>Ballonger medföljer.
							<br/>Namn och valfri text.
							<br/><span style="COLOR: red">Pris: 499 kr </span>
							<div class="right bottom" style="padding-right: 50px">
								<a href="/create/gifting/create/7274" class="button large">Köp</a>
							</div>
						</div>
					</div>
				</div>
				
				<hr style="margin-top: 300px" />
				
				<div class="span-23 last prepend-top">

				
			
				<p style="LINE-HEIGHT: 28px; FLOAT: left; COLOR: red; MARGIN-LEFT: 60px; FONT-SIZE: 18px">
					Studentskylt med pinne Från
					<span style="FONT-SIZE: 28px; FONT-WEIGHT: bold">199 kr</span>
				</p>
				
				<table style="BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 900px; BORDER-TOP-STYLE: none; FLOAT: left; BORDER-LEFT-STYLE: none">
					<tbody>
						<tr>
							<td style="WIDTH: 420px; BORDER-RIGHT: #dddddd 1px solid">
								<p>Skicka in din beställning med post eller kom in i valfri Japan Photo-butik, där du även hämtar det färdiga plakatet.
								<br/><span style="COLOR: red">NU ENDAST inlämning i butik!
								<br/>Material: CD, negativ eller papperskopia. Leveranstid: 1-5 dagar beroende på butik</span>
								</p>
							</td>
							<td>
								&nbsp;
							</td>
							<td>
								<p>Skriv ut beställningsblanketten och bifoga.
								</p>
								<a href="http://www.japanphotoxxl.se/student/studentorder.pdf">
									<img style="MARGIN-TOP: 10px; MARGIN-BOTTOM: 20px; FLOAT: right" src="http://ourproductimages.com/scale/x/x/p/japan/student/pdf-btn.jpg"/>
								</a>
							</td>
						</tr>
						
					</tbody>
				</table>
				</div>
				<hr/>
				<div class="span-23 last">
				<!--<img style="WIDTH: 570px; MARGIN-BOTTOM: 20px" src="http://ourproductimages.com/scale/x/x/p/japan/student/divider.jpg"/>
				<h2 style="FONT-SIZE: 17px; FONT-WEIGHT: bold">Studentkort</h2>
				<img style="MARGIN-TOP: -20px; align: middle" src="http://ourproductimages.com/scale/x/x/p/japan/student/studentkort-top.png"/>
				<p>Tacka för uppvaktningen på studenten med ett personligt tackkort. Genom att använda en bild från studenten blir ditt tackkort mer än bara en hälsning!</p>
				<br/>
					<p>
						<em><strong>Beställs i set om 10 st. Kuvert ingår i priset.</strong></em>
					</p>
					<br/>
						<a href="http://www.tackkort.se/studentkort/" target="_blank">
							<img style="MARGIN-TOP: -10px; MARGIN-BOTTOM: 30px; MARGIN-LEFT: 330px" src="http://ourproductimages.com/scale/x/x/p/japan/student/studentkort-order-btn.jpg"/>
						</a>
						<img style="WIDTH: 570px; MARGIN-BOTTOM: 20px" src="http://ourproductimages.com/scale/x/x/p/japan/student/divider.jpg"/> <a href="http://www.japanphoto.se/cewe-fotobok">
						<img src="http://ourproductimages.com/scale/x/x/p/japan/student/cewe_banner.jpg"/></a>
						<img style="MARGIN-TOP: 20px; WIDTH: 570px; MARGIN-BOTTOM: 20px" src="http://ourproductimages.com/scale/x/x/p/japan/student/divider.jpg"/>
						<h2 style="FONT-SIZE: 17px; FONT-WEIGHT: bold">Detta får du:</h2>
						<p style="FONT-SIZE: 16px; FONT-WEIGHT: bold">- En värdekod på 50kr att använda vid beställning av en CEWE FOTOBOK </p>
						<p style="FONT-SIZE: 16px; FONT-WEIGHT: bold">- Äkta fotokvalité!</p>
						<p style="FONT-SIZE: 16px; FONT-WEIGHT: bold">- Bra kundservice!</p>
						<img style="MARGIN-TOP: 20px; WIDTH: 570px; MARGIN-BOTTOM: 10px" src="http://ourproductimages.com/scale/x/x/p/japan/student/divider.jpg"/>
						-->
				</div>
						<div class="span-23 last">
						<p>Skicka in din beställning med post eller kom in i valfri Japan Photo-butik, där du även hämtar det färdiga plakatet.</p>
						<br/><h2 style="FONT-SIZE: 17px; FONT-WEIGHT: bold">Våra butiker:</h2>
							<table style="BORDER-BOTTOM-STYLE: none; BORDER-RIGHT-STYLE: none; WIDTH: 370px; BORDER-TOP-STYLE: none; BORDER-LEFT-STYLE: none">
								<tbody>
									<tr>
										<td>
											<a href="http://support.japanphoto.se/butiker/goteborg/">
												<p>
													GÖTEBORG:
												</p>
											</a>
										</td>
										<td style="BORDER-BOTTOM: #dddddd 1px solid">
											<p>Norra Hamngatan 40
											<br/>411 06 Göteborg
											</p>
										</td>
									</tr>
									<tr>
										<td>
											
										</td>
										<td>
											
										</td>
									</tr>
									<tr>
										<td>
											<a href="http://support.japanphoto.se/butiker/malmo/">
												<p>MALMÖ:</p>
											</a>
										</td>
										<td style="BORDER-BOTTOM: #dddddd 1px solid">
											<p>Södra Förstadsgatan 5
											<br/>311 43 Malmö
											</p>
										</td>
									</tr>
									<tr>
										<td>
											
										</td>
										<td>
											
										</td>
									</tr>
									<tr>
										<td>
											<a href="http://support.japanphoto.se/butiker/skovde/">
												<p>SKÖVDE:</p>
											</a>
										</td>
										<td style="BORDER-BOTTOM: #dddddd 1px solid">
											<p>Kyrkogatan 16
											<br/>541 30 Skövde
											</p>
										</td>
									</tr>
									<tr>
										<td>
											
										</td>
										<td>
											
										</td>
									</tr>
									<tr>
										<td VALIGN="TOP">
											STOCKHOLM:
											
										</td>
										<td style="BORDER-BOTTOM: #dddddd 1px solid">
											<a href="http://support.japanphoto.se/butiker/stockholm-gotgatan/">
												<p><strong>Götgatan</strong>
												</p>
											</a>
											<p>Götgatan 92
											<br/>118 62 Stockholm
											</p>
										</td>
									</tr>
									<tr>
										<td>
											
										</td>
										<td>
											
										</td>
									</tr>
									<tr>
										<td>
											
										</td>
										<td style="BORDER-BOTTOM: #dddddd 1px solid">
											<a href="http://support.japanphoto.se/butiker/stockholm-sveavagen/">
												<p><strong>Sveavägen</strong>
												</p>
											</a>
											<p>Sveavägen 39
											<br/>111 34
											</p>
										</td>
									</tr>
									<tr>
										<td>
											
										</td>
										<td>
											
										</td>
									</tr>
									<tr>
										<td>
											
										</td>
										<td>
											<a href="http://support.japanphoto.se/butiker/stockholm-fleminggatan/">
												<p><strong>Fleminggatan</strong></p>
											</a>
											<p>Fleminggatan 38
											<br/>112 33 Stockholm
											</p>
										</td>		</tr>
								</tbody>
							</table>
							<br/><a href="http://www.japanphoto.se/butiker">Hitta våra butiker här!</a>
							</div>
			</div>
			</div>

				
			
			
			
			
		</div>
		<script type="text/javascript">$(document).ready( function() {$('div.calendar-features a').fancybox(); });</script>
	</div>

	
<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>	
	
</body>
</html>