<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal:block metal:use-macro="../../${templates}/common.html/head" tal:define="global pagetitle" i18n:translate="">Forgot password?</tal:block>
</head>

<body>
<div metal:use-macro="../../${templates}/common.html/top" />
<div class="container">
   
	<div class="prepend-top prepend-4 append-4 last pagedialog" tal:condition="not:exists:sentToEmail">
      <div clas="clear clearfix"></div>
		<h2 i18n:translate="">Forgot password?</h2>
		<form action="/login/forgot-password/send" method="post">
		
			<div tal:content="structure cms:body:49b3a85c-8811-4d75-9493-43af6e555485" />
		
			<tal:block tal:condition="exists:notFoundWarning" >
				<div i18n:translate="" class="warning">
					We were unable to find this email address in our user database.
					If you think this is an error, please contact support!
				</div>
				
				<a href="/contact/" i18n:translate="">Contact support</a>
				
			</tal:block>
			<p>
				<label for="email" i18n:translate="">Email</label><br />
				<input type="text" class="title" name="email" id="email" value="" tal:attributes="value email|default" />
			</p>
			<p class="right span-8">
				<button type="submit" value="Send" class="button call-to-action large">
					<tal:block i18n:translate="" tal:omit-tag="">Send to my email</tal:block>
				</button>
			</p>
		</form>
	</div>

   <div class="prepend-4 append-4 last pagedialog" tal:condition="exists:sentToEmail">
      <div clas="clear clearfix"></div>
      <h2 i18n:translate="">Check your email</h2>
      <form action="/login/forgot-password/reset/${sentToEmail}/" method="get">
         <p i18n:translate="">
            A password reset confirmation link has been sent to <span i18n:name="email" tal:replace="sentToEmail"/>.
         </p>
         <p i18n:translate="">
            Once you have received this email, either click the link supplied in the email, or press continue here and enter the confirmation code.
         </p>
         <br />
         <p class="right span-8">
            <button type="submit" value="Back" class="button call-to-action large">
               <tal:block i18n:translate="" tal:omit-tag="">Continue</tal:block>
            </button>
         </p>
      </form>
   </div>
	
</div>

<script language="JavaScript">
$(document).ready( function() {
   $('#email').focus();
});
</script>

<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>

</body>
</html>