<!DOCTYPE html>
<html lang="no">
  <head>
   
	<title>Navnelapper fra Dinmerkelapp.Slitesterke Design selv</title>

<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <tal metal:use-macro="../../${templates}/common.html/head" />
   

  <!-- 	<link rel="stylesheet" href="/css/bestilling.css" type="text/css" media="screen, projection" />-->
  </head>
<style>
  

.container .btnfrontpage {
position: absolute;
top: 85%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);

font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}


.topmenubtn{
position: absolute;
top: 85%;
left: 82% !important;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;

}
  
  </style>
<body>
   <tal metal:use-macro="../../${templates}/common.html/top" />
    <div class="container">
	

<main role="main">
<br/>
  
		  <div class=" marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row ">
            <div class="col-lg-12 d-none d-sm-block">
        <img class="img-fluid" width="1200" height="400" src ="gfx/frontpage/1200x400_topp.jpg" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
             <a class="btn btn-success float-right" href="/bestilling/merkelappsett" role="button">DESIGN SELV</a>
        </img>
   
       
        <p><a class="btn btn-success topmenubtn" href="/bestilling/merkelappsett" role="button">DESIGN SELV</a></p>
      </div><!-- /.col-lg-4 -->
          </div><!-- /.col-lg-12 -->
      
       
       

			<div class="row">

<!--KUN SYNLIG PÅ MOBIL-->
<div class="col-lg-4 d-lg-none">
					<a href="/bestilling/merkelappsett">
						<img class="img-fluid" width="500" height="500" src="gfx/frontpage/500x500_mobil_topp.jpg" role="img" aria-label="Placeholder: 500x500">
						<title>Placeholder</title>
					</img>
			<p><a class="btn btn-success btnfrontpage" href="/bestilling/merkelappsett" role="button">DESIGN SELV </a></p>
					</a>
				</div><!-- /.col-lg-4 -->
        
				<div class="col-lg-4">
					<a href="/bestilling/fargelapp">
						<img class="img-fluid" width="500" height="500" src="gfx/frontpage/navnelapp.jpg" role="img" aria-label="Placeholder: 500x500">
						<title>Placeholder</title>
					</img>
			<p><a class="btn btn-success btnfrontpage" href="/bestilling/fargelapp" role="button">DESIGN SELV</a></p>
					</a>
				</div><!-- /.col-lg-4 -->



				<div class="col-lg-4">
					<a href="/bestilling/merkelappsett">
						<img class="img-fluid" width="500" height="500" src="gfx/frontpage/navnelappmix.jpg" role="img" aria-label="Placeholder: 500x500">
						<title>Placeholder</title>
				</img>
					</a>
					<p><a class="btn btn-success btnfrontpage" href="/bestilling/merkelappsett" role="button">DESIGN SELV</a></p>
				</div><!-- /.col-lg-4 -->


				<div class="col-lg-4">
					<a href="/bestilling/">
						<img class="img-fluid" width="500" height="500" src="gfx/frontpage/strykelapp.jpg" role="img" aria-label="Placeholder: 500x500">
						<title>Placeholder</title>
						<rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></img>
						<p><a class="btn btn-success btnfrontpage" href="/bestilling/" role="button">DESIGN SELV</a></p>
					</a>
				</div><!-- /.col-lg-4 -->
			</div><!-- /.row -->


  </div>

</main>
  </div><!-- /.container -->
  <div class="container">
<div metal:use-macro="../../${templates}/common.html/footer" />
</div>
	</body>
</html>