<!-- HEAD -->
<head metal:define-macro="head" tal:omit-tag="">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" type="image/ico" href="${static:}css/bootstrap/css/themes/gfx/favicon.ico"/>
    <link rel="alternate" hreflang="dk" href="http://www.ugeplan.org/" />
    <link rel="alternate" hreflang="sv" href="http://www.veckoplan.se/" />

    <title>Ukeplan</title>
    <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Just+Another+Hand' rel='stylesheet' type='text/css' />
    <!-- Bootstrap -->
    <link href="/css/bootstrap/css/bootstrap.min.css?${version}" rel="stylesheet"/>
    <link href="${static:}css/bootstrap/css/themes/ukeplan.css?${version}" rel="stylesheet"/>
    <link href="${static:}js/fancybox/jquery.fancybox.css" rel="stylesheet"/>
    <link href="${static:}js/cropbox/jquery.cropbox.css" rel="stylesheet"/>
    
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <tal:block metal:use-macro="javascript" />
</head>


<tal:block metal:define-macro="to-gallery">
    <div class="row">
          <div class="col-md-8" tal:content="structure cms:body:84c00803-c5c0-4852-a881-4fc815081ebb" /> 
    </div>  
</tal:block>



<tal:block metal:define-macro="javascript">
   <script type="text/javascript" src="${static:js/jquery-1.10.2.js}?${version}"></script>
   <script type="text/javascript" src="${static:js/jquery.validate.1.12.0.min.js}?${version}"></script>
   <script type="text/javascript" src="${static:css/bootstrap/js/bootstrap.min.js}?${version}"></script>
   <script type="text/javascript" src="${static:gfx/portals/ukeplan/scripts/common.js}?${version}"></script>
   <script src="${static:}js/fancybox/jquery.fancybox.js"></script>

</tal:block>


<tal:block metal:define-macro="newsletter">
    <div class="row center" style="padding-top: 10px;">
        <div class="col-md-12">
            <h4>Vil du motta informasjon om kampanjer og tips til hvordan du får mer tid til familien? </h4>
        </div> 
        <div class="col-md-9 newsletter" style="text-align: left">            
             <form id="newsletter" method="post" action="/register/check/newsletter">
				<div class="col-md-5" style="margin-bottom: 2px;">
					 <input type="text" placeholder="" i18n:attributes="placeholder Name" name="name" style="width: 100%"/>
				</div>
				<div class="col-md-5" style="margin-bottom: 2px;">
					<input type="text" placeholder="" i18n:attributes="placeholder Email" name="newEmail" style="width: 100%"/>
				</div>
				<div class="col-md-2">
					<button class="btn btn-default">Meld på nyhetsbrev</button>   
				</div>             
            </form>
            <script>
				
			$(function(){
				
				$('form#newsletter').validate({
					errorClass: "inputError",
					rules: {
						newEmail:{
							required: true,
							email: true
							//remote: '/api/1.0/user/registered/'
						}
					},
					messages: {
						newEmail: {
							required: '<tal:block i18n:translate="">You need to provide a valid e-mail address.</tal:block>',
							email: '<tal:block i18n:translate="">Please provide a valid email address.</tal:block>'
						}
					}
				});
				
				
				})
			</script>
        </div>
        <div class="col-md-3">
            Møt oss på:
              
                    <a  href="https://www.facebook.com/Ukeplan" target="_blank"><img src="${static:}gfx/ukeplan/new/facebook.jpg"/></a>
                    <a href="https://instagram.com/ukeplan" target="_blank"><img src="${static:}gfx/ukeplan/new/instagram.jpg"/></a>
        </div>
    </div>
</tal:block>


<tal:block metal:define-macro="top">
	
	

<!-- Google Code for Salg Ukeplan.no Conversion Page -->

<script type="text/javascript">

/* <![CDATA[ */

var google_conversion_id = 1052069281;

var google_conversion_language = "en";

var google_conversion_format = "3";

var google_conversion_color = "ffffff";

var google_conversion_label = "lBk9CM7NwmkQoZvV9QM";

var google_remarketing_only = false;

/* ]]> */

</script>

<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">

</script>

<noscript>

<div style="display:inline;">

<img height="1" width="1" style="border-style:none;" alt="" src="https://www.googleadservices.com/pagead/conversion/1052069281/?label=lBk9CM7NwmkQoZvV9QM&amp;guid=ON&amp;script=0"/>

</div>

</noscript>

	
    <div class="col-md-12 payoff visible-xs">
        -Tid til det som betyr noe
    </div>
      <div class="masthead">
    
        <div class="row hidden-xs">
            <div class="col-md-3 mainlogo">
                 <a href="/"><img  src="${static:}gfx/ukeplan/new/norsklogo.png"/></a>
            </div>
            
            <div class="col-md-9">
                <div class="header-top-right">
                    <tal:block metal:use-macro="shopping-cart" />
                    <div>
						
                        <a href="/personvern">Personvern</a>
                    </div>
					
					
					
					
                        <tal:block tal:condition="session/loggedin">
                            <span tal:content="session/username"></span>
							<span class="glyphicon glyphicon-user" style="color:#5cb85c;">	<a  href="/myaccount" style="font-family:Quicksand;">Min konto</a></span>
                            <span><a href="/logout/" class="last" i18n:translate="">Logout</a></span>
                        </tal:block>
                        
                        <tal:block tal:condition="not:session/loggedin">
                            <div class="logininfo">
                            <span><a href="/register/" i18n:translate="">Register</a></span>
                            <span><a href="/login/" class="last" i18n:translate="">Log in</a></span>
                            </div>
                        </tal:block>
                </div>
                 
            </div>
           
        </div>
      
      

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand visible-xs" href="/"><img class="img-responsive" src="${static:}gfx/ukeplan/new/norsklogomobil.png" style="max-height: 50px;position: absolute;top: 1px;left: 1px;" /></a>
            
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-nav-main">
              <li>
                <a href="#"  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" >Produkter<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/produkter">Alle produkter</a></li>
                    <li tal:repeat="menuitem menu:/products/">
                        <a href="${menuitem/url}">${menuitem/title}</a>
                    </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Bilder av tavler/dørskilt<span class="caret"></span></a>
                
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/gallery">Ukeplan pleksiglass</a></li>
                    <li><a href="/gallery/magnetplan">Ukeplan magnetfolie</a></li>
                    <li><a href="/gallery/manedsplan">Månedsplan pleksiglass</a></li>
                    <li><a href="/gallery/dagplan">Dagplan</a></li>
                    <li><a href="/gallery/dorskilt">Dørskilt</a></li>
                    <li><a href="/gallery/barnehageplan">Barnehageplan</a></li>
                    <li><a href="/gallery/bedriftsplan">Bedriftsplan</a></li>
                    <li><a href="/gallery/presseklipp">Presseomtale</a></li>
                </ul>
              
              </li>
              <li><a href="/designservice/">Design Service</a></li>
              <li><a href="/fototips/fotografene">Fotografer</a></li>
              <li><a href="/fototips/">Fototips</a></li>
              <li><a href="/om-oss">Om oss</a></li>
              <li><a href="/kontakt-oss">Kontakt oss</a></li>
              <li class="visible-xs"><a href="/cart">Handlekurv</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="hidden-sm" style="position: relative; top: 7px;text-align: center">
                <span><a href="https://www.facebook.com/Ukeplan" target="_blank"><img src="${static:}gfx/ukeplan/new/facebook.jpg"/></a></span>
                <span><a href="https://instagram.com/ukeplan" target="_blank"><img src="${static:}gfx/ukeplan/new/instagram.jpg"/></a></span>
                </div>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
      </div>

    
</tal:block>



<tal:block metal:define-macro="footer">
    
    <div class="footer" tal:content="structure cms:body:01839ffb-e084-456b-af28-4f26f415d9cb"></div>
    <tal:block metal:use-macro="google-analytics" />
    
    
    <script type="text/javascript">/*<![CDATA[*/
        
        $( function(){
            var link = '';
            
            
            $('.buy').on( 'click', function(){
                
                
                link = $(this).attr('href');
                
                if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && screen.width < '768'  ) {
                     if( $(this).attr('data-toggle') != 'modal' ){
						$('#Mobilealert').modal('show');
						return false;
					}
                }
                   
                })
        
        
            $('#Mobilealert').on('show.bs.modal', function(e) {

            
                //populate the textbox
                $(e.currentTarget).find('#confirmlink').attr('href', link);
            });
                    
        })
    /*]]>*/
    </script>
    <div class="modal fade" id="Mobilealert">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Editor</h4>
            </div>
            <div class="modal-body">
              <p>Mobilsitet vårt er desverre ikke den optimale plattform til å lage Ukeplanen din og vi anbefaler at du lager den på en datamaskin/nettbrett, så det er lettere å se alle detaljene og lage en Ukeplan du blir fornøyd med.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Avbryt</button>
              <a href="#" id="confirmlink"  class="btn btn-primary">Gå videre</a>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</tal:block>

<!-- quick login -->
<tal:block metal:define-macro="quicklogin">
<form action="/login/" method="post"  id="quicklogin">
	<div>
		<label for="email" i18n:translate="">E-mail:</label><br/>
		<input type="text" class="text lowercase" name="email" value="" />
	</div>	
	<div>
		<label for="pasword" i18n:translate="">Password:</label><br/>
		<input type="password" class="text" name="password" value="" />
	</div>
	<div>
		<input type="checkbox" id="rememberme" /> 
		<label for="rememberme" i18n:translate="">Remember me next time.</label>
	</div>	
	<div class="right prepend-top">
		<a href="/register/" i18n:translate="">Register</a> &nbsp;
 		<button class="" type="submit" i18n:translate="">Log in</button>
	</div>
	<input type="hidden" name="referer" value="/${request/execpath}"/>
</form>
</tal:block>

<!-- Google Analytics gs.js www.ukeplan.no -->
<tal:block metal:define-macro="google-analytics">
   <tal:block tal:condition="exists:google">
	<script type="text/javascript">
	//<![CDATA[
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	//]]>
	</script>
	<script type="text/javascript">
		try{
		var pageTracker = _gat._getTracker("${google/analytics}");
			<tal:block tal:condition="not:session/loggedin">
				pageTracker._setVar('unregistered');
			</tal:block>
			<tal:block tal:condition="session/loggedin">
				pageTracker._setVar('member');
			</tal:block>
			pageTracker._setDomainName(".ukeplan.no");
			pageTracker._trackEvent('Performance', 'Execution time', 'xml', Math.round( ${statistics/exectime} * 10 )/10 );
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
	</tal:block>
   
</tal:block>

<div metal:define-macro="shopping-cart">
	<tal:block tal:condition="exists: cart">
		<tal:block tal:condition="cart/totalitems">
		<div id="shopping-cart">
			<p>
				<strong>
					<span id="cart-total-items" tal:content="cart/totalitems"></span> <tal:block i18n:translate="">products</tal:block>
				</strong> / 
				<strong>kr 
					<span id="cart-total-price" tal:content="formatprice:cart/totalprice"></span>
				</strong>
				<a href="/cart/clear/" id="emptycart">(<tal:block i18n:translate="" tal:omit-tag="">empty cart</tal:block>)</a>
			</p>
            <div style="position: absolute; right: 5px; top: 5px;">
                <a href="/cart"><img class="img-responsive" src="${static:}gfx/ukeplan/new/cart.jpg" /></a>
            </div>
		</div>
		<div id="shopping-cart-pusher" />
		<script type="text/javascript">
		$('#emptycart').click( function() {
			 $.ajax({
				type: "post",
				dataType: "json",
				url: "/api/1.0/cart/clear",
				success: function(){
					$('#shopping-cart p').text("0 PRODUKTER / 0,00 KR / DIN KURV ER TOM" );
					//$('#shopping-cart').slideUp('fast');
					//$('#shopping-cart-pusher').slideUp('fast');
					return false;		
				},
				error: function(msg) {
					location.href = "/cart/clear/"
				}
				
			});
			return false;
		});
		</script>
		</tal:block>
        <tal:block tal:condition="not:cart/totalitems">
		<div id="shopping-cart">
            <p>
                0 PRODUKTER / 0,00 KR / DIN KURV ER TOM 
            </p>
            <div style="position: absolute; right: 5px; top: 5px;">
                <a href="/cart"><img class="img-responsive" src="${static:}gfx/ukeplan/new/cart.jpg" /></a>
            </div>
			
		</div>
        </tal:block>
	</tal:block>
</div>