<head metal:define-macro="head" tal:omit-tag="">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<meta tal:condition="exists:google" name="google-site-verification" content="${google/google-site-verification}" /> 
	<meta name="msvalidate.01" content="F4FE8EE0C6A5F5AF802BFA2C54AB58E7" /> 
	<tal:block tal:condition="exists:canonical"> 
		<link tal:condition="canonical" rel="canonical" href="${canonical}" /> 
	</tal:block> 
	<tal:block metal:use-macro="blueprint" /> 
	<title> 
		<tal:block i18n:translate="" tal:condition="not:exists:pagetitle">Eurofoto.no - Memories for life</tal:block> 
		<tal:block tal:condition="exists:pagetitle" tal:content="pagetitle" /> 
	</title> 
	<tal:block tal:condition="exists:item/customjs"> 
		<tal:block tal:content="structure item/customjs" /> 
	</tal:block> 
	<tal:block tal:condition="exists:item/customcss"> 
		<tal:block tal:content="structure item/customcss" /> 
	</tal:block>
</head>

<tal:block metal:define-macro="blueprint">
	<link rel="stylesheet" href="${static:css/portals/customer-blog/screen.css}?${version}" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="${static:css/portals/customer-blog/print.css}?${version}" type="text/css" media="print" /> 

	<tal:block tal:condition="not:equal:request/staticroot,http://test.static.eurofoto.no">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="http://static.eurofoto.no/css/portals/customer-blog/ie.css?3.04" type="text/css" media="screen, projection" />
	<![endif]-->
	</tal:block>
	
	<tal:block tal:condition="equal:request/staticroot,http://test.static.eurofoto.no">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="http://test.static.eurofoto.no/css/portals/customer-blog/ie.css?3.04" type="text/css" media="screen, projection" />
	<![endif]-->
	</tal:block>
	
	<tal:block metal:use-macro="javascript" />
</tal:block>

<tal:block metal:define-macro="javascript">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script type="text/javascript" src="${static:js/i18n/ui.datepicker-no.js}"></script>
	<script type="text/javascript" src="${static:js/flowplayer-3.1.1.min.js}"></script>
	<script type="text/javascript" src="${static:js/jquery.fancybox-1.3.1.js}"></script>
	<script type="text/javascript" src="${static:js/eurofoto.min.js}?${version}"></script>
</tal:block>

<tal:block metal:define-macro="top">

	<div class="container">
	
		<div id="eurofoto-blog-logo">
			Eurofoto blogg
		</div>
	
	</div>

</tal:block>



<!-- FOOTER -->
<tal:block metal:define-macro="footer">
	<div class="last">
		<div class="span-24 last">
			<div class="span-5">
				<h3><a href="${url:/products/}" i18n:translate="">Products</a></h3>
				<ul>
					<li>
						<a href="/order-prints/?from=footer" i18n:translate="">Order prints</a>
					</li>
					<li tal:repeat="menuitem menu:129cdf90-4212-45e4-b7c0-fb32a437b48f">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>			
			</div>
			<div class="span-5">
				<h3><a href="${url:/products/photo-gifts/}" i18n:translate="">Photo gifts</a></h3>
				<ul>
					<li tal:repeat="menuitem menu:f245eba1-bca9-48d0-a46f-4e80a89a6b62">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>
			</div>
			<div class="span-4">
				<h3><a href="${url:/occasions/}" i18n:translate="">Occasions</a></h3>
				<ul>
					<li tal:repeat="menuitem menu:0dc4b88b-f182-461f-884a-5140607e8600">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>
			</div>

			<div class="span-5">
				
				<h3><a href="${url:/about/services/}" i18n:translate="">Services</a></h3><!-- 39ff3f7e-a6d1-475c-b9a5-e580f411b9ee -->
				<ul>
					<li><a href="/gallery/" i18n:translate="">Public gallery</a></li>
					<li><a href="/todays-photo/" i18n:translate="">Todays photo</a></li>
					
					<li tal:repeat="menuitem menu:39ff3f7e-a6d1-475c-b9a5-e580f411b9ee">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
					
					<li>
						<a href="/order-prints/backup/dvd?from=footer" i18n:translate="">Backup</a>
					</li>
					<li>
						<a href="/myaccount/upload/?from=footer" i18n:translate="">Transfer photos</a>
					</li>
				</ul>
			</div>
			<div class="span-5 last">
				<h3><a href="${url:/about/}" i18n:translate="">About us</a></h3>
				<ul>
					<li tal:repeat="menuitem menu:edd78b5e-fefc-47a2-8c0f-9bcb63f9ba36">
						<a href="${menuitem/url}?from=footer">${menuitem/title}</a>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="span-24 last center append-bottom">
			<ul class="inline">
				<li><a href="/settings/language/en_US"><img src="http://static.eurofoto.no/gfx/flags/us.png" alt="EN" /> English</a> </li>
				<li><a href="/settings/language/sv_SE"><img src="http://static.eurofoto.no/gfx/flags/se.png" alt="SE" /> Svenska</a> </li>
				<li><a href="/settings/language/da_DK"><img src="http://static.eurofoto.no/gfx/flags/dk.png" alt="DK" /> Dansk</a> </li>
				<li><a href="/settings/language/fi_FI"><img src="http://static.eurofoto.no/gfx/flags/fi.png" alt="FI" /> Suomi</a> </li>
				<li><a href="/settings/language/nb_NO"><img src="http://static.eurofoto.no/gfx/flags/no.png" alt="NO" /> Norsk</a> </li>
				<!--<li><a href="/settings/language/fr_FR"><img src="http://static.eurofoto.no/gfx/flags/fr.png" alt="FR" /> Français</a> </li>
				<li><a href="/settings/language/it_IT"><img src="http://static.eurofoto.no/gfx/flags/it.png" alt="IT" /> Italiano</a> </li>
				<li><a href="/settings/language/es_ES"><img src="http://static.eurofoto.no/gfx/flags/es.png" alt="ES" /> Español</a> </li>
				<li><a href="/settings/language/de_DE"><img src="http://static.eurofoto.no/gfx/flags/de.png" alt="DE" /> Deutsch</a> </li>
				<li><a href="/settings/language/ja_JP"><img src="http://static.eurofoto.no/gfx/flags/jp.png" alt="JP" /> 日本語</a> </li>-->
			</ul>
		</div>
		
		<div class="append-bottom clearfix clear span-24 last center ">
			<a href="${url:/about/copyright/}">Copyright | © ${request/date/year} Eurofoto AS</a>
		</div>
		
		<br />
		
	</div>
	<!--<tal:block metal:use-macro="get-satisfaction" />
	<tal:block metal:use-macro="google-analytics" />-->
</tal:block>