<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="${i18n/country}" lang="${i18n/country}">

<head>
<tal metal:use-macro="../../${templates}/common.html/head" />
	


	
	<link rel="stylesheet" href="/js/bootstrap.colorpickersliders.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="/css/bestilling.css" type="text/css" media="screen, projection" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	
	<style>
#header ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		#header li {
			float: left;
			border: 1px solid #bbb;
			border-bottom-width: 0;
			margin: 0;
		}

		#header a {
			text-decoration: none;
			display: block;
			background: #eee;
			padding: 0.34em 1em;
			color: #000000;
			width: 15em;
			text-align: center;
		}

		#header a:hover {
			background: #ff5b00;
            color: #ffffff;
		}

		#header #selected {
			border-color: black;
		}

		#header #selected a {
			position: relative;
			top: 1px;
			background: white;
			color: black;
			font-weight: bold;
		}

		#content {
			border: 1px solid black;
			clear: both;
			padding: 0 1em;
		}

		h1 {
			margin: 0;
			padding: 0 0 1em 0;
		}
	</style>
	
</head>

<body>


<div metal:use-macro="../../${templates}/common.html/top" />

<div class="container editorcontainer">
<div class="content">	
	<div class="row">
		<div class="col-md-12">
			<h3>Strykelapper</h3>
			<div class="col-md-12">
				<form id="edit">
				<div class="row">
					<div class="col-md-5 form-horizontal">
						<p><strong i18n:translate="">Text</strong></p>
							<div class="form-group ">
								<label for="line1" class="col-sm-3 control-label visible-lg"><span i18n:translate="">Line</span> 1:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="line1" id="line1" maxlength="18" placeholder="Linje 1"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label visible-lg"><span i18n:translate="">Line</span> 2:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="line2" maxlength="18" placeholder="Linje 2"/>
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label visible-lg"><span i18n:translate="">Line</span> 3:</label>
								<div class="col-sm-9">
									<input type="text"  class="form-control" name="line3" maxlength="18" placeholder="Linje 3"/>
								</div>
							</div>
					</div>
					
					
					<!--Fonter-->
				<div class="col-lg-2 col-md-2 justeringer">
											
						
						<!--Teksttyper-->
						<div class="justeringer2">
							<label>
							   <span i18n:translate="">Text Alignment:</span>
							</label>
						<br/>
							<button class="alignment btn active" id="left" >
								<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
							</button>
							<button class="alignment btn" id="center">
								<span class="glyphicon glyphicon-align-center"  aria-hidden="true"></span>
							</button>
							<button class="alignment btn" id="right">
								<span class="glyphicon glyphicon-align-right" aria-hidden="true"></span>
							</button>
				
						</div>
				<!-- Font typer-->
				<div class="justeringer2">
						<label for="font-type">
							<span i18n:translate="">Font-type:</span>
						</label>
						<select class="form-control" name="font-type" style="width:135px;">
								
								<option value="verdana">Verdana</option>			
						</select>		
						</div>			
					</div>	
					
									
					<div class="col-md-5">
					<div class="previewcontainer">
						<p><strong i18n:translate="">Preview:</strong></p>
					  <div id="sticker">
						
						  <img id="preview" class="sticker " src="/gfx/merkelapp_308.png" />
					  </div>
					</div>
					<div class="top15">
								<a id="update" class="btn" href="#">Oppdater</a>
								<a id="removeall" class="btn" href="#">Nullstill</a>
								<a id="infobutton" class="glyphicon glyphicon-info-sign btn btn-info" href="#">Produktinfo</a>
								
								<tal metal:use-macro="common.html/produktinfomodal" />				
								
							</div>
				</div>
				</div>
				
				<div class="row">
				<div class="col-md-6 bs-example">
						<!-- Nav tabs -->
						<p>
							<strong i18n:translate="">Cliparts</strong>
						</p>
                        <div>

						<!-- Nav tabs -->
						<ul class="nav nav-tabs" role="tablist">
						  <li role="presentation" class="active"><a href="#Dyr" aria-controls="dyr" role="tab" data-toggle="tab">Dyr</a></li>
						  <li role="presentation"><a href="#Sport" aria-controls="sport" role="tab" data-toggle="tab">Sport</a></li>
						  <li role="presentation"><a href="#Maskiner" aria-controls="maskiner" role="tab" data-toggle="tab">Maskiner</a></li>
						  <li role="presentation"><a href="#Leker" aria-controls="settings" role="tab" data-toggle="tab">Leker</a></li>
						</ul>
					  
						<!-- Tab panes -->
						<div class="tab-content">
						  <div role="tabpanel" class="clips tab-pane active" id="Dyr"></div>
						  <div role="tabpanel" class="clips tab-pane" id="Sport"></div>
						  <div role="tabpanel" class="clips tab-pane" id="Maskiner"></div>
						  <div role="tabpanel" class="clips tab-pane" id="Leker"></div>
						</div>
					  
					  </div>
	
							<div id="clipart"></div>
			
					  </div>
					
					
					
					<div class="col-md-6 justeringer">
			<tal metal:use-macro="common.html/productlist" />
			
		
			<hr class="visible-xs" />
		</div>	
					
					
				</div>
				</form>	
			</div>

					
              
		
		</div>
	
			  
	</div>
	
	<!--<div metal:use-macro="common.html/bottominfo" />-->
	
</div>
</div>

<div class="container">

<div metal:use-macro="../../${templates}/common.html/footer" />

</div>


<SCRIPT type="text/javascript">
   var clipart = '';
   var ownimage = '';
   var treshhold = 100;
   var imageselection = Object();
   var projectid = ${projectid};
   var gravity = 'left'; 
   var category = 'Dyr';
   var backgroundcat = '';
   var backgroundfile = '';
   var totalprice = ${cart/totalprice};
   var staticroot = "${static:}";
   var type = 'merkelapp';
   var disabled = true;
   var colormode = 'bw';
   var alertmessage = 'false';


   
</SCRIPT>
<script type="text/javascript" src="/js/merkelapp.js"></script>


<script src="/js/tinycolor.js"></script>
<script src="/js/bootstrap.colorpickersliders.js"></script>
<script type="text/javascript">/*<![CDATA[*/

	
	
		$( function(){
			
				updatetotal();
				$( document ).scroll(function(ret) {
					if( $(document).width() < 768 ){
						var offsety = ret.currentTarget.body.scrollTop;
						if( offsety < 51 ){
							$('.previewcontainer').css('top', ( 51 - offsety ) + 'px');
						}
						else{
							$('.previewcontainer').css('top', '0px');
						}
					
					}
				  });
			
		
			
			});
		
			// Get the modal
var modal = document.getElementById('myModal');
var modal = document.getElementById('produktinfomodal');
// Get the button that opens the modal
var btn = document.getElementById("infobutton");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
			
/*]]>*/	
</script>




</body>

</html>