<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
	<div metal:use-macro="../common.html/head" />
	<div metal:use-macro="../common.html/javascript" />
	<div metal:use-macro="../common.html/stylesheet" />
        <style>
	    
            .kjopforsiden{
                position: absolute;
                top: -5px;
                left: 170px;
            }
        </style>
    </head>
    
    <body>
        <div class="row text-center hidden-phone header">
	    <img  src="${static:css/portals/stabburet/web/images/preheader.png}" alt="LAG LOKK MED DITT BILDE"/>
        </div>
        <div class="container center">
            <div style="position: relative">
                <img class="kjopforsiden" src="${static:css/portals/stabburet/web/images/kjopforsiden.png}" alt="Kjøp 3 bokser Stabburet leverpostei"/>
                <a href="/bestill"><img style="width: 70%" src="${static:css/portals/stabburet/web/images/content-pre.png}" /></a>
                
            </div>
            <div>
                <div class="span12"><a href="/bestill"><img src="${static:css/portals/stabburet/web/images/videre.png}" /></a></div>
            </div>

        </div>
        <div metal:use-macro="../common.html/footer" />
</body>
</html>
