<!-- HEAD -->
<head metal:define-macro="head" tal:omit-tag="">
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../favicon.ico" />

    <title> 
		<tal:block tal:condition="not:exists:pagetitle">Din MerkelappFotono</tal:block> 
		<tal:block tal:condition="exists:pagetitle" tal:content="pagetitle" /> 
	</title>
	<meta name="description" tal:attributes="content cms:ingress:468cb517-14df-4d55-9108-826fd151607c" />
	<link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css' />
	<link href='https://fonts.googleapis.com/css?family=Kalam:300,400' rel='stylesheet' type='text/css' />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/fotono/css/bootstrap.min.css" type="text/css" media="screen, projection" />
    <link rel="stylesheet" href="/fotono/css/font-awesome.min.css" type="text/css" media="screen, projection" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/fotono/css/template_fotono.css" type="text/css" media="screen, projection" />
    
    <!--css til header-->
	<link href="/fotono/css/commonheader_fotono.css?1" type="text/css" rel="stylesheet" />
  <!--css til header slutt-->
  
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	<meta tal:condition="exists:google" name="google-site-verification" content="${google/google-site-verification}" /> 
	<meta name="msvalidate.01" content="F4FE8EE0C6A5F5AF802BFA2C54AB58E7" /> 
	<tal:block tal:condition="exists:canonical"> 
		<link tal:condition="canonical" rel="canonical" href="${canonical}" /> 
	</tal:block> 


	<tal:block tal:condition="exists:item/customjs"> 
		<tal:block tal:content="structure item/customjs" /> 
	</tal:block> 
	<tal:block tal:condition="exists:item/customcss"> 
		<tal:block tal:content="structure item/customcss" /> 
	</tal:block>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/fotono/js/bootstrap.min.js"></script>
	<script src="${static:}js/eurofoto.min.js"></script>
	<script src="/fotono/js/common.js"></script>
	<link href="https://static.lipscore.com/assets/lipscore-v1.css" rel="stylesheet" />
	<script async="true" charset="utf-8" src="https://static.lipscore.com/assets/no/lipscore-v1.js"></script>
	<script>
		
		window.lipscoreInit = function() {
			lipscore.init({
				apiKey: "dceece6a8d25003aebe2e673",
			});
		};
	</script>

</head>

<tal:block metal:define-macro="blueprint">
	<link rel="stylesheet" href="${static:css/bootstrap/bootstrap.min.css}?${version}" type="text/css" media="screen, projection" />


	<tal:block metal:use-macro="javascript" />
</tal:block>

<tal:block metal:define-macro="javascript">
	
	
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="${static:}css/bootstrap/js/bootstrap.min.js"></script>
	
	
	
</tal:block>



 
 
 
 
 <!-- top-header -->
<div metal:define-macro="top" tal:omit-tag="">	

	<div id="cewe_common_header_container">
		<div class="shared-header">
			<div class="container">
				
				<div class="logo col-md-2 col-sm-4">
					<a href="/">
						<img class="img-responsive" src="/css/fotono/gfx/foto_no_oransje200px.gif"/>
					</a>
				</div>

				<div class="kundeservice col-md-10 col-sm-5">
				
				<!--	<div class="col-md-3 col-sm-3 sh-shopcart-container">
					<a class="sh-shopcart" href="javascript:;" onclick="CommonLogin.openCart();"><span class="glyphicon glyphicon-shopping-cart"></span>0 produkt(er)</a>
					
				</div>-->
					
					<ul class="kundeservice">
						<li>	<a href="/myaccount/" title="MIN KONTO">Min Konto</a></li>
						<li>	<a href="/frontpage-fotono/kundeservice/" title="Trenger du hjelp? Ta kontakt med en av våre medarbeidere hos Foto.no på telefon 57863500">Kontakt oss</a></li>
						<li>	<a href="/frontpage-fotono/hjelpesider/" title="Hjelpesider">Hjelpesider</a></li>
						
							</ul>
				
				
				
				<div class="actions" id="shMenu">
					<ul>
						<tal:block tal:condition="session/loggedin">
							<li role="presentation">
							<a href="/cart">Handlekurv
								<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
								
								
							</a>
						</li>
							<li>
								<a class="register" href="/logout">Logg ut
									<span class="glyphicon glyphicon-log-out"></span></a>
							</li>
						</tal:block>
						<tal:block tal:condition="not:session/loggedin">
							<li>
								<a class="login" href="/login"><span class="glyphicon glyphicon-user"></span>Logg inn</a>
							</li>
						</tal:block>
					</ul>
					
							
							
				</div>
				
				
				</div>		
				
				
				
				
			</div>
		</div>
	</div>



 <!-- top-header slutt-->



 <!-- top-meny start-->



 <!-- top-meny slutt-->












































					
	
	<script type="text/javascript" src="//islpronto.islonline.net/live/islpronto/public/chat_info.js?d=japanphoto&filter=Bilder&lang=no&chat_height=500&chat_width=700"></script>
	<script type="text/javascript">
	
		$(document).ready( function(){
			$('#chat').mouseover(function () {
				$(this).css( 'background-position' , '-37px 0px')
			});
			$('#chat').mouseout(function () {
				$(this).css( 'background-position' , '-2px 0px')
			});
			$('#chat').mousedown(function () {
				$(this).css( 'background-position' , '-74px 0px')
			});
			
			if(ISLProntoInfo.supporters != 0) {
				var link1 = document.getElementById('islpronto_link1');
				link1.href = 'javascript:void(0)';
				link1.onclick = ISLProntoInfo.onchat;
				/*var image1 = document.getElementById('islpronto_image1');
				image1.src = '${static:gfx/merkelapp/chat.png}';*/
				$('div#chat').css( 'background-image' , ' url("${static:gfx/merkelapp/chat_online.png}")' );
			}
		
		});
   </script>
	
</div>

<!-- top-small-navigation -->
<div metal:define-macro="top-small-navigation" id="topsmallnavigation" class="span-19 last">

</div>

<!-- main-navigation add class "active" to the active anchor-->
<div metal:define-macro="main-navigation" id="main-navigation">
	

</div>








































<div metal:define-macro="shopping-cart">
	<tal:block tal:condition="exists: cart">
		<tal:block tal:condition="cart/totalitems">
		<div id="shopping-cart">
			<span id="cart-functions">
				<a href="/checkout/?from=main" id="go-to-checkout" class="" i18n:translate="">Go to checkout</a>
				<a href="/cart/?from=main" id="cart-toggle" style="color:black" i18n:translate="">Show cart</a>
			</span>
		</div>
		</tal:block>
	</tal:block>
</div>

<!-- breadcrumbs -->
<div metal:define-macro="breadcrumbs" id="breadcrumbs">
	<ul>
		<li><a href="" i18n:translate=""></a></li>
		<li class="active" i18n:translate=""></li>
	</ul>
</div>

<!-- LEFT MENU (span-4) -->
<div metal:define-macro="left-menu" id="leftmenu">
	<p i18n:translate=""></p>
</div>

<!-- RIGHT MENU (span-4) -->
<div metal:define-macro="right-menu" id="rightmenu" class="last">
	<p i18n:translate=""></p>
</div>

<!-- RIGHT ALBUM MENU (span-4) -->
<div metal:define-macro="right-album-menu" id="rightalbummenu" class="last">
	<ul id="right-album-menu">
		<li>
		</li>
	</ul>
</div>

<!-- beta message -->
<tal:block metal:define-macro="message">
</tal:block>

<!-- FOOTER -->
<tal:block metal:define-macro="footer">
	
	
	
	
	
	
	<div class="footer">
		<div class="container">
			
			<div id="footer" class="row">
				
					
					<div class="footer">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-3 col-xs-12 block">
						<div style="padding-left: 0px;">
							<!--<img class="img-responsive" src="${static:}gfx/ugeplan/dansklogomobil.png" />-->
							<img class="img-responsive" src="/css/fotono/logo_fotono_grey.png" />
						</div>
						
						
						
						
						
					</div>
					
					
					
					
					
					
					<div class="col-md-3 col-xs-12 block">
						<div>
							<h5>KUNDESERVICE</h5>
								<a href="/hjelp/apningstider/">Kontakt oss</a><br/>
							<a href="/om/">Om oss</a><br/>
							<a href="/hjelp">Ofte stilte spørsmål</a><br/>
							<a href="/designservice/">Butikker</a><br/>
						</div>
					</div>
					
					
					
					<div class="col-md-3 block">
						<div>
							<h5>BETINGELSER</h5>
						
							<a href="/kobsguide/">Personvern</a><br/>
							<a href="/designservice/">Vilkår</a><br/>
						</div>	
					</div>
					
					
					<div class="col-md-3 block">
						<h5>MØT OSS PÅ SOSIALE MEDIER:</h5>
						
<ul class="sosialmedia">
	<li> <a href="https://www.facebook.com/butikk.foto.no" target="_blank"><img src="${static:}cms/images/color-facebook-128.png"/></a> </li>
	<li> <a target="_blank"><img src="https://static.repix.no/cms/images/color-snap31.png"/></a></li>
	<li> <a href="https://www.instagram.com/fotodotno" target="_blank"><img src="${static:}cms/images/color-instagram-128.png"/></a></li>
	
</ul>		
					</div>
					
					
				
				
				
				</div>
				
				
				
				
			
							<div class="col-md-12">
						
						<div>
							<h5 class="col-md-12 text-center" >PRODUKTER</h5>
							
						<ul class="footerproducts col-md-12 text-center">
						<li>	<a href="/fremkalle-bilder/">Fremkalling</a></li>
						<li>	<a href="/produkter/lerret/">Veggbilder</a></li>
						<li>	<a href="/produkter/kalendere/">Kalender</a></li>
						<li>	<a href="/produkter/kort-og-skrivesaker/">Fotokort</a></li>
						<li>	<a href="/eurofotobok/">Fotobok</a></li>
						<li>	<a href="/bestilling/merkelapp">Navnelapper</a></li>
						<li>	<a href="/ukeplanleggere/">Ukeplan</a></li>
						<li>	<a href="/produkter/fotogaver/">Gaver</a></li>
							</ul>
						
		
						</div>	
					</div>
							
							
							
					
					
				

			</div>
			
		</div>
				
				<div class="append-bottom  col-md-12 last text-center ">
					<a href="${url:/about/copyright/}">Copyright | © ${request/date/year} Eurofoto/Japan Photo Holding Norge </a>
				</div>
				
				<br />
				
			</div>
		
		</div>
	
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	<tal:block metal:use-macro="get-satisfaction" />
	<tal:block metal:use-macro="google-analytics" />
	<tal:block tal:condition="exists:lyrishq">
	   	<!--
	   	<script type="text/javascript">
		document.write('<'
			+ 'script type="text/javascript" src="'
			+ document.location.protocol
			+ '//stats.clicktracks.com/cgi-bin/ctasp-server.cgi?i=${lyrishq}'
			+ '"><'
			+ '/script>');
		</script>-->
		<script type="text/javascript" src="https://stats.clicktracks.com/cgi-bin/ctasp-server.cgi?i=${lyrishq}"></script>
		
   </tal:block>


	<script type="text/javascript">
		var ttConversionOptions = ttConversionOptions || [];
		ttConversionOptions.push({
		 type: 'lead',
		 campaignID: '22709',
		 productID: '33257',
		 transactionID: '{transactionID}',
		 email: '',
		 descrMerchant: '',
		 descrAffiliate: ''
		});
	   </script>
	   <noscript>
		<img src="//tl.tradetracker.net/?cid=CAMPAIGN_ID&amp;pid=33257&amp;tid={transactionID}&amp;data=&amp;eml=&amp;descrMerchant=&amp;descrAffiliate=&amp;event=lead" alt="" />
	   </noscript>
	   <script type="text/javascript">
		(function(ttConversionOptions) {
		 var campaignID = 'campaignID' in ttConversionOptions ? ttConversionOptions.campaignID : ('length' in ttConversionOptions && ttConversionOptions.length ? ttConversionOptions[0].campaignID : null);
		 var tt = document.createElement('script'); tt.type = 'text/javascript'; tt.async = true; tt.src = '//tm.tradetracker.net/conversion?s=' + encodeURIComponent(campaignID) + '&t=m';
		 var s = document.getElementsByTagName('script'); s = s[s.length - 1]; s.parentNode.insertBefore(tt, s);
		})(ttConversionOptions);
	</script>
</tal:block>

<!-- quick login -->
<tal:block metal:define-macro="quicklogin">
<form action="/login/" method="post"  id="quicklogin">
	<div>
		<label for="email" i18n:translate="">E-mail:</label><br/>
		<input type="text" class="text lowercase" name="email" value="" />
	</div>	
	<div>
		<label for="pasword" i18n:translate="">Password:</label><br/>
		<input type="password" class="text" name="password" value="" />
	</div>
	<div>
		<input type="checkbox" id="rememberme" /> 
		<label for="rememberme" i18n:translate="">Remember me next time.</label>
	</div>	
	<div class="right prepend-top">
		<a href="/register/" i18n:translate="">Register</a> &nbsp;
 		<button class="" type="submit" i18n:translate="">Log in</button>
	</div>
	<input type="hidden" name="referer" value="/${request/execpath}"/>
</form>
</tal:block>

<!-- get Satisfaction -->
<tal:block metal:define-macro="get-satisfaction">
	<!--
	<tal:block tal:replace="structure fastpass" tal:condition="exists:fastpass" />
	<script type="text/javascript" charset="utf-8">
		var is_ssl = ("https:" == document.location.protocol);
		var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
		document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript" charset="utf-8">
		var feedback_widget_options = {};
		feedback_widget_options.display = "overlay";  
		feedback_widget_options.company = "eurofoto";
		feedback_widget_options.placement = "right";
		feedback_widget_options.color = "#222";
		feedback_widget_options.style = "idea";
		var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
	</script>
	-->
</tal:block>

<!-- Google Analytics gs.js www.eurofoto.no -->
<tal:block metal:define-macro="google-analytics">

   
   


   <tal:block tal:condition="exists:google">
	<script type="text/javascript">
	//<![CDATA[
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	//]]>
	</script>
	<script type="text/javascript">
		try{
		var pageTracker = _gat._getTracker("${google/analytics}");
			<tal:block tal:condition="not:session/loggedin">
				pageTracker._setVar('unregistered');
			</tal:block>
			<tal:block tal:condition="session/loggedin">
				pageTracker._setVar('member');
			</tal:block>
			pageTracker._setDomainName(".dinmerkelapp.no");
			pageTracker._trackEvent('Performance', 'Execution time', 'xml', Math.round( ${statistics/exectime} * 10 )/10 );
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
	</tal:block>
</tal:block>

<!-- sharing button -->
<tal:block metal:define-macro="share-button">
<!-- ADDTHIS BUTTON BEGIN -->
<script type="text/javascript">
var addthis_config = {
	username: "eurofoto",
	services_compact: 'facebook, email, twitter, digg, delicious, favorites, friendfeed, google, linkedin, live,  more',
	services_exclude: 'print',
	ui_language: "${i18n/country}"
}
</script>

<a href="https://www.addthis.com/bookmark.php" 
    class="addthis_button"
    style="text-decoration:none;">
        <img src="https://s7.addthis.com/static/btn/sm-plus.gif" 
    width="16" height="16" border="0" alt="Share" /> <span i18n:translate="">Share</span></a>
    
<script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js"></script>
<!-- ADDTHIS BUTTON END -->
</tal:block>

<tal:block metal:define-macro="pagination">
	
	<a class="button">First</a>
	<a class="button">Previous</a>
	
	<a href="">1</a><a href="">2</a><a href="">3</a>...<a href="">4</a><a href="" class="current">(5)</a><a href="">6</a><a href="">7</a><a href="">8</a><a href="">9</a><a href="">10</a><a href="">11</a><a href="">12</a>...<a href="">50</a><a href="">51</a><a href="">52</a>
	
	<a class="button">Last</a>
	
</tal:block>

<div metal:define-macro="associatedproducts">
	<tal:block tal:repeat="product associatedproducts">
		<div class="span-14">
			<div class="span-2 productimage">
				<tal:block tal:condition="product/images">
					<tal:block tal:repeat="image product/images">
						<tal:block tal:condition="equal:repeat/image/number,1">
							<tal:block tal:define="global staticurl" tal:content="static:" />
							<a href="${product/urlname}" title="${product/title}">
								<img src="${staticurl}images/products/thumbs/square/50/${image/url}" 
								widht="50" height="50" class="left" alt="${product/title}" tal:condition="image/url" />
							</a>
							<img src="${static:gfx/404/not_found_50px.jpg}" 
							class="left" alt="Product photo missing." tal:condition="not:image/url" 
							style="border: 10px solid #fff; "
							/> 
						</tal:block>
					</tal:block>
				</tal:block>
				<tal:block tal:condition="not:product/images"><span class="quiet small">No image</span></tal:block>
			</div>
			<div class="span-6">
				<h4 class="bottom" tal:content="product/title|default"></h4>
				<p tal:content="product/ingress|default"></p>
			</div>
			<div class="span-6 last" tal:condition="product/option/price">
				<div class="price" tal:content="formatprice:product/option/price"></div>
				<input class="quantity" value="1" type="text" />
				
				<tal:block tal:condition="gt:repeat/options/number,1">
					more than 1
				</tal:block>
				
				<a class="button add-to-cart" i18n:translate="" ref="${product/option/prodno}">Add to cart</a>
			</div>
		</div>
	</tal:block>
</div>
