<html>
<head>

</head>
<body>
   <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/nb_NO" type="text/javascript"></script><script type="text/javascript">FB.init("dbdea9cdd4dd106a6375c56f73eabafc");</script>
   <fb:login-button v="2" autologoutlink="1" size="medium" onlogin="window.location.href = &quot;/services/facebook-connect/setup&quot;" i18n:translate="">Connect</fb:login-button>
   
   <script type="text/javascript">
   //<![CDATA[
      FB.init('dbdea9cdd4dd106a6375c56f73eabafc','/xd_receiver.html', {});
   //]]>
   </script>
   
   <!-- script type="text/javascript">
      
      FB.Connect.ifUserConnected(set_cookies_and_refresh());
      
   </script -->
   
   <!-- div>
   bilde:<br />
   <fb:profile-pic uid="loggedinuser" size="square" facebook-logo="true"></fb:profile-pic>
   </div>
   
   <br />
   <br />
   
   <div>
   navn:<br />
   <fb:name uid="loggedinuser" useyou="false" linked="true"></fb:name>
   </div -->
   
</body>
</html>