<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal metal:use-macro="../../${templates}/common.html/head" />
</head>


<body>
<div class="container">

	<div metal:use-macro="../../${templates}/common.html/top" />
	<div metal:use-macro="../../${templates}/common.html/left-menu" />

	<div id="content" class="frontpage">
		<div class="span-6">
			<h3>
				Meny
			</h3>
		</div>
		<div class="span-18 last">
			<div class="span-6">
				<h3>Fremkalle bilder</h3>
			</div>
			
			<div class="span-6">
				<h3>Fremkalle bilder</h3>
			</div>
			
			<div class="span-6 last">
				<h3>Lage fotobok</h3>
			</div>
		</div>

	</div> <!-- end content -->
		
	<div metal:use-macro="../../${templates}/common.html/right-menu" />
	
</div>

<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>

</body>
</html>