<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal metal:use-macro="../../${templates}/common.html/head" />
</head>


<body>
	<div class="container">

		<div metal:use-macro="../../${templates}/common.html/top" />

		<div id="content" class="frontpage">

			<div class="span-24 last">
				<div class="span-6 frontpageMenu">
					<a class="photoproduct" href="/">
						<h4>Fotoprodukt</h4>
						<p>Fotogaver, kalendere, kort og invitasjoner og andre lignende ting</p>
					</a>
					<a class="albumsandborders" href="/">
						<h4>Rammer og album</h4>
						<p>Gjør noe mer med bildene dine</p>
					</a>
					<a class="photobook" href="/">
						<h4>Fotobok</h4>
						<p>Lag fotobok på noen få minutter</p>
					</a>
					<a class="scrapbooking" href="/">
						<h4>Scrapbooking</h4>
						<p>Alt du trenger for scrapbooking</p>
					</a>
					<a class="enlargement" href="/">
						<h4>Lerret og plakater</h4>
						<p>Forstørr og heng bildene dine på veggen. Lag enkelt på 1-2-</p>
					</a>
					<a class="themes" href="/">
						<h4>Anledninger</h4>
						<p>Noe til en hver anledning. Bursdag, konfirmasjon bryllup, jul etc.</p>
					</a>
				</div>
				<div class="span-18 last">
					<h2>Kom igang med en gang</h2>
					<div class="span-6 with_button">
						<h3>Fremkalle bilder</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. </p>
						<a class="button large green">
							Fremkall bilder
						</a>
					</div>
					<div class="span-6 with_button">
						<h3>Lage fotobok</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. </p>
						<a class="button large blue">
							Lag fotobok
						</a>
					</div>
					<div class="span-6 last with_button">
						<h3>Lage kalender</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. </p>
						<a class="button large">
							Lag kalender
						</a>
					</div>
					<div class="span-6">
						<div class="with_button">
							<h3>Fotoaver, vårt store utvalg</h3>
							<p>
							Jada, utvalg det har vi
							</p>
							<a class="button large orange">
								Se våre fotogaver
							</a>
						</div>
					</div>
					<div class="span-6">
						<div class="with_button">
							<h3>Takkekort</h3>
							<p>
								Det må du bare ha
							</p>
							<a class="button large red">
								Lag takkekort på 1-2-3
							</a>
						</div>
					</div>

					<div class="span-6 last with_button">
						<h3>Lage kalender</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. </p>
						<a class="button large call-to-action">
							Se vårt utvalg
						</a>
					</div>
				</div>
			</div>
			<div class="span-24">
				<div class="span-6">
					<div class="box">
						<h3>Dagens bilde</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. Vivamus purus lorem, dignissim ac rutrum vitae, imperdiet eu elit. In hac habitasse platea dictums</p>
					</div>
				</div>
				<div class="span-6">
					<div class="box">
						<h3>Tilbud #1</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. Vivamus purus lorem, dignissim ac rutrum vitae, imperdiet eu elit. In hac habitasse platea dictums</p>
					</div>
				</div>
				<div class="span-6">
					<div class="box with_button">
						<h3>Tilbud #2</h3>
						<p>Lorem ipsumsit amet, consectetur adipiscing elit. </p>
						<a href="/" class="button call-to-action" style="position: absolute; bottom: 10px; right: 10px;">Testknapp</a>
					</div>
				</div>
				<div class="span-6 last">
					<div class="box with_button">
						<h3>Tilbud #3</h3>
						<p>Lorem ipsum </p>
						
						<a href="/" class="button call-to-action" style="position: absolute; bottom: 10px; right: 10px;">Testknapp</a>
						
					</div>
				</div>
				
				<div class="clear clearfix"></div>
				<!-- new line -->
				
				<div class="span-6">
					<div class="box">
						<h3>En sak</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. Vivamus purus lorem, dignissim ac rutrum vitae, imperdiet eu elit. In hac habitasse platea dictums</p>
					</div>
				</div>
				<div class="span-6">
					<div class="box">
						<h3>En sak</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. Vivamus purus lorem, dignissim ac rutrum vitae, imperdiet eu elit. In hac habitasse platea dictums</p>
					</div>
				</div>
				<div class="span-6">
					<div class="box">
						<h3>En sak</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. Vivamus purus lorem, dignissim ac rutrum vitae, imperdiet eu elit. In hac habitasse platea dictums</p>
					</div>
				</div>
				<div class="span-6 last">
					<div class="box">
						<h3>En sak</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a sem ligula, ac tristique massa. Vivamus purus lorem, dignissim ac rutrum vitae, imperdiet eu elit. In hac habitasse platea dictums</p>
					</div>
				</div>
			</div>
			
		</div> <!-- end content -->
	
	<div metal:use-macro="../../${templates}/common.html/footer" />
	
	</div>
</body>
</html>