<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<tal metal:use-macro="../../${templates}/common.html/head" />
</head>


<body>
	<div class="container">

	<div metal:use-macro="../../${templates}/common.html/top" />

	<div metal:use-macro="../../${templates}/common.html/left-menu" />
	

	<!-- if no menu is used use id="widecontent" -->
	<div id="content">
		<h2 class="bottom">My projects</h2>
		<p class="quiet">This is where all your photo books, gifts, calendars, and everything else you have made are. You can also share theese projects to your friends. <a class="read-more" href="">Read more</a></p>

	
	
	<div class="span-12">
		<div class="span-2">
			<img src="http://static.eurofoto.no/gfx/404/not_found_70px.jpg" height="70" width="70"/>
		</div>
		<div class="span-6">
			<div class="span-6 last">
				<h4 class="bottom">Title <span class="small quiet">(Opprettet 21. Januar 2009)</span></h4>
				
			</div>
			<div class="span-6 last">
				<p class="quiet bottom">Description</p>
			</div>
			<div class="span-6 last">
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
			</div>
		</div>
		<div class="span-4 last">
			<div class="span-4 last append-bottom right">
				<a>Edit</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a class="negative">Delete</a>
			</div>
			<div class="span-4 right last">
				<a href="" class="button">Share</a>
				<a href="" class="button blue">Open</a>
			</div>
		</div>
		<hr />
	</div>
	<div class="span-12">
		<div class="span-2 append-bottom">
			<img src="http://static.eurofoto.no/gfx/404/not_found_70px.jpg" height="70" width="70"/>
		</div>
		<div class="span-6">
			<div class="span-6 last">
				<h4 class="bottom">Title <span class="small quiet">(Opprettet 21. Januar 2009)</span></h4>
				
			</div>
			<div class="span-6 last">
				<p class="quiet bottom">Description</p>
			</div>
			<div class="span-6 last">
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
				<img src="http://static.eurofoto.no/gfx/404/not_found_50px.jpg" height="25" width="25"/>
			</div>
		</div>
		<div class="span-4 last">
			<div class="span-4 last append-bottom right">
				<a>Edit</a>&nbsp;&nbsp; | &nbsp;&nbsp;<a class="negative">Delete</a>
			</div>
			<div class="span-4 right last">
				<a href="" class="button">Share</a>
				<a href="" class="button blue">Open</a>
			</div>
		</div>
		<hr />
	</div>
	</div>
		
	<div metal:use-macro="../../${templates}/common.html/right-menu" />

</div>

<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>

</body>
</html>