<tal:block metal:define-macro="css">
<link type="text/css" rel="stylesheet" href="${static:gfx/portals/ukeplan/css/imgareaselect-animated.css}?${version}" />
<STYLE type="text/css">
      
      #imagePickerAlbums {
      	height: 430px;
      	width: 192px;
      	overflow: hidden;
      	overflow-y: scroll;
      }
      
      #imagePickerAlbums li {
      	height: 2.5em;
      	border-bottom: 1px solid #ddd;
      	width: 175px;
      }
      #imagePickerAlbums li a{
      	padding: .5em;
      	display: block;
      	text-decoration: none;
      	font-weight: bold;
      	color: #111;
      	font-size: 0.8em;
      }
      
      #imagePickerAlbums li a:hover {
      	background-color: #eee:
      }
      
      #imagePickerAlbums li a.selected {
      	background-color: #0068B4 !important;
      	color: #fff !important;
      }
      #imagePickerImages {
      	height: 430px;
      	overflow: hidden;
      	overflow-y: scroll;
      }
      #imagePickerImages li {
      	list-style-type: none;
      	float: left;
      	margin: 0 10px 10px 0;
      }
      .postbox {
      	padding: 10px;
      	background-color: #eee;
      }
      select{
          width: 150px;
      }
      .selectlabel{
          width:60px;
          padding-top:2px;
          margin:5px;
          float:left;
      }
      .editorcontainer{
         position: relative;
         border: solid 1px;
         height: 500px;
         width: 650px;
         -moz-box-shadow: 3px 3px 4px #CCC;
         -webkit-box-shadow: 3px 3px 4px #CCC;
         box-shadow: 3px 3px 4px #CCC;
         z-index: 10;
      }

      .imageplaceholder{
         position: relative;
         background-color:#fff;
         border: solid 1px;
         float: left;
         overflow: hidden;
         margin-left: 2px;
      }
      .gridplaceholder, .bottomgridplaceholder, .sidegrid{
         position: absolute;
         background-color:#fff;
         width: 617px;
         float: left;
         overflow: hidden;
         margin-left: 0px;
         left: 44px; 
         top: 168px;
      }

      table.grid, table.topgrid, table.maingrid, table.bottomgrid{
         float:left;
         border: 0px;
      	border-style: solid;
      	border-color: gray;
      	background-color: white;
      	margin-bottom: 0em;
      }
      
      
      table.firstmain td, table.bottomgrid td, table.topgrid td , .headergrid td, table.main-content{
      	border: 1px;
      	border-style: solid;
      	border-color: #CCC;
      	background-color: white;
      	
      }
      
      div.textplaceholder{
         position: absolute;
         left:0px;
         width: 36px;
         top: 167px;
      }
      
      img.imagetext{
         position: relative;
         width:0px;
         top: 1px;
         left: -1px;
         z-index: 200;
      
      }
      div.edittext, div.edittoptext{
         padding: 5px;
         position: absolute;
         background-color: white;
         top: 1px;
         left: 1px;
         z-index: 2210;
      }
      div.namescontainer{
         position: absolute;
         width:700px;
         top: 100px;
         left: 0px;
         z-index: 200;
      }
      div.imagetextplaceholder{
         position: relative;
         float:left; 
      }
      div.imageandtextplaceholder, div.headergridplaceholder{
         position: absolute;
      }
      
      table.dinner td{
         background-image: url(${static:gfx/portals/ukeplan/clipart/middagsbestikk2.png});
         background-size:34px 104px;
         background-repeat: no-repeat;
         background-position: center;
      }
      select#imagefield_height, select#textfield_height{
         width: 60px;
      }
      
      label.imagelayoutlabel{
         display: inline-block;
         width: 77px; 
         text-align: left;
      }
      th, td, caption {
         padding: 0px 0px 0px 0px;
         line-height: 0em;
       }
      
      
      .rotatebutton{
         background-color:Transparent;
         width: 27px;
         height: 26px;
         border-radius: 12px;
         -moz-border-radius: 12px;
         -webkit-border-radius: 12px;
      }
      
      .rotateleft{  
         background-image: url(${static:gfx/portals/ukeplan/clipart/buttonleft.jpg}); 
      }
      .rotateright{  
         background-image: url(${static:gfx/portals/ukeplan/clipart/buttonright.jpg}); 
      }
     </STYLE>
</tal:block>


<tal:block metal:define-macro="scripts">
	  <script type="text/javascript" src="${static:gfx/portals/ukeplan/scripts/jquery.imgareaselect.js}?${version}"></script>
	  <script type="text/javascript" src="${static:gfx/portals/ukeplan/scripts/jquery.progressbar.js}?${version}"></script>
	  <!--<script type="text/javascript" src="${static:gfx/portals/ukeplan/scripts/ukeplan.js}?${version}"></script>-->
</tal:block>
<tal:block metal:define-macro="imagecropbox">
   <div class="hide center" id="imagecropbox">
      <div class="left" style="margin-bottom: 8px;">
         <span style="margin: 5px;"><strong>Kvalitet:<a class='qualitytip' href=''>info</a> </strong><span class="progressBar" id="pb1">&nbsp;</span></span>
         <button class="rotatebutton rotateleft" id="rotateleft" value="-90"></button>
         <button class="rotatebutton rotateright"id="rotateright" value="90"></button>
         <button id="blackandwhite" value="bw" >Sort/hvit</button>
         <button id="closecropbox">Bekreft endringer</button>
      </div>
      <img id="previewimage" src=""  />
   </div>
</tal:block>

<tal:block metal:define-macro="color-options">
      <option value="#ea7839" style="background-color: #ea7839;color: black;">Ojsåorange</option>
      <option value="#812990" style="background-color: #812990;color: white;">Lekker Lilla</option>
      <option value="#bed62f" style="background-color: #bed62f;color: black;">Grønn Lime</option>
      <option value="#ec008c" style="background-color: #ec008c;color: black;">Ren Rosa</option>
      <option value="#25408f" style="background-color: #25408f;color: white;">Blues blå</option>
      <option value="#00aeef" style="background-color: #00aeef;color: black;">Typisk turkis</option>
      <option value="#dcdcdc" style="background-color:#dcdcdc;color: black;">Ganske Grå</option>
      <option value="#ffc60b" style="background-color: #ffc60b;color: black;">Gullende Gul</option>
      <option value="#d2232a" style="background-color: #d2232a;color: black;">Rose Rød</option>
      <option value="#b3a679" style="background-color: #b3a679;color: black;">Bare Beige</option>
</tal:block>

<tal:block metal:define-macro="font-options">
      <option value="PEIGNOT1.TTF">Normale Nora</option>
      <option value="crulz.ttf" >Krølle Bølle</option>
      <option value="FFFTusj.ttf">Feite Frode</option>
      <option value="greyscale.ttf">Stramme Susanne</option>
      <option value="quicksand.otf">Magre Margrethe</option>
      <option value="BRADHITC.TTF">Tynne Truls</option>
      <option value="ITCEDSCR.TTF">Elegante Ella</option>
      <option value="JandaSnickerdoodleSerif.ttf">Tøffe Tor</option>
      <option value="KGStrawberryLimeade.ttf">Kjekke Knut</option>
      <option value="ThrowMyHandsUpintheAir.ttf">Pene Per</option>
</tal:block>     

<tal:block metal:define-macro="column-options">
	     <label for="columnquantity" i18n:translate="">Number of Columns:</label><br/>
	     <select name="columnquantity" id="columnquantity">
	        <option value="1">1 <tal:block i18n:translate="">column</tal:block></option>
	        <option value="2">2 <tal:block i18n:translate="">columns</tal:block></option>
	        <option value="3">3 <tal:block i18n:translate="">columns</tal:block></option>
	        <option value="4" selected="true">4 <tal:block i18n:translate="">columns</tal:block></option>
	        <option value="5">5 <tal:block i18n:translate="">columns</tal:block></option>
	        <option value="6">6 <tal:block i18n:translate="">columns</tal:block></option>
	        <option value="7">7 <tal:block i18n:translate="">columns</tal:block></option>
	     </select>
</tal:block>

<tal:block metal:define-macro="image-options">
   	  <input type="radio" name="imagelayout" value="each" checked="true"/><label i18n:translate="">Photo for each column</label><br />
	     <input type="radio" name="imagelayout" value="one"/><label i18n:translate="">One big photo</label>	     
	     <select id="imagefield_height" name="imagefield_height" disabled="true">
	        <option value="25">25%</option>
	        <option value="30">30%</option>
	        <option value="35">35%</option>
	        <option value="40">40%</option>
	        <option value="45">45%</option>
	        <option value="50">50%</option>
	     </select>
	     <br/>
        <input type="radio" name="imagelayout" value="text"/><label class="imagelayoutlabel" i18n:translate="">Text only</label>
        <select id="textfield_height" name="textfield_height" disabled="true">
	        <option value="1">0%</option>
	        <option value="10">10%</option>
	        <option value="20" selected="true">20%</option>
	     </select>
</tal:block>