<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title i18n:translate="">Dashboard - Admin Manual orders</title>
<tal:block metal:use-macro="../common.html/css" />

</head>

<body>
	<div id="container" class="container">
		<div id="header" class="span-24 last">
			<h2>Eurofoto Productedtor Admin</h2>
			<tal:block metal:use-macro="../common.html/topmenu" />
		</div>
		
		<div class="span-24 last"><h3>Producteditor</h3></div>
        
        <ul>
            <li>Backgrounds</li>
            <li>Cliparts</li>
            <li>Templates</li>
        </ul>
        
   </div>
</body>
</html>