<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<div metal:use-macro="../common.html/head" />
	<div metal:use-macro="../common.html/javascript" />
	<div metal:use-macro="../common.html/stylesheet" />
	
	
	<style type="text/css">
		label{
			width: 200px;
			display: inline-block;
		}
		
	</style>
</head>

<body>
<div class="row text-center hidden-phone header">
	    <img  src="${static:css/portals/stabburet/web/images/preheader.png}" alt="LAG LOKK MED DITT BILDE"/>
        </div>
<div class="container">
   
	
   
	<div class="prepend-4 append-4 last pagedialog">
      <div clas="clear clearfix"></div>
		<h2 style="color: #1077a5;" i18n:translate="">Create new password</h2>

		<form action="/login/forgot-password/verify" method="post">
         
         <div class="error" tal:condition="error" tal:content="error">Something went wrong.</div>
         
		<p>
            <label for="email" i18n:translate="">E-mail:</label>
            <input tal:condition="not:exists:email" type="text" class="title" name="email" id="email" value=""/>
            <input tal:condition="exists:email" type="text" class="title" value="${email}" disabled="1" />
            <input tal:condition="exists:email" type="hidden" value="${email}" name="email" />
         </p>
         
         <p tal:condition="not:exists:code">
            <label for="code" i18n:translate="">Verification Code:</label> 
            <input type="text" class="title" name="code" id="code" value=""/> <a href="/login/forgot-password" i18n:translate="">Missing yours?</a>
         </p>
         <input tal:condition="exists:code" type="hidden" value="${code}" name="code" />
         
         <p>
            <label for="password" i18n:translate="">New password:</label>
            <input type="password" class="title" name="password" id="password" value=""/>
         </p>
         
         <p>
            <label for="repeated" i18n:translate="">Repeat password:</label>
            <input type="password" class="title" name="repeated" id="repeated" value=""/>
         </p>
         
         <br />
         <p style="text-align: right" class="span5">
            <button type="submit" value="Send" class="btn btn-stabburet call-to-action large">
               <tal:block i18n:translate="" tal:omit-tag="">Confirm</tal:block>
            </button>
         </p>
		</form>
	</div>
	
</div>

<script language="JavaScript">
$(document).ready( function() {
   $('input.title:enabled:first').focus();
});
</script>

<div class="footer">
	<div class="container">
		<div metal:use-macro="../../${templates}/common.html/footer" />
	</div>
</div>

</body>
</html>