<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title i18n:translate="">Dashboard - Admin Manual orders</title>
<tal metal:use-macro="../../${templates}/common.html/head" />

<style>
	
	thead{
		background: #eee;
	}
</style>

</head>

<body>
	<div id="container" class="container">
		 <div class="span-4">
			<h1 class="site-logo"><a href="/" title="Go back to frontpage" i18n:attributes="title">Reedfoto</a></h1>
		</div>
		<div class="span-20 last">
			<h2>Reedfoto Orders Admin</h2>
		</div>
		
		
		<div class="span-24 last"><h3>Registrering av manuelle ordrer</h3></div>
		
		 <h4><a href="/partner/reedfoto/manual">Registrer ny ordre</a> | <a href="/partner/reedfoto/manual/filelist/${orderid}">Filliste</a></h4>

		 <div id="content" class="span-20" style="border: 1px solid #ccc; padding: 20px;">

		 <h3>Ordren er bekrefta med ordrenr ${orderid}</h3>
		 Tidspunkt: <span tal:content="order/tidspunkt"></span>
		 
		 
		 <table>
			<thead>
				<tr>
					<td>Artikkelnr</td>
					<td>Tekst</td>
					<td>Antall</td>
					<td>Pris</td>
				</tr>
			</thead>
			<tbody>
				<tr tal:repeat="item orderitems">
					
					<td tal:content="item/artikkelnr"></td>
					<td tal:content="item/tekst"></td>
					<td tal:content="item/antall"></td>
					<td tal:content="item/pris"></td>
					
				</tr>
			</tbody>
			
		 </table>
		 <p tal:content="order/kommentar">
			
		 </p>
		 <!--
		 <IFRAME src="http://www.eurofoto.no/adm_view_orderform_new.php?ordrenr=${orderid}" width="600px" height="800px"></IFRAME>
		 -->
		 
		
		</div>
   </div>
</body>
</html>